<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
      </ion-buttons>
      <ion-title>EDUCATION</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class = "ion-padding">

  <div ion-text-left>
  <h4 [hidden]="hideText">Why are we starting with an Education module? It is 
      important to understand the issue before you start to make changes. You can’t 
      begin to change the world before you understand what is wrong. We want you to 
      learn about how climate change is affecting our planet so you can understand how 
      to best help. </h4>
    </div>
    
    <div align = 'center'>
    <ion-button style="font-size: 20px;" [hidden]="hideButton" (click)="startEdModule()" >Start This Module</ion-button>
    </div>
      
          <!---- ___________________PROGRESS BAR_________________________-->
  <ion-row>
    <div align = "center">  
        <circle-progress 
        [hidden] = "hidePledges"
        [percent]= "x"
        [radius]="70"
        [outerStrokeWidth]="9"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#1ba561'"
        [innerStrokeColor]="'#8fcc90'"
        [animation]="true"
        [animationDuration]="500"
        [imageSrc]= "'./assets/circle_badges/circle-cropped_Ed.png'" 
        [showImage]="true"
        [imageWidth]="120"
        [imageHeight]="120">
        </circle-progress>
     
        <circle-progress 
        [hidden] = "hidePledges"
        [percent]= "x"
        [radius]="70"
        [outerStrokeWidth]="9"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#1ba561'"
        [innerStrokeColor]="'#8fcc90'"
        [animation]="true"
        [animationDuration]="500"
        [imageSrc]= "'./assets/circle_badges/circle-cropped_Ed.png'" 
        [showImage]="true"
        [imageWidth]="120"
        [imageHeight]="120">
        </circle-progress>

        <circle-progress 
        [hidden] = "hidePledges"
        [percent]= "x"
        [radius]="70"
        [outerStrokeWidth]="9"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#1ba561'"
        [innerStrokeColor]="'#8fcc90'"
        [animation]="true"
        [animationDuration]="500"
        [imageSrc]= "'./assets/circle_badges/circle-cropped_Ed.png'" 
        [showImage]="true"
        [imageWidth]="120"
        [imageHeight]="120">
        </circle-progress>

        </div>
      </ion-row>
      
      <div text-center>
      <ion-row>
          <ion-col width-166.66><h5>Your Progress</h5></ion-col>
          <ion-col width-166.66><h5>Team Progress</h5></ion-col>
          <ion-col width-166.66><h5>Total User Progress</h5></ion-col>
      </ion-row>
      </div>

        <br><br><br>

      <h2>HEADER FOR THIS SECTION</h2>

<ion-grid>
    <ion-row>
      <ion-col>
        <ion-item class="ion-padding" routerLink="/ed1" routerDirection="root" [hidden] = "hidePledge1">
          <ion-icon slot="start" color="secondary" name="leaf"></ion-icon>
          <ion-label>Know More Carbon Emissions</ion-label>
          <ion-label>Points: 100</ion-label>
          <ion-label>Pounds: 0</ion-label>
        </ion-item>
      </ion-col>
    
      <ion-col>
        <ion-item class="ion-padding" routerLink="/ed2" routerDirection="root" [hidden] = "hidePledge2">
          <ion-icon slot="start" color="secondary" name="home"></ion-icon>
          <ion-label>Airtight and Alright</ion-label>
          <ion-label>Points: 100</ion-label>
          <ion-label>Pounds: 0</ion-label>
        </ion-item>
      </ion-col>
  
      <ion-col>  
        <ion-item class="ion-padding" routerLink="/ed3" routerDirection="root" [hidden] = "hidePledge3">
          <ion-icon slot="start" color="secondary" name="globe"></ion-icon>
          <ion-label>Scan the Plan</ion-label>
          <ion-label>Points: 200</ion-label>
          <ion-label>Pounds: 0</ion-label>
        </ion-item>
      </ion-col>
    
      <ion-col>
      <ion-item class="ion-padding" routerLink="/ed4" routerDirection="root" [hidden] = "hidePledge4">
          <ion-icon slot="start" color="secondary" name="snow"></ion-icon>
          <ion-label>Haven't You Heard, Spread the Word</ion-label>
          <ion-label>Points: 100</ion-label>
          <ion-label>Pounds: 0</ion-label>
        </ion-item>
      </ion-col>
    
        <ion-col>
        <ion-item class="ion-padding-end" routerLink="/ed5" routerDirection="root" [hidden] = "hidePledge5">
          <ion-icon slot="start" color="secondary" name="calculator"></ion-icon>
          <ion-label>Calcu-Later Carbon Emissions</ion-label>
          <ion-label>Points: 250</ion-label>
          <ion-label>Pounds: 0</ion-label>
        </ion-item>
      </ion-col>
  
    </ion-row>
  </ion-grid>

      <br><br><br>

<ion-grid>
    <ion-row>
      <ion-col>
        <ion-item class="ion-padding" routerLink="/ed1" routerDirection="root" [hidden] = "hidePledge1">
          <ion-icon slot="start" color="secondary" name="leaf"></ion-icon>
          <ion-label>Know More Carbon Emissions</ion-label>
          <ion-label>Points: 100</ion-label>
          <ion-label>Pounds: 0</ion-label>
        </ion-item>
      </ion-col>
    
      <ion-col>
        <ion-item class="ion-padding" routerLink="/ed2" routerDirection="root" [hidden] = "hidePledge2">
          <ion-icon slot="start" color="secondary" name="home"></ion-icon>
          <ion-label>Airtight and Alright</ion-label>
          <ion-label>Points: 100</ion-label>
          <ion-label>Pounds: 0</ion-label>
        </ion-item>
      </ion-col>
  
      <ion-col>  
        <ion-item class="ion-padding" routerLink="/ed3" routerDirection="root" [hidden] = "hidePledge3">
          <ion-icon slot="start" color="secondary" name="globe"></ion-icon>
          <ion-label>Scan the Plan</ion-label>
          <ion-label>Points: 200</ion-label>
          <ion-label>Pounds: 0</ion-label>
        </ion-item>
      </ion-col>
    
      <ion-col>
      <ion-item class="ion-padding" routerLink="/ed4" routerDirection="root" [hidden] = "hidePledge4">
          <ion-icon slot="start" color="secondary" name="snow"></ion-icon>
          <ion-label>Haven't You Heard, Spread the Word</ion-label>
          <ion-label>Points: 100</ion-label>
          <ion-label>Pounds: 0</ion-label>
        </ion-item>
      </ion-col>
    
        <ion-col>
        <ion-item class="ion-padding-end" routerLink="/ed5" routerDirection="root" [hidden] = "hidePledge5">
          <ion-icon slot="start" color="secondary" name="calculator"></ion-icon>
          <ion-label>Calcu-Later Carbon Emissions</ion-label>
          <ion-label>Points: 250</ion-label>
          <ion-label>Pounds: 0</ion-label>
        </ion-item>
      </ion-col>
  
    </ion-row>
  </ion-grid>
  </ion-content>
