<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    <ion-title>MISSion Innovation Leaderboard</ion-title>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!---------------PAGE TITLE------------>
  <div style="text-align: center">
    <h2>Leaderboard</h2>
  </div>

  <!--------------TITLES FOR THE LIST------------->
  <ion-list>
    <ion-list-header>
      <ion-grid>
        <ion-row>
          <ion-col class="text-left" size="5"> Team Name </ion-col>
          <ion-col size = '3.5' class="points">
            Pledges Taken
          </ion-col>
          <ion-col size = '3' class="pounds">
              LBS C0<sub>2</sub> Reduced          
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list-header>

    <ion-grid>

    <!-------------START LIST----------------->

<ion-item>
  <ion-label>
 <ion-row>
  <ion-col size="5.8">
    <div>
      {{this.team1}}
    </div>
  </ion-col>
  <ion-col class="points" size = '3.7'>
    <div>
      {{this.pledges1}}
    </div>
  </ion-col>
  <ion-col size = '2.5' class="pounds"> 
    <div>
      {{this.pounds1}}
    </div>
  </ion-col>
</ion-row>
</ion-label>
</ion-item>

<ion-item>
  <ion-label>
 <ion-row>
  <ion-col size="5.8">
    <div>
      {{this.team2}}
    </div>
  </ion-col>
  <ion-col class="points" size = '3.7'>
    <div>
      {{this.pledges2}}
    </div>
  </ion-col>
  <ion-col class="pounds" size = '2.5'> 
    <div>
      {{this.pounds2}}
    </div>
  </ion-col>
</ion-row>
</ion-label>
</ion-item>

<ion-item>
  <ion-label>
 <ion-row>
  <ion-col size="5.8">
    <div>
      {{this.team3}}
    </div>
  </ion-col>
  <ion-col class="points" size = '3.7'>
    <div>
      {{this.pledges3}}
    </div>
  </ion-col>
  <ion-col class="pounds" size = '2.5'> 
    <div>
      {{this.pounds3}}
    </div>
  </ion-col>
</ion-row>
</ion-label>
</ion-item>

<ion-item>
  <ion-label>
 <ion-row>
  <ion-col size="5.8">
    <div>
      {{this.team4}}
    </div>
  </ion-col>
  <ion-col class="points" size = '3.7'>
    <div>
      {{this.pledges4}}
    </div>
  </ion-col>
  <ion-col class="pounds" size = '2.5'> 
    <div>
      {{this.pounds4}}
    </div>
  </ion-col>
</ion-row>
</ion-label>
</ion-item>

<ion-item>
  <ion-label>
 <ion-row>
  <ion-col size="5.8">
    <div>
      {{this.team5}}
    </div>
  </ion-col>
  <ion-col class="points" size = '3.7'>
    <div>
      {{this.pledges5}}
    </div>
  </ion-col>
  <ion-col class="pounds" size = '2.5'> 
    <div>
      {{this.pounds5}}
    </div>
  </ion-col>
</ion-row>
</ion-label>
</ion-item>

<ion-item>
  <ion-label>
 <ion-row>
  <ion-col size="5.8">
    <div>
      {{this.team6}}
    </div>
  </ion-col>
  <ion-col class="points" size = '3.7'>
    <div>
      {{this.pledges6}}
    </div>
  </ion-col>
  <ion-col class="pounds" size = '2.5'> 
    <div>
      {{this.pounds6}}
    </div>
  </ion-col>
</ion-row>
</ion-label>
</ion-item>

<ion-item>
  <ion-label>
 <ion-row>
  <ion-col size="5.8">
    <div>
      {{this.team7}}
    </div>
  </ion-col>
  <ion-col class="points" size = '3.7'>
    <div>
      {{this.pledges7}}
    </div>
  </ion-col>
  <ion-col class="pounds" size = '2.5'> 
    <div>
      {{this.pounds7}}
    </div>
  </ion-col>
</ion-row>
</ion-label>
</ion-item>

<ion-item>
  <ion-label>
 <ion-row>
  <ion-col size="5.8">
    <div>
      {{this.team8}}
    </div>
  </ion-col>
  <ion-col class="points" size = '3.7'>
    <div>
      {{this.pledges8}}
    </div>
  </ion-col>
  <ion-col class="pounds" size = '2.5'> 
    <div>
      {{this.pounds8}}
    </div>
  </ion-col>
</ion-row>
</ion-label>
</ion-item>

<ion-item>
  <ion-label>
 <ion-row>
  <ion-col size="5.8">
    <div>
      {{this.team9}}
    </div>
  </ion-col>
  <ion-col class="points" size = '3.7'>
    <div>
      {{this.pledges9}}
    </div>
  </ion-col>
  <ion-col class="pounds" size = '2.5'> 
    <div>
      {{this.pounds9}}
    </div>
  </ion-col>
</ion-row>
</ion-label>
</ion-item>

<ion-item>
  <ion-label>
 <ion-row>
  <ion-col size="5.8">
    <div>
      {{this.team10}}
    </div>
  </ion-col>
  <ion-col class="points" size = '3.7'>
    <div>
      {{this.pledges10}}
    </div>
  </ion-col>
  <ion-col class="pounds" size = '2.5'> 
    <div>
      {{this.pounds10}}
    </div>
  </ion-col>
</ion-row>
</ion-label>
</ion-item>

</ion-grid>
<ion-grid>
  <div align-items-center>
    <ion-button (click) = "orderByPledges()">Order by Completed Pledges</ion-button>
  </div>
</ion-grid>

</ion-list>
</ion-content>
