<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    <ion-title>MISSion Innovation Leaderboard</ion-title>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-grid>
 <ion-row>
  <ion-col>
    <div>
      {{this.team1}}
    </div>
  </ion-col>
  <ion-col>
    <div>
      Succesful Pledges
    </div>
  </ion-col>
  <ion-col>
    <div>
      {{this.pounds1}}
    </div>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <div>
      {{this.team2}}
    </div>
  </ion-col>
  <ion-col>
    <div>
      Succesful Pledges
    </div>
  </ion-col>
  <ion-col>
    <div>
      {{this.pounds2}}
    </div>
  </ion-col>
 </ion-row>
 <ion-row>
  <ion-col>
    <div>
      {{this.team3}}
    </div>
  </ion-col>
  <ion-col>
    <div>
      Succesful Pledges
    </div>
  </ion-col>
  <ion-col>
    <div>
      {{this.pounds3}}
    </div>
  </ion-col>
 </ion-row>
 <ion-row>
  <ion-col>
    <div>
      {{this.team4}}
    </div>
  </ion-col>
  <ion-col>
    <div>
      Succesful Pledges
    </div>
  </ion-col>
  <ion-col>
    <div>
      {{this.pounds4}}
    </div>
  </ion-col>
 </ion-row>
 <ion-row>
  <ion-col>
    <div>
      {{this.team5}}
    </div>
  </ion-col>
  <ion-col>
    <div>
      Succesful Pledges
    </div>
  </ion-col>
  <ion-col>
    <div>
      {{this.pounds5}}
    </div>
  </ion-col>
 </ion-row>
 <ion-row>
  <ion-col>
    <div>
      {{this.team6}}
    </div>
  </ion-col>
  <ion-col>
    <div>
      Succesful Pledges
    </div>
  </ion-col>
  <ion-col>
    <div>
      {{this.pounds6}}
    </div>
  </ion-col>
 </ion-row>
 <ion-row>
  <ion-col>
    <div>
      {{this.team7}}
    </div>
  </ion-col>
  <ion-col>
    <div>
      Succesful Pledges
    </div>
  </ion-col>
  <ion-col>
    <div>
      {{this.pounds7}}
    </div>
  </ion-col>
 </ion-row>
 <ion-row>
  <ion-col>
    <div>
      {{this.team8}}
    </div>
  </ion-col>
  <ion-col>
    <div>
      Succesful Pledges
    </div>
  </ion-col>
  <ion-col>
    <div>
      {{this.pounds8}}
    </div>
  </ion-col>
 </ion-row>
 <ion-row>
  <ion-col>
    <div>
      {{this.team9}}
    </div>
  </ion-col>
  <ion-col>
    <div>
      Succesful Pledges
    </div>
  </ion-col>
  <ion-col>
    <div>
      {{this.pounds9}}
    </div>
  </ion-col>
 </ion-row>
 <ion-row>
  <ion-col>
    <div>
      {{this.team10}}
    </div>
  </ion-col>
  <ion-col>
    <div>
      Succesful Pledges
    </div>
  </ion-col>
  <ion-col>
    <div>
      {{this.pounds10}}
    </div>
  </ion-col>
 </ion-row>
</ion-grid>


</ion-content>
