<ion-content class = "welcomeContent" padding>
  <ion-grid>
    <ion-col size = '6'>
    
      <ion-text class = "welcomeHeader"><font color = #1ba561>
    
        <br><br>
    
        We know changing habits is hard,</font>
      </ion-text>
    </ion-col>
    
    <ion-row>
      <ion-text class = "welcomeText" padding-bottom = 18px>
        
        <br><br>

        and that's why we plan to reward you for your 
        <font color = #92c83e>sustained carbon consciousness</font>
         with the help of several local businesses. 
         Join the movement on the next page to get started.
      </ion-text>
    
    <ion-buttons padding-top>
      <ion-button routerLink = '/signup' routerDirection = "root">
        <ion-icon slot="icon-only" name="arrow-round-forward" color="tertiary"></ion-icon>
      </ion-button>
    </ion-buttons></ion-row>
      
  </ion-grid>
    
</ion-content>
