<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/heating-and-cooling"></ion-back-button>
    </ion-buttons>
    <ion-title>Reduce That Energy Use</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">
  <ion-grid>

     <p [hidden] = "kidPledge">   

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>

            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>

          </ion-card-header>
         
          <ion-card-content>
           <p> According to the Department of Energy, by moving your <strong class="vocabulary">air conditioning unit</strong> out of direct 
             heat and humidity you can drastically improve its <strong class="vocabulary">energy efficiency.</strong> Heating & cooling is one 
             of the greatest users of energy throughout the United States. Two out of three American homes 
             have an air conditioning unit, and within these homes, 6% of this energy use is devoted purely 
             to running an air conditioner. </p>
             <br> 
            <p><strong class="vocabulary">Air conditioning units</strong> and <strong class="vocabulary">evaporative coolers</strong> work like refrigerators: they transfer heat from 
               the interior of the home to the warm outdoor environment. Because an excessive amount of humidity 
               decreases the body’s ability to perspire and cool itself down, many <strong class="vocabulary">air conditioning units</strong> also 
               reduce the amount of moisture that’s in the air. Because of the way that <strong class="vocabulary">air conditioning units</strong> work, 
               they are much less efficient in an area that has a high humidity and high heat. </p>
                <br>
              <p>A quick and easy way to help your thermostat run more efficiently is to turn on a bathroom fan while
                 showering or taking a bath. This will reduce the humidity in your home and help your <strong class="vocabulary">AC unit</strong> to use far 
                 less energy. If possible and safe, you may also want to consider moving your <strong class="vocabulary">AC unit</strong> out of direct heat 
                 and into a space in which your home stays at a moderate temperature year round. </p>
          </ion-card-content>
        </ion-card>
  
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Reduce That Energy Use</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
              <p>Find the main AC unit in your home. Is it in an efficient spot, out of direct heat and high 
                humidity? Is there another space within your home that you could relocate your air conditioning 
                unit to that may help your family save money? </p> 
              <br>
              <p>Lead the discussion in your home about air conditioning unit efficiency and the impact that the 
                position of your unit can have on your energy costs and carbon footprint. Consider changing household 
                habits or moving your unit to make your home more efficient.  </p>
          </ion-card-content>
        </ion-card>

        <br>
      </p> 
    

            <p [hidden] = "teenPledge">
              
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
                <p> According to the Department of Energy, by moving your <strong class="vocabulary">air conditioning unit</strong> out of direct 
             heat and humidity you can drastically improve its <strong class="vocabulary">energy efficiency.</strong> Heating & cooling is one 
             of the greatest users of energy throughout the United States. Two out of three American homes 
             have an air conditioning unit, and within these homes, 6% of this energy use is devoted purely 
             to running an air conditioner. </p>
             <br> 
            <p><strong class="vocabulary">Air conditioning units</strong> and <strong class="vocabulary">evaporative coolers</strong> work like refrigerators: they transfer heat from 
               the interior of the home to the warm outdoor environment. Because an excessive amount of humidity 
               decreases the body’s ability to perspire and cool itself down, many <strong class="vocabulary">air conditioning units</strong> also 
               reduce the amount of moisture that’s in the air. Because of the way that <strong class="vocabulary">air conditioning units</strong> work, 
               they are much less efficient in an area that has a high humidity and high heat. </p>
                <br>
              <p>A quick and easy way to help your thermostat run more efficiently is to turn on a bathroom fan while
                 showering or taking a bath. This will reduce the humidity in your home and help your <strong class="vocabulary">AC unit</strong> to use far 
                 less energy. If possible and safe, you may also want to consider moving your <strong class="vocabulary">AC unit</strong> out of direct heat 
                 and into a space in which your home stays at a moderate temperature year round. </p>
          </ion-card-content>
        </ion-card>
    
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Reduce That Energy Use</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
            <p>Find the main AC unit in your home. Is it in an efficient spot, out of direct heat and high 
              humidity? Is there another space within your home that you could relocate your air conditioning 
              unit to that may help your family save money? </p> 
            <br>
            <p>Lead the discussion in your home about air conditioning unit efficiency and the impact that the 
              position of your unit can have on your energy costs and carbon footprint. Consider changing household 
              habits or moving your unit to make your home more efficient.  </p>
          </ion-card-content>
        </ion-card>
        
        <br>
     </p> 
    
            <p [hidden] = "adultPledge">
              
        
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
                 <p> According to the Department of Energy, by moving your <strong class="vocabulary">air conditioning unit</strong> out of direct 
             heat and humidity you can drastically improve its <strong class="vocabulary">energy efficiency.</strong> Heating & cooling is one 
             of the greatest users of energy throughout the United States. Two out of three American homes 
             have an air conditioning unit, and within these homes, 6% of this energy use is devoted purely 
             to running an air conditioner. </p>
             <br> 
            <p><strong class="vocabulary">Air conditioning units</strong> and <strong class="vocabulary">evaporative coolers</strong> work like refrigerators: they transfer heat from 
               the interior of the home to the warm outdoor environment. Because an excessive amount of humidity 
               decreases the body’s ability to perspire and cool itself down, many <strong class="vocabulary">air conditioning units</strong> also 
               reduce the amount of moisture that’s in the air. Because of the way that <strong class="vocabulary">air conditioning units</strong> work, 
               they are much less efficient in an area that has a high humidity and high heat. </p>
                <br>
              <p>A quick and easy way to help your thermostat run more efficiently is to turn on a bathroom fan while
                 showering or taking a bath. This will reduce the humidity in your home and help your <strong class="vocabulary">AC unit</strong> to use far 
                 less energy. If possible and safe, you may also want to consider moving your <strong class="vocabulary">AC unit</strong> out of direct heat 
                 and into a space in which your home stays at a moderate temperature year round. </p>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Reduce That Energy Use</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
            <p>Find the main AC unit in your home. Is it in an efficient spot, out of direct heat and high 
              humidity? Is there another space within your home that you could relocate your air conditioning 
              unit to that may help your family save money? </p> 
            <br>
            <p>Lead the discussion with roommates and/or family about air conditioning unit efficiency and the impact that the 
              position of your unit can have on your energy costs and carbon footprint. Consider changing household 
              habits or moving your unit to make your home more efficient.  </p>
          </ion-card-content>
        </ion-card>
        
           <br>   
         </p>

  
    
         <div class = "ion-text-center" [hidden] = "hideVerfCard">
          <h4 [hidden]="kidPledge">  I pledge to have a discussion with my family about repositioning our air conditioning unit if we do not have central air. </h4>
          <h4 [hidden]="teenPledge"> I pledge to have a discussion with my family about repositioning our air conditioning unit if we do not have central air.  </h4>
          <h4 [hidden]="adultPledge"> I pledge to move my air conditioning unit to a place in which it can be more energy efficient if I do not have central air. </h4>
    </div> 

   <p [hidden] = "kidPledge"> 
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      Did you have to move your AC unit? Why is this a better position for its energy efficiency?
      <ion-row [hidden] = "useCamera">
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3" [hidden] = "useCamera">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
        
        <ion-row [hidden] = "dontUseCamera">
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>
            </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 42 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
   </p>


   <p [hidden] = "teenPledge">
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      Did you have to move your AC unit? Why is this a better position for its energy efficiency?
      <ion-row [hidden] = "useCamera">
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3" [hidden] = "useCamera">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
        
        <ion-row [hidden] = "dontUseCamera">
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>
            </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 42 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
</p>


<p [hidden] = "adultPledge">
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      Did you have to move your AC unit? Why is this a better position for its energy efficiency?
      <ion-row [hidden] = "useCamera">
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3" [hidden] = "useCamera">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
        
        <ion-row [hidden] = "dontUseCamera">
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>
            </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 42 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
</p>

  <ion-card [hidden]  ="pledgeSubmittedCard">
    <ion-card-header>
      <ion-card-title>
        Thank you for taking the pledge! 
      </ion-card-title>
      <ion-card-content>
        <p [hidden] = "pledgeIsPending">Your pledge submission is currently pending.</p>
        <p [hidden] = "pledgeIsApproved">Your pledge submission has been approved!</p><br [hidden] = "hideYourSubmissionHeading"><br [hidden] = "hideYourSubmissionHeading">
        <p [hidden] = "hideYourSubmissionHeading">Your submission: </p>
        <p>
          <em>{{this.pledgeContent}}</em>
        </p>
      </ion-card-content>
    </ion-card-header>  
  </ion-card>

</ion-grid>
</ion-content>
