<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/education"></ion-back-button>
    <ion-title>SCAN THE PLAN</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <div text-center>
        <h4> What is your MISSion? To help the City of Fort Collins reach its goal of carbon neutrality by 2050! This document
      contains details on what Fort Collin's plan is and why it is necessary.</h4>
        <ion-item href="https://www.fcgov.com/environmentalservices/pdf/cap-framework-2015.pdf"> <!--This isnt loading in the app right now-->
          <ion-icon slot="start" color="danger" name="link"></ion-icon>
          <ion-label>City of Fort Collins Carbon Initiative</ion-label>
        </ion-item>
      </div>

      <Br><Br>
  
      <div text-center>
          <h4>I pledge to team up with the City of Fort Collins to reach the city carbon neutrality goal by 2050.</h4>
      <ion-button fill="solid" color="secondary" size="large" expand="block" routerLink="/verify-text" routerDirection="root" >Take the Pledge!</ion-button>
      </div>

</ion-content>