<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/education"></ion-back-button>
    </ion-buttons>
    <ion-title>Scan the Plan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">
  <ion-grid>


  <!----_________________________KID VIEW________________________________-->

<p [hidden] = "kidPledge">

  <ion-card class="pledgeCard">
    <ion-card-header>
      <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
      <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>The City of Fort Collins, CO has a plan to reach carbon neutrality 
                      by the year 2050. Carbon neutrality is when a net zero carbon footprint is reached by 
                      balancing carbon emissions and the removal of carbon.
      </ion-card-content>
    </ion-card>

    <br>
    <ion-item href="https://www.fcgov.com/climateaction/background.php ">
      <ion-icon slot="start" color="danger" name="link"></ion-icon>
      <ion-label>Fort Collins Climate Action Goals</ion-label>
    </ion-item>
        <br>
      
  <ion-card class="pledgeCard">
    <ion-card-header>
      <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
      <ion-card-subtitle>Scan the Plan</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-card-header>
        <ion-card-subtitle>Read the plan!</ion-card-subtitle>
      </ion-card-header>
      
      <p>
          Open the City of Fort Collins Climate Action Plan we have attached below and read it!
          <br>
          We know it’s long, but Pretty Brainy has written an outline of the document to help you 
          locate key points. This outline includes a basic summary of the document and page 
          numbers where important sections of the Climate Action Plan are located! 
      </p>
    </ion-card-content>
    </ion-card>

    <br>
    <ion-item href="https://www.fcgov.com/climateaction/reports.php">
      <ion-icon slot="start" color="danger" name="link"></ion-icon>
      <ion-label>Fort Collins Climate Action Plan</ion-label>
    </ion-item>

    <br>

          <ion-button expand = "full" routerLink = "/ed3docs" routerDirection = "root">
            Fort Collins Climate Action Plan Summary  
          </ion-button>
          <br>

  <ion-card>
    <ion-card-content>
  <ion-card-header>
  <ion-card-subtitle>What does the Climate Action Plan mean to you?</ion-card-subtitle>
  </ion-card-header>
  
        <p>
            After reading the plan, discuss it with friends or family. 
            What parts of the document stand out to you? 
            What are your own thoughts about Fort Collins’ goal of becoming carbon neutral by 2050? 
        </p>

    </ion-card-content>
  </ion-card>

</p>



 <!----_________________________TEEN VIEW________________________________-->

  <p [hidden] = "teenPledge">
      
  <ion-card class="pledgeCard">
    <ion-card-header>
      <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
      <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>The City of Fort Collins, CO has a plan to reach carbon neutrality by the year 2050. Carbon neutrality is when a net zero carbon footprint is reached by balancing carbon emissions and the removal of carbon.

      </ion-card-content>
    </ion-card> 

    <br>
    <ion-item href="https://www.fcgov.com/climateaction/background.php ">
      <ion-icon slot="start" color="danger" name="link"></ion-icon>
      <ion-label>Fort Collins Climate Action Goals</ion-label>
    </ion-item>
    <br>

      
  <ion-card class="pledgeCard">
    <ion-card-header>
      <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
      <ion-card-subtitle>Scan the Plan</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-card-header>
        <ion-card-subtitle>Read the plan!</ion-card-subtitle>
      </ion-card-header>
      <p>
          Open the City of Fort Collins Climate Action Plan we have attached below and read it! <br> 
          We know it’s long, but Pretty Brainy has written an outline of the document to help you locate key points. 
          This outline includes a basic summary of the document and page numbers where important 
          sections of the Climate Action Plan are located! 
        </p>
      </ion-card-content>
    </ion-card>

    <br>
        <ion-item href="https://www.fcgov.com/climateaction/reports.php">
          <ion-icon slot="start" color="danger" name="link"></ion-icon>
          <ion-label>Fort Collins Climate Action Plan</ion-label>
        </ion-item>
    
               <br>
    
              <ion-button expand = "full" routerLink = "/ed3docs" routerDirection = "root">
                Fort Collins Climate Action Plan Summary  
              </ion-button>
  <br>

  <ion-card>
    <ion-card-content>
  <ion-card-header>
  <ion-card-subtitle>What does the Climate Action Plan mean to you?</ion-card-subtitle>
  </ion-card-header>
  
        <p>
            After reading the plan, discuss it with friends or family. 
            What parts of the document stand out to you? 
            What are your own thoughts about Fort Collins’ goal of becoming carbon neutral by 2050? 
        </p>

    </ion-card-content>
  </ion-card>

</p>


 <!----_________________________ADULT VIEW________________________________-->

<p [hidden] = "adultPledge">
      
  <ion-card class="pledgeCard">
    <ion-card-header>
      <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
      <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>The City of Fort Collins, CO has a plan to reach carbon neutrality by the year 2050. Carbon neutrality is when a net zero carbon footprint is reached by balancing carbon emissions and the removal of carbon.

      </ion-card-content>
    </ion-card>

    <br>
    <ion-item href="https://www.fcgov.com/climateaction/background.php ">
      <ion-icon slot="start" color="danger" name="link"></ion-icon>
      <ion-label>Fort Collins Climate Action Goals</ion-label>
    </ion-item>
    <br>
      
  <ion-card class="pledgeCard">
    <ion-card-header>
      <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
      <ion-card-subtitle>Scan the Plan</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-card-header>
        <ion-card-subtitle>Read the plan!</ion-card-subtitle>
      </ion-card-header>
      <p>
          Open the City of Fort Collins Climate Action Plan we have attached below and read it! <br>
          We know it’s long, but Pretty Brainy has written an outline of the document to help you 
          locate key points. This outline includes a basic summary of the document and page numbers where 
          important sections of the Climate Action Plan are located! 
        </p>
      </ion-card-content>
    </ion-card>

        <br>
        <ion-item href="https://www.fcgov.com/climateaction/reports.php">
          <ion-icon slot="start" color="danger" name="link"></ion-icon>
          <ion-label>Fort Collins Climate Action Plan</ion-label>
        </ion-item>
    
               <br>
    
              <ion-button expand = "full" routerLink = "/ed3docs" routerDirection = "root">
                Fort Collins Climate Action Plan Summary  
              </ion-button>
              <br>
  
  <ion-card>
    <ion-card-content>
  <ion-card-header>
  <ion-card-subtitle>What does the Climate Action Plan mean to you?</ion-card-subtitle>
  </ion-card-header>
  
        <p>
            After reading the plan, discuss it with friends or family. What parts of the document stand out to you? 
            What are your own thoughts about Fort Collins’ goal of becoming carbon neutral by 2050? 
        </p>

    </ion-card-content>
  </ion-card>
       
  </p>

  <Br>

  <div class = "ion-text-center" [hidden] = "hideVerfCard">
      <h4 [hidden]="kidPledge">I pledge to read and discuss the City of Fort Collins Climate Action Plan.</h4>
      <h4 [hidden]="teenPledge">I pledge to read and discuss the City of Fort Collins Climate Action Plan.</h4>
      <h4 [hidden]="adultPledge">I pledge to read and discuss the City of Fort Collins Climate Action Plan.</h4>
  </div>
    
  <p [hidden] = "kidPledge"> 

    <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
      <ion-card-header> Verify your impact. </ion-card-header>
        <ion-card-subtitle>What parts of the document stand out to you? What are your own thoughts about Fort Collins’ goal of becoming carbon neutral by 2050?</ion-card-subtitle>
      <ion-card-content>
        <ion-row>
          <ion-col size="9">
            <ion-item>
              <ion-label position="stacked">Completion Details:</ion-label>
              <ion-textarea [(ngModel)]="verification" type="text" 
              placeholder="Type your response here!"></ion-textarea>
            </ion-item>
          </ion-col>
  
          <ion-col size="3">
            <ion-button (click)="takePicture()">
              <ion-icon slot="icon-only" name="camera"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <span *ngIf="pledgePicture">Picture taken!</span>
  
        <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
          Earn 200 Points
        </ion-button>
      </ion-card-content>
    </ion-card>
     </p>
  
  
     <p [hidden] = "teenPledge">
    <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
      <ion-card-header> Verify your impact. </ion-card-header>
      <ion-card-subtitle>What parts of the document stand out to you? What are your own thoughts about Fort Collins’ goal of becoming carbon neutral by 2050?</ion-card-subtitle>
      <ion-card-content>
        <ion-row>
          <ion-col size="9">
            <ion-item>
              <ion-label position="stacked">Completion Details:</ion-label>
              <ion-textarea [(ngModel)]="verification" type="text" 
              placeholder="Type your response here!"></ion-textarea>
            </ion-item>
          </ion-col>
  
          <ion-col size="3">
            <ion-button (click)="takePicture()">
              <ion-icon slot="icon-only" name="camera"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <span *ngIf="pledgePicture">Picture taken!</span>
  
        <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
          Earn 200 Points
        </ion-button>
      </ion-card-content>
    </ion-card>
  </p>
  
  
  <p [hidden] = "adultPledge">
    <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
      <ion-card-header> Verify your impact. </ion-card-header>
      <ion-card-subtitle>What parts of the document stand out to you? What are your own thoughts about Fort Collins’ goal of becoming carbon neutral by 2050?</ion-card-subtitle>
      <ion-card-content>
        <ion-row>
          <ion-col size="9">
            <ion-item>
              <ion-label position="stacked">Completion Details:</ion-label>
              <ion-textarea [(ngModel)]="verification" type="text" 
              placeholder="Type your response here!"></ion-textarea>
            </ion-item>
          </ion-col>
  
          <ion-col size="3">
            <ion-button (click)="takePicture()">
              <ion-icon slot="icon-only" name="camera"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <span *ngIf="pledgePicture">Picture taken!</span>
  
        <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
          Earn 200 Points
        </ion-button>
      </ion-card-content>
    </ion-card>
  </p>

  <ion-card [hidden]  ="pledgeSubmittedCard">
    <ion-card-header>
      <ion-card-title>
        Thank you for taking the pledge! 
      </ion-card-title>
      <ion-card-content>
        <p [hidden] = "pledgeIsPending">Your pledge submission is currently pending.</p>
        <p [hidden] = "pledgeIsApproved">Your pledge submission has been approved!</p><br [hidden] = "hideYourSubmissionHeading"><br [hidden] = "hideYourSubmissionHeading">
        <p [hidden] = "hideYourSubmissionHeading">Your submission: </p>
        <p>
          <em>{{this.pledgeContent}}</em>
        </p>
      </ion-card-content>
    </ion-card-header>  
  </ion-card>


</ion-grid>
</ion-content>
