<ion-header>
  <ion-toolbar>
    <ion-title>businesses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div align="center">
        <h3>If you know of any local businesses who might want to donate products to our cause please submit their name below. </h3>
        <ion-item>
            <ion-input name='businessName' type="string" placeholder="Business Name" required></ion-input>
        </ion-item>
        <ion-button (click)="getBusinesses()" style="font-size: 20px;">Submit</ion-button>
     </div>
</ion-content>
