<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/heating-and-cooling"></ion-back-button>
    </ion-buttons>
    <ion-title>Don’t Be a Bore, Close the Door</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">
  <ion-grid>

     <p [hidden] = "kidPledge">   

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>

            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>

          </ion-card-header>
         
          <ion-card-content>
           <p> You can lose up to 30% of the heating or cooling in your home through windows. 
             By practicing energy-efficient techniques with the windows and doors in your home,
              you can help decrease your carbon footprint and your energy bill.  </p>
          </ion-card-content>
        </ion-card>
  
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Don’t Be a Bore, Close the Door</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
              <p>Make sure you are always closing your doors and windows when your air conditioner and furnace are running!
                 If you would rather use natural temperature control by opening or closing your windows, don’t turn on your 
                 air conditioning or furnace. Make sure you are doing this, and start the conversation with your parents about 
                 home energy efficiency and what you can do to make your windows more efficient. Talk to your parents about what 
                 steps they are willing to take to improve your window efficiency and which energy efficiency tips would work best 
                 for your household. Below are some tips for practicing efficient window and door use year-round in your home.</p> 
          </ion-card-content>
        </ion-card>


          <ion-card>
            <ion-card-header>
              <ion-card-title class = "content-heading">Helpful Tips!</ion-card-title>
            </ion-card-header>

          <ion-card-content>
            <p>One of the most inexpensive ways you can make your home more energy efficient is to utilize window coverings and the 
              sun to your advantage. The south and west facing windows tend to get the most light in most homes, so monitoring those 
              windows will make the biggest effect on your home. Always remember that the sun is the best free furnace your home can 
              get! If you’re looking to invest in new window attachments to make your home more energy efficient, check out the energy 
              department’s recommendations for window attachments here (<a href="https://www.energy.gov/energysaver/energy-efficient-window-attachments">https://www.energy.gov/energysaver/energy-efficient-window-attachments</a>).  </p>
              <br>
            <p> Another way to improve the efficiency of your home is to update or replace older windows. Start by checking all of the 
              windows in your home for air leaks. If you need more information on how to recognize these leaks, check out this site 
              (<a href="https://www.energy.gov/energysaver/weatherize/air-sealing-your-home/detecting-air-leaks">https://www.energy.gov/energysaver/weatherize/air-sealing-your-home/detecting-air-leaks</a>).</p>
              <br>
            <p>Next caulk and weatherstrip all of your windows that will be an energy drain.  DIY info on caulking your windows is at
              (<a href="https://www.energy.gov/energysaver/weatherize/air-sealing-your-home/caulking">https://www.energy.gov/energysaver/weatherize/air-sealing-your-home/caulking</a>).
              And learn how to weather strip your windows on your own, too. (<a href="https://www.energy.gov/energysaver/weatherize/air-sealing-your-home/weatherstripping">https://www.energy.gov/energysaver/weatherize/air-sealing-your-home/weatherstripping</a>).
              If you choose to replace your windows to improve your home’s energy efficiency, make sure they are Energy Star certified to get the best results. </p>
            </ion-card-content>
          </ion-card>

          <ion-card>
            <ion-card-content>
            <p>Warm Weather Tips: 
              <br>
              1. Install window drapes or blinds that can reflect heat away from your home. If it’s possible, try out exterior shades (they reflect light more effectively). 
              <br>
              2. Close the curtains on your south- and west-facing windows during the day or apply reflective and sun-control film to these windows. 
              <br>
              3. If you live in particularly hot climates, consider investing in these products for all of your windows. 
            </p>
              <br>
            <p>Cold Weather Tips:  
              <br>
              1. Install tight-fitting shades to drafty windows. 
              <br>
              2. Close your curtains at night to prevent drafts and open them in the morning to allow the sunlight to warm your home. 
              <br>
              3. To prevent heat from escaping your home, apply a low-emissivity film (or low-e film) to the outside of your home and ensure that all of your windows are weatherized for winter. 
            </p>
          </ion-card-content>
          </ion-card>

        <br>
      </p> 
    

            <p [hidden] = "teenPledge">
              
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p> You can lose up to 30% of the heating or cooling in your home through windows. 
              By practicing energy-efficient techniques with the windows and doors in your home,
               you can help decrease your carbon footprint and your energy bill.  </p>
          </ion-card-content>
        </ion-card>
    
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Don’t Be a Bore, Close the Door</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
              <p>Make sure you are always closing your doors and windows when your air conditioner and furnace are running!
                 If you would rather use natural temperature control by opening or closing your windows, don’t turn on your 
                 air conditioning or furnace. Make sure you are doing this, and start the conversation with your parents about 
                 home energy efficiency and what you can do to make your windows more efficient. Talk to your parents about what 
                 steps they are willing to take to improve your window efficiency and which energy efficiency tips would work best 
                 for your household. Below are some tips for practicing efficient window and door use year-round in your home.</p> 
          </ion-card-content>
        </ion-card>


          <ion-card>
            <ion-card-header>
              <ion-card-title class = "content-heading">Helpful Tips!</ion-card-title>
            </ion-card-header>

          <ion-card-content>
            <p>One of the most inexpensive ways you can make your home more energy efficient is to utilize window coverings and the 
              sun to your advantage. The south and west facing windows tend to get the most light in most homes, so monitoring those 
              windows will make the biggest effect on your home. Always remember that the sun is the best free furnace your home can 
              get! If you’re looking to invest in new window attachments to make your home more energy efficient, check out the energy 
              department’s recommendations for window attachments here (<a href="https://www.energy.gov/energysaver/energy-efficient-window-attachments">https://www.energy.gov/energysaver/energy-efficient-window-attachments</a>).  </p>
              <br>
            <p> Another way to improve the efficiency of your home is to update or replace older windows. Start by checking all of the 
              windows in your home for air leaks. If you need more information on how to recognize these leaks, check out this site 
              (<a href="https://www.energy.gov/energysaver/weatherize/air-sealing-your-home/detecting-air-leaks">https://www.energy.gov/energysaver/weatherize/air-sealing-your-home/detecting-air-leaks</a>).</p>
              <br>
            <p>Next caulk and weatherstrip all of your windows that will be an energy drain.  DIY info on caulking your windows is at
              (<a href="https://www.energy.gov/energysaver/weatherize/air-sealing-your-home/caulking">https://www.energy.gov/energysaver/weatherize/air-sealing-your-home/caulking</a>).
              And learn how to weather strip your windows on your own, too. (<a href="https://www.energy.gov/energysaver/weatherize/air-sealing-your-home/weatherstripping">https://www.energy.gov/energysaver/weatherize/air-sealing-your-home/weatherstripping</a>).
              If you choose to replace your windows to improve your home’s energy efficiency, make sure they are Energy Star certified to get the best results. </p>
            </ion-card-content>
          </ion-card>

          <ion-card>
            <ion-card-content>
            <p>Warm Weather Tips: 
              <br>
              1. Install window drapes or blinds that can reflect heat away from your home. If it’s possible, try out exterior shades (they reflect light more effectively). 
              <br>
              2. Close the curtains on your south- and west-facing windows during the day or apply reflective and sun-control film to these windows. 
              <br>
              3. If you live in particularly hot climates, consider investing in these products for all of your windows. 
            </p>
              <br>
            <p>Cold Weather Tips:  
              <br>
              1. Install tight-fitting shades to drafty windows. 
              <br>
              2. Close your curtains at night to prevent drafts and open them in the morning to allow the sunlight to warm your home. 
              <br>
              3. To prevent heat from escaping your home, apply a low-emissivity film (or low-e film) to the outside of your home and ensure that all of your windows are weatherized for winter. 
            </p>
          </ion-card-content>
          </ion-card>

        <br>
     </p> 
    
            <p [hidden] = "adultPledge">
              
        
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p> You can lose up to 30% of the heating or cooling in your home through windows. 
              By practicing energy-efficient techniques with the windows and doors in your home,
               you can help decrease your carbon footprint and your energy bill. </p>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Don’t Be a Bore, Close the Door</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
              <p>Make sure you are always closing your doors and windows when your air conditioner and furnace are running!
                 If you would rather use natural temperature control by opening or closing your windows, don’t turn on your 
                 air conditioning or furnace. Make sure you are doing this, and start the conversation with your family or roommates about 
                 home energy efficiency and what you can do to make your windows more efficient. Talk to your family or roommates about what 
                 steps they are willing to take to improve your window efficiency and which energy efficiency tips would work best 
                 for your household. Below are some tips for practicing efficient window and door use year-round in your home.</p> 
          </ion-card-content>
        </ion-card>


          <ion-card>
            <ion-card-header>
              <ion-card-title class = "content-heading">Helpful Tips!</ion-card-title>
            </ion-card-header>

          <ion-card-content>
            <p>One of the most inexpensive ways you can make your home more energy efficient is to utilize window coverings and the 
              sun to your advantage. The south and west facing windows tend to get the most light in most homes, so monitoring those 
              windows will make the biggest effect on your home. Always remember that the sun is the best free furnace your home can 
              get! If you’re looking to invest in new window attachments to make your home more energy efficient, check out the energy 
              department’s recommendations for window attachments here (<a href="https://www.energy.gov/energysaver/energy-efficient-window-attachments">https://www.energy.gov/energysaver/energy-efficient-window-attachments</a>).  </p>
              <br>
            <p> Another way to improve the efficiency of your home is to update or replace older windows. Start by checking all of the 
              windows in your home for air leaks. If you need more information on how to recognize these leaks, check out this site 
              (<a href="https://www.energy.gov/energysaver/weatherize/air-sealing-your-home/detecting-air-leaks">https://www.energy.gov/energysaver/weatherize/air-sealing-your-home/detecting-air-leaks</a>).</p>
              <br>
            <p>Next caulk and weatherstrip all of your windows that will be an energy drain.  DIY info on caulking your windows is at
              (<a href="https://www.energy.gov/energysaver/weatherize/air-sealing-your-home/caulking">https://www.energy.gov/energysaver/weatherize/air-sealing-your-home/caulking</a>).
              And learn how to weather strip your windows on your own, too. (<a href="https://www.energy.gov/energysaver/weatherize/air-sealing-your-home/weatherstripping">https://www.energy.gov/energysaver/weatherize/air-sealing-your-home/weatherstripping</a>).
              If you choose to replace your windows to improve your home’s energy efficiency, make sure they are Energy Star certified to get the best results. </p>
            </ion-card-content>
          </ion-card>

          <ion-card>
            <ion-card-content>
            <p>Warm Weather Tips: 
              <br>
              1. Install window drapes or blinds that can reflect heat away from your home. If it’s possible, try out exterior shades (they reflect light more effectively). 
              <br>
              2. Close the curtains on your south- and west-facing windows during the day or apply reflective and sun-control film to these windows. 
              <br>
              3. If you live in particularly hot climates, consider investing in these products for all of your windows. 
            </p>
              <br>
            <p>Cold Weather Tips:  
              <br>
              1. Install tight-fitting shades to drafty windows. 
              <br>
              2. Close your curtains at night to prevent drafts and open them in the morning to allow the sunlight to warm your home. 
              <br>
              3. To prevent heat from escaping your home, apply a low-emissivity film (or low-e film) to the outside of your home and ensure that all of your windows are weatherized for winter. 
            </p>
          </ion-card-content>
          </ion-card>
        
           <br>   
         </p>

  
    
         <div class = "ion-text-center" [hidden] = "hideVerfCard">
          <h4 [hidden]="kidPledge"> I pledge to close my doors and windows when my air conditioner or furnace is running. </h4>
          <h4 [hidden]="teenPledge"> I pledge to close my doors and windows when my air conditioner or furnace is running.  </h4>
          <h4 [hidden]="adultPledge"> I pledge to close my doors and windows when my air conditioner or furnace is running. </h4>
    </div> 

   <p [hidden] = "kidPledge"> 
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="How has your family changed its habits regarding energy efficiency for windows and doors?"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 30 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
   </p>


   <p [hidden] = "teenPledge">
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="How has your family changed its habits regarding energy efficiency for windows and doors?"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 30 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
</p>


<p [hidden] = "adultPledge">
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="How has your household changed its habits regarding energy efficiency for windows and doors?"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 30 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
</p>

  <ion-card [hidden]  ="pledgeSubmittedCard">
    <ion-card-header>
      <ion-card-title>
        Thank you for taking the pledge! 
      </ion-card-title>
      <ion-card-content>
        <p [hidden] = "pledgeIsPending">Your pledge submission is currently pending.</p>
        <p [hidden] = "pledgeIsApproved">Your pledge submission has been approved!</p><br [hidden] = "hideYourSubmissionHeading"><br [hidden] = "hideYourSubmissionHeading">
        <p [hidden] = "hideYourSubmissionHeading">Your submission: </p>
        <p>
          <em>{{this.pledgeContent}}</em>
        </p>
      </ion-card-content>
    </ion-card-header>  
  </ion-card>

</ion-grid>
</ion-content>

