<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/lighting"></ion-back-button>
    </ion-buttons>
    <ion-title>Come to the Dark Side</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">
  <ion-grid>

     <p [hidden] = "kidPledge">   

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>

            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>

          </ion-card-header>
         
          <ion-card-content>
           <p> With more than 20 percent of all electricity use in the United States 
             devoted to <strong class="vocabulary">lighting,</strong> there is a lot that can be done to stop the carbon 
             emissions and cost from lighting. While turning off the lights in our own 
             <strong class="vocabulary">private spaces</strong> is a great way that we have direct control over our carbon emissions, 
             there are rooms in our homes, schools, and workplaces that we share with others. 
             Everyone who uses the lighting in these <strong class="vocabulary">common areas</strong> needs to do so sustainably.   </p>
             <br> 
             <p> The <strong class="vocabulary">United States Department of Energy</strong> guidelines on lighting efficiency say 
               that if a room is not in use for 15 minutes or more, the lights in that room 
               should be turned off.
            </p>
          </ion-card-content>
        </ion-card>
  
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Come to the Dark Side</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
              <p> Take the lead on making your home, school, and workplace energy efficient by turning out lights in common 
                areas and orienting the people with whom you share those spaces (families, friends, coworkers) about why 
                it is important for them to turn out the lights, too. </p> <br>
                <p>Read the article by the United States Department of 
                Energy titled, “<a href="https://www.energy.gov/energysaver/save-electricity-and-fuel/lighting-choices-save-you-money/when-turn-your-lights">When to Turn Off Your Lights</a>." 
                Then send it to those with whom you share common areas.  </p>
          </ion-card-content>
        </ion-card>

          <ion-card>
            <ion-card-header>
              <ion-card-title class = "content-heading">What's next?</ion-card-title>
            </ion-card-header>

          <ion-card-content>
            <p>Help everyone understand the guidelines and what turning off the lights means 
              in terms of greenhouse gas emissions. Create a reminder to turn out the lights 
              once you leave a room and post it in your common room. </p>
          </ion-card-content>
          </ion-card>

        <br>
      </p> 
    

            <p [hidden] = "teenPledge">
              
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>  With more than 20 percent of all electricity use in the United States 
              devoted to <strong class="vocabulary">lighting,</strong> there is a lot that can be done to stop the carbon 
              emissions and cost from lighting. While turning off the lights in our own 
              <strong class="vocabulary">private spaces</strong> is a great way that we have direct control over our carbon emissions, 
              there are rooms in our homes, schools, and workplaces that we share with others. 
              Everyone who uses the lighting in these <strong class="vocabulary">common areas</strong> needs to do so sustainably.   </p>
              <br> 
              <p> The <strong class="vocabulary">United States Department of Energy</strong> guidelines on lighting efficiency say 
                that if a room is not in use for 15 minutes or more, the lights in that room 
                should be turned off.
             </p>
          </ion-card-content>
        </ion-card>
    
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Come to the Dark Side</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
              <p> Take the lead on making your home, school, and workplace energy efficient by turning out lights in common 
                areas and orienting the people with whom you share those spaces (families, friends, coworkers) about why 
                it is important for them to turn out the lights, too. </p> <br>
                <p>Read the article by the United States Department of 
                Energy titled, “<a href="https://www.energy.gov/energysaver/save-electricity-and-fuel/lighting-choices-save-you-money/when-turn-your-lights">When to Turn Off Your Lights</a>." 
                 Then send it to those with whom you share common areas.  </p>
          </ion-card-content>
        </ion-card>

          <ion-card>
            <ion-card-header>
              <ion-card-title class = "content-heading">What's next?</ion-card-title>
            </ion-card-header>

          <ion-card-content>
            <p>Help everyone understand the guidelines and what turning off the lights means 
              in terms of greenhouse gas emissions. Create a reminder to turn out the lights 
              once you leave a room and post it in your common room. </p>
          </ion-card-content>
          </ion-card>
        
        <br>
     </p> 
    
            <p [hidden] = "adultPledge">
              
        
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p> With more than 20 percent of all electricity use in the United States 
              devoted to <strong class="vocabulary">lighting,</strong> there is a lot that can be done to stop the carbon 
              emissions and cost from lighting. While turning off the lights in our own 
              <strong class="vocabulary">private spaces</strong> is a great way that we have direct control over our carbon emissions, 
              there are rooms in our homes, schools, and workplaces that we share with others. 
              Everyone who uses the lighting in these <strong class="vocabulary">common areas</strong> needs to do so sustainably.   </p>
              <br> 
              <p> The <strong class="vocabulary">United States Department of Energy</strong> guidelines on lighting efficiency say 
                that if a room is not in use for 15 minutes or more, the lights in that room 
                should be turned off.</p>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Come to the Dark Side</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
              <p> Take the lead on making your home, school, and workplace energy efficient by turning out lights in common 
                areas and orienting the people with whom you share those spaces (families, friends, coworkers) about why 
                it is important for them to turn out the lights, too. </p> <br>
                <p>Read the article by the United States Department of 
                Energy titled, “<a href="https://www.energy.gov/energysaver/save-electricity-and-fuel/lighting-choices-save-you-money/when-turn-your-lights">When to Turn Off Your Lights</a>."  
                Then send it to those with whom you share common areas.  </p>
          </ion-card-content>
        </ion-card>

          <ion-card>
            <ion-card-header>
              <ion-card-title class = "content-heading">What's next?</ion-card-title>
            </ion-card-header>

          <ion-card-content>
            <p>Help everyone understand the guidelines and what turning off the lights means 
              in terms of greenhouse gas emissions. Create a reminder to turn out the lights 
              once you leave a room and post it in your common room. </p>
          </ion-card-content>
          </ion-card>
        
           <br>   
         </p>

  
    
         <div class = "ion-text-center" [hidden] = "hideVerfCard">
          <h4 [hidden]="kidPledge">I pledge to turn off common area lights when I am the last person using the space. I also pledge to orient my family and friends about why it is important to do so. </h4>
          <h4 [hidden]="teenPledge">I pledge to turn off common area lights when I am the last person using the space. I also pledge to orient my family and friends about why it is important to do so.   </h4>
          <h4 [hidden]="adultPledge"> I pledge to turn off common area lights when I am the last person using the space. I also pledge to orient family, friends and coworkers about why it is important to do so.</h4>
    </div> 

   <p [hidden] = "kidPledge"> 
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      Take a picture of your reminder sign to turn out unnecessary lights in your shared spaces!
      <ion-row>
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 160 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
   </p>


   <p [hidden] = "teenPledge">
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      Take a picture of your reminder sign to turn out unnecessary lights in your shared spaces!
      <ion-row>
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 160 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
</p>


<p [hidden] = "adultPledge">
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      Take a picture of your reminder sign to turn out unnecessary lights in your shared spaces!
      <ion-row>
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 160 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
</p>

  <ion-card [hidden]  ="pledgeSubmittedCard">
    <ion-card-header>
      <ion-card-title>
        Thank you for taking the pledge! 
      </ion-card-title>
      <ion-card-content>
        <p [hidden] = "pledgeIsPending">Your pledge submission is currently pending.</p>
        <p [hidden] = "pledgeIsApproved">Your pledge submission has been approved!</p><br [hidden] = "hideYourSubmissionHeading"><br [hidden] = "hideYourSubmissionHeading">
        <p [hidden] = "hideYourSubmissionHeading">Your submission: </p>
        <p>
          <em>{{this.pledgeContent}}</em>
        </p>
      </ion-card-content>
    </ion-card-header>  
  </ion-card>

</ion-grid>
</ion-content>
