

<ion-content class = "welcomeContent" padding>
  <ion-grid>
    <ion-col size = '6'>
    <ion-text class = "welcomeHeader"><font color = #1ba561>
     <br><br><br>
     You have the opportunity to prevent 
     the emission of 1 metric ton of CO2.</font>
    </ion-text><br><br><br>
    <ion-text class ="welcomeSubheader"><font color = #92c83e>
        Over the next 7 weeks,</font>
    </ion-text><br></ion-col>
    <ion-row><ion-text class = "welcomeText" padding-bottom = 18px><br><br>
      
      we'll help you do that by changing the way you think about things 
      like lighting, plug loads, your computer, and more. 
    </ion-text>
    
    <ion-buttons padding-top>
          <ion-button routerLink = '/welcome4' routerDirection = "root">
            <ion-icon slot="icon-only" name="arrow-round-forward" color="tertiary"></ion-icon>
          </ion-button>
        </ion-buttons></ion-row>
      </ion-grid>
    </ion-content>
    
