<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/computers"></ion-back-button>
    </ion-buttons>
    <ion-title>Check that Tech</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">
  <ion-grid>

     <p [hidden] = "kidPledge">   

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>

            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>

          </ion-card-header>
         
          <ion-card-content>
           <p> The energy that is wasted when computers are left on standby accounts for 1% of the world’s 
             total <strong class="vocabulary">carbon dioxide</strong> emissions and 5% to 10% of the electricity 
             used in homes around the world. Change the <strong class="vocabulary">power management</strong>
              settings on your computer and you can drop the amount of carbon dioxide that you and your household emits.
               You can also save as much as $100 in energy costs per computer every year!  </p>
             <br> 
             <p>On computers, there are four main types of computer power management settings. The first type is 
              <strong class="vocabulary">system standby.</strong> By activating system standby you can drop your 
              computer and monitor power down to 1 to 3 <strong class="vocabulary">watts</strong> per computer, 
              and it will wake up in seconds. This can help you save as much as $75 annually on your computer!</p> 
              <br>
              <p>The next type is <strong class="vocabulary">system hibernate,</strong> which has all of the benefits 
              of system standby with the included bonus of saving all work done on your computer if a power loss occurs. </p>
              <br>
              <p>The third type is simply turning off your <strong class="vocabulary">monitor.</strong> This can save you as 
              much as $40 per computer and drops the computer and monitor power down to 1 to 3 watts. 
            </p>
          </ion-card-content>
        </ion-card>
  
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Check that Tech</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
              <p> Did you know that you can manually activate computer power management on your personal computer? 
                Look over the settings on your computer and their benefits and decide what settings would be best for
                 you and your family. If you own a computer, change the settings to reduce your carbon dioxide emissions. </p> 
                <br>
              <p>For Apple: (<a href="https://green.harvard.edu/tools-resources/how/power-management-apple-computers" target="_blank">Power Managment for Apple Computers</a>)</p>
                <br>
              <p>For Windows: (<a href="https://green.harvard.edu/tools-resources/how/power-management-windows-computers" target="_blank">Power Managment for Windows Computers</a>)</p>
          </ion-card-content>
        </ion-card>


          <ion-card>
            <ion-card-header>
              <ion-card-title class = "content-heading"> What if I don't own a computer?</ion-card-title>
            </ion-card-header>

          <ion-card-content>
            <p>  If you do not own a computer or share a computer with others in your house, lead a discussion 
              with your family about computer power management using the information in this pledge. The Environmental
               Protection Agency (EPA) recommends  placing computers in system standby after 30 minutes of inactivity 
               and placing monitors to sleep after 15 minutes of inactivity. 
            </p>
          </ion-card-content>
          </ion-card>

        <br>
      </p> 
    

            <p [hidden] = "teenPledge">
              
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p> The energy that is wasted when computers are left on standby accounts for 1% of the world’s 
              total <strong class="vocabulary">carbon dioxide</strong> emissions and 5% to 10% of the electricity 
              used in homes around the world. Change the <strong class="vocabulary">power management</strong>
               settings on your computer and you can drop the amount of carbon dioxide that you and your household emits.
                You can also save as much as $100 in energy costs per computer every year!  </p>
              <br> 
              <p>On computers, there are four main types of computer power management settings. The first type is 
               <strong class="vocabulary">system standby.</strong> By activating system standby you can drop your 
               computer and monitor power down to 1 to 3 <strong class="vocabulary">watts</strong> per computer, 
               and it will wake up in seconds. This can help you save as much as $75 annually on your computer!</p> 
               <br>
               <p>The next type is <strong class="vocabulary">system hibernate,</strong> which has all of the benefits 
               of system standby with the included bonus of saving all work done on your computer if a power loss occurs. </p>
               <br>
               <p>The third type is simply turning off your <strong class="vocabulary">monitor.</strong> This can save you as 
               much as $40 per computer and drops the computer and monitor power down to 1 to 3 watts. 
             </p>
          </ion-card-content>
        </ion-card>
    
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Check that Tech</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
          <p> Did you know that you can manually activate computer power management on your personal computer? 
            Look over the settings on your computer and their benefits and decide what settings would be best for
             you and your family. If you own a computer, change the settings to reduce your carbon dioxide emissions. </p> 
             <br>
             <p>For Apple: (<a href="https://green.harvard.edu/tools-resources/how/power-management-apple-computers" target="_blank">Power Managment for Apple Computers</a>)</p>
               <br>
             <p>For Windows: (<a href="https://green.harvard.edu/tools-resources/how/power-management-windows-computers" target="_blank">Power Managment for Windows Computers</a>)</p>
      </ion-card-content>
    </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title class = "content-heading"> What if I don't own a computer?</ion-card-title>
        </ion-card-header>

      <ion-card-content>
        <p>  If you do not own a computer or share a computer with others in your house, lead a discussion 
          with your family about computer power management using the information in this pledge. The Environmental
           Protection Agency (EPA) recommends  placing computers in system standby after 30 minutes of inactivity 
           and placing monitors to sleep after 15 minutes of inactivity. 
        </p>
      </ion-card-content>
      </ion-card>
        
        <br>
     </p> 
    
            <p [hidden] = "adultPledge">
              
        
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p> The energy that is wasted when computers are left on standby accounts for 1% of the world’s 
              total <strong class="vocabulary">carbon dioxide</strong> emissions and 5% to 10% of the electricity 
              used in homes around the world. Change the <strong class="vocabulary">power management</strong>
               settings on your computer and you can drop the amount of carbon dioxide that you and your household emits.
                You can also save as much as $100 in energy costs per computer every year!  </p>
              <br> 
              <p>On computers, there are four main types of computer power management settings. The first type is 
               <strong class="vocabulary">system standby.</strong> By activating system standby you can drop your 
               computer and monitor power down to 1 to 3 <strong class="vocabulary">watts</strong> per computer, 
               and it will wake up in seconds. This can help you save as much as $75 annually on your computer!</p> 
               <br>
               <p>The next type is <strong class="vocabulary">system hibernate,</strong> which has all of the benefits 
               of system standby with the included bonus of saving all work done on your computer if a power loss occurs. </p>
               <br>
               <p>The third type is simply turning off your <strong class="vocabulary">monitor.</strong> This can save you as 
               much as $40 per computer and drops the computer and monitor power down to 1 to 3 watts. 
             </p>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Check that Tech</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
            <p> Did you know that you can manually activate computer power management on your personal computer? 
              Look over the settings on your computer and their benefits and decide what settings would be best for
               you and your family. If you own a computer, change the settings to reduce your carbon dioxide emissions. </p> 
               <br>
               <p>For Apple: (<a href="https://green.harvard.edu/tools-resources/how/power-management-apple-computers" target="_blank">Power Managment for Apple Computers</a>)</p>
                 <br>
               <p>For Windows: (<a href="https://green.harvard.edu/tools-resources/how/power-management-windows-computers" target="_blank">Power Managment for Windows Computers</a>)</p>
        </ion-card-content>
      </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading"> What if I don't own a computer?</ion-card-title>
          </ion-card-header>

        <ion-card-content>
          <p>  If you do not own a computer or share a computer with others in your house, lead a discussion 
            with your family about computer power management using the information in this pledge. The Environmental
             Protection Agency (EPA) recommends  placing computers in system standby after 30 minutes of inactivity 
             and placing monitors to sleep after 15 minutes of inactivity. 
          </p>
        </ion-card-content>
      </ion-card>
        
           <br>   
         </p>

  
    
         <div class = "ion-text-center" [hidden] = "hideVerfCard">
          <h4 [hidden]="kidPledge"> I pledge to find and implement a computer power system 
            that works for me and my family.  </h4>
          <h4 [hidden]="teenPledge"> I pledge to find and implement a computer power system 
            that works for me and my family.   </h4>
          <h4 [hidden]="adultPledge"> I pledge to implement a computer power system that works 
            for me and those with whom I live. </h4>
    </div> 

   <p [hidden] = "kidPledge"> 
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      If you or one of your family members owns a computer, take a screenshot of your changed power management settings. What did you choose to change and why does it work best for you and your family? How much money will you save by changing your power management system? How much carbon did you prevent from entering the atmosphere?
      <ion-row>
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 500 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
   </p>


   <p [hidden] = "teenPledge">
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      If you or one of your family members owns a computer, take a screenshot of your changed power management settings. What did you choose to change and why does it work best for you and your family? How much money will you save by changing your power management system? How much carbon did you prevent from entering the atmosphere?
      <ion-row>
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 500 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
</p>


<p [hidden] = "adultPledge">
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      If you or a family member or roommate owns a computer, take a screenshot of your changed power management settings. What did you choose to change and why does it work best for you and your household? How much money will you save by changing your power management system?
      <ion-row>
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 500 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
</p>

  <ion-card [hidden]  ="pledgeSubmittedCard">
    <ion-card-header>
      <ion-card-title>
        Thank you for taking the pledge! 
      </ion-card-title>
      <ion-card-content>
        <p [hidden] = "pledgeIsPending">Your pledge submission is currently pending.</p>
        <p [hidden] = "pledgeIsApproved">Your pledge submission has been approved!</p><br [hidden] = "hideYourSubmissionHeading"><br [hidden] = "hideYourSubmissionHeading">
        <p [hidden] = "hideYourSubmissionHeading">Your submission: </p>
        <p>
          <em>{{this.pledgeContent}}</em>
        </p>
      </ion-card-content>
    </ion-card-header>  
  </ion-card>

</ion-grid>
</ion-content>
