<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/transportation"></ion-back-button>
    </ion-buttons>
    <ion-title>New Closet, No Carbon </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">
  <ion-grid>

     <p [hidden] = "kidPledge">   

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>

            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>

          </ion-card-header>
         
          <ion-card-content>
           <p> <strong class="vocabulary">Fast fashion</strong> stresses our <strong class="vocabulary">natural resources</strong> and is destroying the planet.
             <strong class="vocabulary">Fast fashion</strong> is the rapid factory production of garments, the styles of which have been stolen from legitimate 
             designers. H&M is an example of <strong class="vocabulary">fast fashion.</strong> The prices are cheap, but the costs to people and the planet are 
             greater than we collectively can bear.   </p>
             <br> 
             <p>In addition, writes Tatiana Schlossberg in the New York Times, “More than 60% of fabric fibers are now synthetics,
                derived from fossil fuels, so if and when our clothing ends up in a landfill . . . it will not decay.” Incidentally,
                 85% of clothes in the U.S. do end up in landfills, further worsening their <strong class="vocabulary">environmental impact</strong> by contributing to 
               <strong class="vocabulary">methane emissions.</strong> Let’s look at several ways fast fashion harms people and the planet. </p>
              <br>
              <p><i><b>Carbon dioxide emissions.</b></i> Worldwide, the fashion industry “emits 1.7 billion tons of carbon dioxide per 
                year — more than the amount produced by international flights and shipping” together, reports WBUR’s “Here & Now.”</p>
              <br>
              <p><i><b>Water.</b></i> The water needed to grow the cotton for one pair of your favorite jeans is 680 to 1,500 gallons — 
                for one pair of jeans. To grow just 8 ounces of cotton takes several gallons of water!  Globally, the fast fashion industry
                 is the second largest consumer of water. Among the top cotton producing nations, China and India are faced with water shortages 
                 such that they must choose between providing people clean drinking water or producing cotton, which makes money. </p>
              <br>
              <p><i><b>Toxins.</b></i> When producing fast fashion, a plethora of toxic chemicals are used. These include cadmium, mercury,
                 and lead, which can poison our water supply when you wash your clothes. Water isn’t the only thing being affected by these 
                 chemicals: don’t forget that we wear them  next to our largest organ — our skin! </p>
              <br>
              <p><i><b>Landfills.</b></i> On top of purchasing new clothes, the clothes you throw away negatively impact our environment.
                 It is estimated that 12.8 million tons of clothing waste sits in landfills for hundreds of years, emitting harmful chemicals 
                 and dyes that contaminate the groundwater and the soil. This volume of clothing would fill a football field 14 times over. </p>
              <br>
              <p><i><b>Human Beings.</b></i> When you buy fast fashion, you trap an entire generation of women in poverty. Women, most between 
                the ages of 18 and 24, work the factories where 80% of fast fashion is made. These young women, whose birthright, like yours and 
                mine, is safety, health, and education, earn less than $3 per day. Many work 14-hour days in unsafe and inhuman conditions. 
                Abuse is common. To learn more, visit <a href="https://remake.world/about-us/" target="_blank">Remake</a>. </p>
          </ion-card-content>
        </ion-card>
  
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>New Closet, No Carbon </ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
              <p>Talk to your family and friends about the negative effects of fast fashion. Educate them on how you can 
                save money and the environment and improve the lives of vulnerable women while still staying fashionable.
                 How? Choose ethical, sustainable fashion and thrift. Instead of throwing away your clothes, donate them 
                 to your local thrift store and think twice about the repercussions of fast fashion. Whenever you and your 
                 family shop for new clothes, always search thrift stores first. If you need to buy new, check out our list
                 of sustainable clothing brands in our resources tab. </p> 
              <br>
              <p>Did you know that new, authentic designer wear often is available at thrift stores — at thrift store prices?
                 On top of helping people get clothing in an affordable and environmentally sustainable way, many thrift stores
                  often have goals of their own for making the community a better place. Look for local thrift stores and other 
                  types of secondhand stores in your area! </p>
          </ion-card-content>
        </ion-card>

        <br>
      </p> 
    

            <p [hidden] = "teenPledge">
              
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p> <strong class="vocabulary">Fast fashion</strong> stresses our <strong class="vocabulary">natural resources</strong> and is destroying the planet.
             <strong class="vocabulary">Fast fashion</strong> is the rapid factory production of garments, the styles of which have been stolen from legitimate 
             designers. H&M is an example of <strong class="vocabulary">fast fashion.</strong> The prices are cheap, but the costs to people and the planet are 
             greater than we collectively can bear.   </p>
             <br> 
             <p>In addition, writes Tatiana Schlossberg in the New York Times, “More than 60% of fabric fibers are now synthetics,
                derived from fossil fuels, so if and when our clothing ends up in a landfill . . . it will not decay.” Incidentally,
                 85% of clothes in the U.S. do end up in landfills, further worsening their <strong class="vocabulary">environmental impact</strong> by contributing to 
               <strong class="vocabulary">methane emissions.</strong> Let’s look at several ways fast fashion harms people and the planet. </p>
              <br>
              <p><i><b>Carbon dioxide emissions.</b></i> Worldwide, the fashion industry “emits 1.7 billion tons of carbon dioxide per 
                year — more than the amount produced by international flights and shipping” together, reports WBUR’s “Here & Now.”</p>
              <br>
              <p><i><b>Water.</b></i> The water needed to grow the cotton for one pair of your favorite jeans is 680 to 1,500 gallons — 
                for one pair of jeans. To grow just 8 ounces of cotton takes several gallons of water!  Globally, the fast fashion industry
                 is the second largest consumer of water. Among the top cotton producing nations, China and India are faced with water shortages 
                 such that they must choose between providing people clean drinking water or producing cotton, which makes money. </p>
              <br>
              <p><i><b>Toxins.</b></i> When producing fast fashion, a plethora of toxic chemicals are used. These include cadmium, mercury,
                 and lead, which can poison our water supply when you wash your clothes. Water isn’t the only thing being affected by these 
                 chemicals: don’t forget that we wear them  next to our largest organ — our skin! </p>
              <br>
              <p><i><b>Landfills.</b></i> On top of purchasing new clothes, the clothes you throw away negatively impact our environment.
                 It is estimated that 12.8 million tons of clothing waste sits in landfills for hundreds of years, emitting harmful chemicals 
                 and dyes that contaminate the groundwater and the soil. This volume of clothing would fill a football field 14 times over. </p>
              <br>
              <p><i><b>Human Beings.</b></i> When you buy fast fashion, you trap an entire generation of women in poverty. Women, most between 
                the ages of 18 and 24, work the factories where 80% of fast fashion is made. These young women, whose birthright, like yours and 
                mine, is safety, health, and education, earn less than $3 per day. Many work 14-hour days in unsafe and inhuman conditions. 
                Abuse is common. To learn more, visit <a href="https://remake.world/about-us/" target="_blank">Remake</a>. </p>
          </ion-card-content>
        </ion-card>
    
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>New Closet, No Carbon</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
            <p>Talk to your family and friends about the negative effects of fast fashion. Educate them on how you can 
              save money and the environment and improve the lives of vulnerable women while still staying fashionable.
               How? Choose ethical, sustainable fashion and thrift. Instead of throwing away your clothes, donate them 
               to your local thrift store and think twice about the repercussions of fast fashion. Whenever you and your 
               family shop for new clothes, always search thrift stores first. If you need to buy new, check out our list
                 of sustainable clothing brands in our resources tab </p> 
            <br>
            <p>Did you know that new, authentic designer wear often is available at thrift stores — at thrift store prices?
               On top of helping people get clothing in an affordable and environmentally sustainable way, many thrift stores
                often have goals of their own for making the community a better place. Look for local thrift stores and other 
                types of secondhand stores in your area! </p>
          </ion-card-content>
        </ion-card>
        
        <br>
     </p> 
    
            <p [hidden] = "adultPledge">
              
        
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
<p> <strong class="vocabulary">Fast fashion</strong> stresses our <strong class="vocabulary">natural resources</strong> and is destroying the planet.
             <strong class="vocabulary">Fast fashion</strong> is the rapid factory production of garments, the styles of which have been stolen from legitimate 
             designers. H&M is an example of <strong class="vocabulary">fast fashion.</strong> The prices are cheap, but the costs to people and the planet are 
             greater than we collectively can bear.   </p>
             <br> 
             <p>In addition, writes Tatiana Schlossberg in the New York Times, “More than 60% of fabric fibers are now synthetics,
                derived from fossil fuels, so if and when our clothing ends up in a landfill . . . it will not decay.” Incidentally,
                 85% of clothes in the U.S. do end up in landfills, further worsening their <strong class="vocabulary">environmental impact</strong> by contributing to 
               <strong class="vocabulary">methane emissions.</strong> Let’s look at several ways fast fashion harms people and the planet. </p>
              <br>
              <p><i><b>Carbon dioxide emissions.</b></i> Worldwide, the fashion industry “emits 1.7 billion tons of carbon dioxide per 
                year — more than the amount produced by international flights and shipping” together, reports WBUR’s “Here & Now.”</p>
              <br>
              <p><i><b>Water.</b></i> The water needed to grow the cotton for one pair of your favorite jeans is 680 to 1,500 gallons — 
                for one pair of jeans. To grow just 8 ounces of cotton takes several gallons of water!  Globally, the fast fashion industry
                 is the second largest consumer of water. Among the top cotton producing nations, China and India are faced with water shortages 
                 such that they must choose between providing people clean drinking water or producing cotton, which makes money. </p>
              <br>
              <p><i><b>Toxins.</b></i> When producing fast fashion, a plethora of toxic chemicals are used. These include cadmium, mercury,
                 and lead, which can poison our water supply when you wash your clothes. Water isn’t the only thing being affected by these 
                 chemicals: don’t forget that we wear them  next to our largest organ — our skin! </p>
              <br>
              <p><i><b>Landfills.</b></i> On top of purchasing new clothes, the clothes you throw away negatively impact our environment.
                 It is estimated that 12.8 million tons of clothing waste sits in landfills for hundreds of years, emitting harmful chemicals 
                 and dyes that contaminate the groundwater and the soil. This volume of clothing would fill a football field 14 times over. </p>
              <br>
              <p><i><b>Human Beings.</b></i> When you buy fast fashion, you trap an entire generation of women in poverty. Women, most between 
                the ages of 18 and 24, work the factories where 80% of fast fashion is made. These young women, whose birthright, like yours and 
                mine, is safety, health, and education, earn less than $3 per day. Many work 14-hour days in unsafe and inhuman conditions. 
                Abuse is common. To learn more, visit <a href="https://remake.world/about-us/" target="_blank">Remake</a>. </p>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>New Closet, No Carbon</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
            <p>Talk to your family and friends about the negative effects of fast fashion. Educate them on how you can 
              save money and the environment and improve the lives of vulnerable women while still staying fashionable.
               How? Choose ethical, sustainable fashion and thrift. Instead of throwing away your clothes, donate them 
               to your local thrift store and think twice about the repercussions of fast fashion. Whenever you and your 
               family shop for new clothes, always search thrift stores first. If you need to buy new, check out our list
                 of sustainable clothing brands in our resources tab </p> 
            <br>
            <p>Did you know that new, authentic designer wear often is available at thrift stores — at thrift store prices?
               On top of helping people get clothing in an affordable and environmentally sustainable way, many thrift stores
                often have goals of their own for making the community a better place. Look for local thrift stores and other 
                types of secondhand stores in your area! </p>
          </ion-card-content>
        </ion-card>
        
           <br>   
         </p>

  
    
         <div class = "ion-text-center" [hidden] = "hideVerfCard">
          <h4 [hidden]="kidPledge"> I pledge to lead my family in shopping at a local thrift store for clothing and donating our old clothes instead of throwing them away. </h4>
          <h4 [hidden]="teenPledge"> I pledge to lead my family and friends in shopping at a local thrift store for clothing and donating our old clothes instead of throwing them away. </h4>
          <h4 [hidden]="adultPledge"> I pledge to lead my family and friends in shopping at a local thrift store for clothing and donating our old clothes instead of throwing them away.</h4>
    </div> 

   <p [hidden] = "kidPledge"> 
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      What do you plan to do to eliminate your relationship with fast fashion and to help others do the same?
      <ion-row [hidden] = "useCamera">
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3" [hidden] = "useCamera">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
        
        <ion-row [hidden] = "dontUseCamera">
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>
       </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 660 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
   </p>


   <p [hidden] = "teenPledge">
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      What do you plan to do to eliminate your relationship with fast fashion and to help others do the same?
      <ion-row [hidden] = "useCamera">
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3" [hidden] = "useCamera">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
        
        <ion-row [hidden] = "dontUseCamera">
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>
       </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 660 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
</p>


<p [hidden] = "adultPledge">
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      What do you plan to do to eliminate your relationship with fast fashion and to help others do the same?
      <ion-row [hidden] = "useCamera">
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3" [hidden] = "useCamera">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
        
        <ion-row [hidden] = "dontUseCamera">
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>
       </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 660 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
</p>

  <ion-card [hidden]  ="pledgeSubmittedCard">
    <ion-card-header>
      <ion-card-title>
        Thank you for taking the pledge! 
      </ion-card-title>
      <ion-card-content>
        <p [hidden] = "pledgeIsPending">Your pledge submission is currently pending.</p>
        <p [hidden] = "pledgeIsApproved">Your pledge submission has been approved!</p><br [hidden] = "hideYourSubmissionHeading"><br [hidden] = "hideYourSubmissionHeading">
        <p [hidden] = "hideYourSubmissionHeading">Your submission: </p>
        <p>
          <em>{{this.pledgeContent}}</em>
        </p>
      </ion-card-content>
    </ion-card-header>  
  </ion-card>

</ion-grid>
</ion-content>
