<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/transportation"></ion-back-button>
    </ion-buttons>
    <ion-title>Time For Online</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">
  <ion-grid>

     <p [hidden] = "kidPledge">   

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>

            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>

          </ion-card-header>
         
          <ion-card-content>
           <p>When we reduce the number of in-person events, activities, and meetings we attend, we reduce our <strong class="vocabulary">carbon footprint.</strong> Though 
             virtual happenings may seem difficult and less productive than in-person events, they can be successful while simultaneously 
             saving the environment. Here are tips to make your video events a success: </p>
             <br> 
             <p> <b>1.</b> Before you begin, check out how you will look on camera: review how your face is framed, if the light in the room is 
               casting your face in too much dark or light, and how your surroundings add to or take away from your look. What are people 
               going to see when they see you online? The settings tab of your online platform may have some instant enhancements for lighting 
               and color tone. Otherwise, make time for adjustments!</p>
              <br>
             <p> <b>2.</b> Turn on your camera: to make the meeting seem personal and appealing, turn on your video. Facial expressions are important 
              to a successful connection because they can show, for example, someone who isn’t paying attention, someone who is exasperated, 
              or someone who is having a great experience! </p>
              <br>
             <p> <b>3.</b> Make an agenda: to make your events effective and to avoid awkward silences and wasted time, make a plan, listing most to
                least important items. This will keep you focused on what’s key and lead to greater conversations.</p>
              <br>
             <p> <b>4.</b> Connect people: Make sure to ask everyone how they are doing and what is going on with their lives. This will help put people
                at ease and make them more comfortable sharing in the meeting. Remind everyone to respect one another by not interrupting. </p>
              <br>
            <p> <b>5.</b> Don’t mute and don’t multitask: ask everyone to unmute themselves and stay engaged. In order to have the best experience, 
              everyone should be involved and engaged. Anyone who is looking at a seperate tab or checking email or social won’t be as committed 
              to bringing their all to the experience. </p>
             <br>
            <p> <b>6.</b> Give each person time to talk: make sure everyone has the chance to contribute. 
              Ask another person to keep the <strong class="vocabulary">virtual gathering</strong> on track: having someone else make sure everyone is respectful and focused will help the event run smoothly. </p>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Here are some popular platforms for virtual gatherings:</ion-card-title>
          </ion-card-header>

        <ion-card-content>
          <p> <a href="https://zoom.us/" target="_blank">Zoom</a></p>
          <br>
          <p><a href="https://www.freeconferencecall.com/index-b" target="_blank">Free Conference Call</a></p>
          <br>
          <p><a href="https://meet.google.com/?authuser=1" target="_blank">Google Meet</a></p>
          <br>
          <p> <a href="https://www.skype.com/en/" target="_blank">Skype</a></p>
          <br>
          <p> <a href="https://www.gotomeeting.com/" target="_blank">GoToMeeting</a></p>
          <br>
          <p> <a href="https://www.microsoft.com/en-us/microsoft-365/microsoft-teams/group-chat-software" target="_blank">Microsoft Teams</a></p>
          <br>
          <p> <a href="https://houseparty.com/" target="_blank">Houseparty</a></p>
        </ion-card-content>
        </ion-card>
  
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Time For Online</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
              <p>Discuss having a virtual event with friends and extended family. Review how to have a successful 
                meeting and use your new techniques to prepare. Invite them to join and try out a virtual event! </p> 
          </ion-card-content>
        </ion-card>

        <br>
      </p> 
    

            <p [hidden] = "teenPledge">
              
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>When we reduce the number of in-person events, activities, and meetings we attend, we reduce our <strong class="vocabulary">carbon footprint.</strong> Though 
              virtual happenings may seem difficult and less productive than in-person events, they can be successful while simultaneously 
              saving the environment. Here are tips to make your video events a success: </p>
              <br> 
              <p> <b>1.</b> Before you begin, check out how you will look on camera: review how your face is framed, if the light in the room is 
                casting your face in too much dark or light, and how your surroundings add to or take away from your look. What are people 
                going to see when they see you online? The settings tab of your online platform may have some instant enhancements for lighting 
                and color tone. Otherwise, make time for adjustments!</p>
               <br>
              <p> <b>2.</b> Turn on your camera: to make the meeting seem personal and appealing, turn on your video. Facial expressions are important 
               to a successful connection because they can show, for example, someone who isn’t paying attention, someone who is exasperated, 
               or someone who is having a great experience! </p>
               <br>
              <p> <b>3.</b> Make an agenda: to make your events effective and to avoid awkward silences and wasted time, make a plan, listing most to
                 least important items. This will keep you focused on what’s key and lead to greater conversations.</p>
               <br>
              <p> <b>4.</b> Connect people: Make sure to ask everyone how they are doing and what is going on with their lives. This will help put people
                 at ease and make them more comfortable sharing in the meeting. Remind everyone to respect one another by not interrupting. </p>
               <br>
             <p> <b>5.</b> Don’t mute and don’t multitask: ask everyone to unmute themselves and stay engaged. In order to have the best experience, 
               everyone should be involved and engaged. Anyone who is looking at a seperate tab or checking email or social won’t be as committed 
               to bringing their all to the experience. </p>
              <br>
             <p> <b>6.</b> Give each person time to talk: make sure everyone has the chance to contribute. 
               Ask another person to keep the <strong class="vocabulary">virtual gathering</strong> on track: having someone else make sure everyone is respectful and focused will help the event run smoothly. </p>
          </ion-card-content>
        </ion-card>
    
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Here are some popular platforms for virtual gatherings:</ion-card-title>
          </ion-card-header>

        <ion-card-content>
           <p> <a href="https://zoom.us/" target="_blank">Zoom</a></p>
          <br>
          <p><a href="https://www.freeconferencecall.com/index-b" target="_blank">Free Conference Call</a></p>
          <br>
          <p><a href="https://meet.google.com/?authuser=1" target="_blank">Google Meet</a></p>
          <br>
          <p> <a href="https://www.skype.com/en/" target="_blank">Skype</a></p>
          <br>
          <p> <a href="https://www.gotomeeting.com/" target="_blank">GoToMeeting</a></p>
          <br>
          <p> <a href="https://www.microsoft.com/en-us/microsoft-365/microsoft-teams/group-chat-software" target="_blank">Microsoft Teams</a></p>
          <br>
          <p> <a href="https://houseparty.com/" target="_blank">Houseparty</a></p>
        </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Time For Online</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
              <p>Discuss having a virtual event with friends and extended family. Review how to have a successful meeting and 
                use your new techniques to prepare. Invite them to join and try out a virtual event! </p> 
          </ion-card-content>
        </ion-card>
        
        <br>
     </p> 
    
            <p [hidden] = "adultPledge">
              
        
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>When we reduce the number of in-person events, activities, and meetings we attend, we reduce our <strong class="vocabulary">carbon footprint.</strong> Though 
              virtual happenings may seem difficult and less productive than in-person events, they can be successful while simultaneously 
              saving the environment. Here are tips to make your video events a success: </p>
              <br> 
              <p> <b>1.</b> Before you begin, check out how you will look on camera: review how your face is framed, if the light in the room is 
                casting your face in too much dark or light, and how your surroundings add to or take away from your look. What are people 
                going to see when they see you online? The settings tab of your online platform may have some instant enhancements for lighting 
                and color tone. Otherwise, make time for adjustments!</p>
               <br>
              <p> <b>2.</b> Turn on your camera: to make the meeting seem personal and appealing, turn on your video. Facial expressions are important 
               to a successful connection because they can show, for example, someone who isn’t paying attention, someone who is exasperated, 
               or someone who is having a great experience! </p>
               <br>
              <p> <b>3.</b> Make an agenda: to make your events effective and to avoid awkward silences and wasted time, make a plan, listing most to
                 least important items. This will keep you focused on what’s key and lead to greater conversations.</p>
               <br>
              <p> <b>4.</b> Connect people: Make sure to ask everyone how they are doing and what is going on with their lives. This will help put people
                 at ease and make them more comfortable sharing in the meeting. Remind everyone to respect one another by not interrupting. </p>
               <br>
             <p> <b>5.</b> Don’t mute and don’t multitask: ask everyone to unmute themselves and stay engaged. In order to have the best experience, 
               everyone should be involved and engaged. Anyone who is looking at a seperate tab or checking email or social won’t be as committed 
               to bringing their all to the experience. </p>
              <br>
             <p> <b>6.</b> Give each person time to talk: make sure everyone has the chance to contribute. 
               Ask another person to keep the <strong class="vocabulary">virtual gathering</strong> on track: having someone else make sure everyone is respectful and focused will help the event run smoothly. </p>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Here are some popular platforms for virtual gatherings:</ion-card-title>
          </ion-card-header>

        <ion-card-content>
           <p> <a href="https://zoom.us/" target="_blank">Zoom</a></p>
          <br>
          <p><a href="https://www.freeconferencecall.com/index-b" target="_blank">Free Conference Call</a></p>
          <br>
          <p><a href="https://meet.google.com/?authuser=1" target="_blank">Google Meet</a></p>
          <br>
          <p> <a href="https://www.skype.com/en/" target="_blank">Skype</a></p>
          <br>
          <p> <a href="https://www.gotomeeting.com/" target="_blank">GoToMeeting</a></p>
          <br>
          <p> <a href="https://www.microsoft.com/en-us/microsoft-365/microsoft-teams/group-chat-software" target="_blank">Microsoft Teams</a></p>
          <br>
          <p> <a href="https://houseparty.com/" target="_blank">Houseparty</a></p>
        </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Time For Online</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
              <p>Discuss having a virtual event with friends and extended family. Review how to have a successful meeting 
                and use your new techniques to prepare. Invite them to join and try out a virtual event! </p> 
          </ion-card-content>
        </ion-card>

           <br>   
         </p>

  
    
         <div class = "ion-text-center" [hidden] = "hideVerfCard">
          <h4 [hidden]="kidPledge">  I pledge to go virtual with my next gathering to avoid the transportation and high-carbon emissions of bringing family, friends, or classmates together.</h4>
          <h4 [hidden]="teenPledge"> I pledge to go virtual with my next gathering to avoid the transportation and high-carbon emissions of bringing family, friends, or classmates together.</h4>
          <h4 [hidden]="adultPledge"> I pledge to go virtual with my next gathering to avoid the transportation and high-carbon emissions of bringing family, friends, or classmates together.</h4>
    </div> 

   <p [hidden] = "kidPledge"> 
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      What did you do to virtually bring people together for your event? What was the reason for getting together?
      <ion-row [hidden] = "useCamera">
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3" [hidden] = "useCamera">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
        
        <ion-row [hidden] = "dontUseCamera">
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>
       </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 800 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
   </p>


   <p [hidden] = "teenPledge">
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      What did you do to virtually bring people together for your event? What was the reason for getting together?
      <ion-row [hidden] = "useCamera">
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3" [hidden] = "useCamera">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
        
        <ion-row [hidden] = "dontUseCamera">
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>
       </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 800 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
</p>


<p [hidden] = "adultPledge">
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      What did you do to virtually bring people together for your event? What was the reason for getting together?
      <ion-row [hidden] = "useCamera">
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3" [hidden] = "useCamera">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
        
        <ion-row [hidden] = "dontUseCamera">
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>
       </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 800 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
</p>

  <ion-card [hidden]  ="pledgeSubmittedCard">
    <ion-card-header>
      <ion-card-title>
        Thank you for taking the pledge! 
      </ion-card-title>
      <ion-card-content>
        <p [hidden] = "pledgeIsPending">Your pledge submission is currently pending.</p>
        <p [hidden] = "pledgeIsApproved">Your pledge submission has been approved!</p><br [hidden] = "hideYourSubmissionHeading"><br [hidden] = "hideYourSubmissionHeading">
        <p [hidden] = "hideYourSubmissionHeading">Your submission: </p>
        <p>
          <em>{{this.pledgeContent}}</em>
        </p>
      </ion-card-content>
    </ion-card-header>  
  </ion-card>

</ion-grid>
</ion-content>
