<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/plug-loads"></ion-back-button>
    </ion-buttons>
    <ion-title>Unplugging Together</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">
  <ion-grid>

     <p [hidden] = "kidPledge">   

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>

            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>

          </ion-card-header>
         
          <ion-card-content>
           <p> Do you have a <strong class="vocabulary">common area</strong> in your office, home, or school where 
            <strong class="vocabulary">shared hardware and appliances</strong> remain plugged in when they are not 
            being used? Where are these <strong class="vocabulary">common areas</strong> in your life? The hardware, 
            electronics, and appliances in common areas use <strong class="vocabulary">vampire loads</strong> to suck 
            up electricity when they are turned off and not being used! Unplugging unused appliances and equipment in 
            these shared areas is a great way to reduce your <strong class="vocabulary">carbon emissions</strong> 
            (not to mention the money spent on electricity) while building a sense of community around 
            <strong class="vocabulary">climate action</strong>. </p>
          </ion-card-content>
        </ion-card>
  
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Unplugging Together</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
              <p>Make a list of the common areas that you use. Are these shared spaces in your home, 
                study areas at school, or public rooms in local businesses and public buildings, 
                such as the library?  For each common area that you listed, identify and write a 
                list of the shared hardware, appliances, and electronics in those areas. Which space 
                contains the most items? In which spaces do you spend the most time?</p>

                <br>

                <p>Pick one space that is most accessible to you right now. Look around and identify 
                  every item in this room that runs on electricity. Which ones can be unplugged after 
                  every use? Which can be plugged into a power strip, with the strip switched off when 
                  not in use? See "<a href="https://www.bobvila.com/slideshow/10-things-never-to-plug-into-a-power-strip-52043#coffee-makers" target="_blank">10 Things Never to Plug into a Power Strip</a>." </p>

          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take this Pledge Together!</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <p>After you’ve made your observations, make a plan with the people who share this space with you.
               Make sure that they understand the importance of unplugging individual devices to save electricity. 
               Talk about how taking action together will prevent pounds of carbon dioxide from entering the atmosphere. 
               Use the 
               <a href="https://www.epa.gov/energy/greenhouse-gas-equivalencies-calculator" target="_blank">Environmental Protection Agency’s Greenhouse Gas Equivalencies Calculator</a>. 
              Take this pledge together!</p>
            </ion-card-content>
          </ion-card>

        <br>
      </p> 
    

            <p [hidden] = "teenPledge">
              
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
          </ion-card-header>
          
          <ion-card-content>
            <p> Do you have a <strong class="vocabulary">common area</strong> in your office, home, or school where 
             <strong class="vocabulary">shared hardware and appliances</strong> remain plugged in when they are not 
             being used? Where are these <strong class="vocabulary">common areas</strong> in your life? The hardware, 
             electronics, and appliances in common areas use <strong class="vocabulary">vampire loads</strong> to suck 
             up electricity when they are turned off and not being used! Unplugging unused appliances and equipment in 
             these shared areas is a great way to reduce your <strong class="vocabulary">carbon emissions</strong> 
             (not to mention the money spent on electricity) while building a sense of community around 
             <strong class="vocabulary">climate action</strong>. </p>
           </ion-card-content>
         </ion-card>
   
         <ion-card>
           <ion-card-header>
             <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
             
             <ion-card-subtitle>Unplugging Together</ion-card-subtitle>
           </ion-card-header>
     
            <ion-card-content>
               <p>Make a list of the common areas that you use. Are these shared spaces in your home, 
                 study areas at school, or public rooms in local businesses and public buildings, 
                 such as the library?  For each common area that you listed, identify and write a 
                 list of the shared hardware, appliances, and electronics in those areas. Which space 
                 contains the most items? In which spaces do you spend the most time?</p>
 
                 <br>
 
                 <p>Pick one space that is most accessible to you right now. Look around and identify 
                   every item in this room that runs on electricity. Which ones can be unplugged after 
                   every use? Which can be plugged into a power strip, with the strip switched off when 
                   not in use? See "<a href="https://www.bobvila.com/slideshow/10-things-never-to-plug-into-a-power-strip-52043#coffee-makers" target="_blank">10 Things Never to Plug into a Power Strip</a>."  </p>
 
           </ion-card-content>
         </ion-card>
 
         <ion-card>
           <ion-card-header>
             <ion-card-title class = "content-heading">Take this Pledge Together!</ion-card-title>
           </ion-card-header>
 
           <ion-card-content>
             <p>After you’ve made your observations, make a plan with the people who share this space with you.
                Make sure that they understand the importance of unplugging individual devices to save electricity. 
                Talk about how taking action together will prevent pounds of carbon dioxide from entering the atmosphere. 
                Use the <a href="https://www.epa.gov/energy/greenhouse-gas-equivalencies-calculator" target="_blank">Environmental Protection Agency’s Greenhouse Gas Equivalencies Calculator</a>. 
               Take this pledge together! </p>
             </ion-card-content>
           </ion-card>

        <br>
     </p> 
    
            <p [hidden] = "adultPledge">
              
        
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
          </ion-card-header>
          
          <ion-card-content>
            <p> Do you have a <strong class="vocabulary">common area</strong> in your office, home, or school where 
             <strong class="vocabulary">shared hardware and appliances</strong> remain plugged in when they are not 
             being used? Where are these <strong class="vocabulary">common areas</strong> in your life? The hardware, 
             electronics, and appliances in common areas use <strong class="vocabulary">vampire loads</strong> to suck 
             up electricity when they are turned off and not being used! Unplugging unused appliances and equipment in 
             these shared areas is a great way to reduce your <strong class="vocabulary">carbon emissions</strong> 
             (not to mention the money spent on electricity) while building a sense of community around 
             <strong class="vocabulary">climate action</strong>. </p>
           </ion-card-content>
         </ion-card>
   
         <ion-card>
           <ion-card-header>
             <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
             
             <ion-card-subtitle>Unplugging Together</ion-card-subtitle>
           </ion-card-header>
     
            <ion-card-content>
               <p>Make a list of the common areas that you use. Are these shared spaces in your home, 
                 study areas at school, or public rooms in local businesses and public buildings, 
                 such as the library?  For each common area that you listed, identify and write a 
                 list of the shared hardware, appliances, and electronics in those areas. Which space 
                 contains the most items? In which spaces do you spend the most time?</p>
 
                 <br>
 
                 <p>Pick one space that is most accessible to you right now. Look around and identify 
                   every item in this room that runs on electricity. Which ones can be unplugged after 
                   every use? Which can be plugged into a power strip, with the strip switched off when 
                   not in use? See "<a href="https://www.bobvila.com/slideshow/10-things-never-to-plug-into-a-power-strip-52043#coffee-makers" target="_blank">10 Things Never to Plug into a Power Strip</a>."  </p>
 
           </ion-card-content>
         </ion-card>
 
         <ion-card>
           <ion-card-header>
             <ion-card-title class = "content-heading">Take this Pledge Together!</ion-card-title>
           </ion-card-header>
 
           <ion-card-content>
             <p>After you’ve made your observations, make a plan with the people who share this space with you.
                Make sure that they understand the importance of unplugging individual devices to save electricity. 
                Talk about how taking action together will prevent pounds of carbon dioxide from entering the atmosphere. 
                Use the <a href="https://www.epa.gov/energy/greenhouse-gas-equivalencies-calculator" target="_blank">Environmental Protection Agency’s Greenhouse Gas Equivalencies Calculator</a>. 
               Take this pledge together! </p>
             </ion-card-content>
           </ion-card>

        <br>
    
         </p>
  
    
         <div class = "ion-text-center" [hidden] = "hideVerfCard">
          <h4 [hidden]="kidPledge"> I pledge to unplug community equipment to save electricity while teaching others around
             me about the importance of working together for climate action. </h4>
          <h4 [hidden]="teenPledge"> I pledge to unplug community equipment to save electricity while teaching others around 
            me about the importance of working together for climate action. </h4>
          <h4 [hidden]="adultPledge"> I pledge to unplug community equipment to save electricity while teaching others around
             me about the importance of working together for climate action. </h4>
    </div> 

   <p [hidden] = "kidPledge"> 
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      What shared space did you pick? What is the plan of action between you and the people with whom you share the space? How are you sharing responsibility for unplugging items to reduce the group’s carbon emissions?
 <ion-row [hidden] = "useCamera">
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3" [hidden] = "useCamera">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      
      <ion-row [hidden] = "dontUseCamera">
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>
        </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 160 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
   </p>


   <p [hidden] = "teenPledge">
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      What shared space did you pick? What is the plan of action between you and the people with whom you share the space? How are you sharing responsibility for unplugging items to reduce the group’s carbon emissions?
 <ion-row [hidden] = "useCamera">
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3" [hidden] = "useCamera">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      
      <ion-row [hidden] = "dontUseCamera">
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>
        </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 160 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
</p>


<p [hidden] = "adultPledge">
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      What shared space did you pick? What is the plan of action between you and the people with whom you share the space? How are you sharing responsibility for unplugging items to reduce the group’s carbon emissions?
 <ion-row [hidden] = "useCamera">
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3" [hidden] = "useCamera">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      
      <ion-row [hidden] = "dontUseCamera">
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>
        </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 160 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
</p>

  <ion-card [hidden]  ="pledgeSubmittedCard">
    <ion-card-header>
      <ion-card-title>
        Thank you for taking the pledge! 
      </ion-card-title>
      <ion-card-content>
        <p [hidden] = "pledgeIsPending">Your pledge submission is currently pending.</p>
        <p [hidden] = "pledgeIsApproved">Your pledge submission has been approved!</p><br [hidden] = "hideYourSubmissionHeading"><br [hidden] = "hideYourSubmissionHeading">
        <p [hidden] = "hideYourSubmissionHeading">Your submission: </p>
        <p>
          <em>{{this.pledgeContent}}</em>
        </p>
      </ion-card-content>
    </ion-card-header>  
  </ion-card>

</ion-grid>
</ion-content>
