

<ion-content class = "welcomeContent" padding>
  <ion-grid>
    <ion-col size = '6'>
    <ion-text class = "welcomeHeader"><font color = #1ba561>
     <br><br><br>
    This is an app for <br>climate <b>action.</b></font>
    </ion-text></ion-col>
    <br><br><br>
    <ion-text class = "welcomeText" padding-bottom = 18px><br>
      
      Its purpose is to help citizens reduce 
      their carbon emissions <br> by making small 
      lifestyle adjustments. 
    </ion-text>
    
    <ion-buttons padding-top>
          <ion-button routerLink = '/welcome3' routerDirection = "root">
            <ion-icon slot="icon-only" name="arrow-round-forward" color="tertiary"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-grid>
    </ion-content>
    
