<ion-content class = "welcomeContent" padding>
  <ion-grid>
    <ion-col size = '6'>
      <ion-text class = "welcomeHeader">
        <font color = #1ba561>
      
        <br><br>
     
        You have the opportunity to prevent 
        the emission of <strong>1 metric ton of CO2.</strong></font>
      </ion-text>
      
      <br><br><br>

      <ion-text class ="welcomeSubheader">
        <font color = #92c83e>
        Over the next 7 weeks,</font>
      </ion-text>
      
      <br>
      
    </ion-col>

    <ion-row>
      <ion-text class = "welcomeText">
      we'll help you do just that by changing the way you think about things 
      like lighting, plug loads, your computer, and more. 
      </ion-text> <br><br><br><br>
    
      <ion-buttons padding-top>
        <ion-button routerLink = '/welcome4' routerDirection = "root">
          <ion-icon slot="icon-only" name="arrow-round-forward" color="tertiary"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-row>
      
  </ion-grid>
    
</ion-content>
    
