<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/target-overview"></ion-back-button>
    </ion-buttons>
    <ion-title>MOD 1: EDUCATION</ion-title>
  </ion-toolbar>
</ion-header>

<!---- 
Insert:
Desciption of Ed module
Button: Start this module.
  on click : hide button and description, show ed pledge list, execute copy pledges function.
--->
<ion-content class = "ion-padding">

<div align="center">
  <h4 [hidden]="hideText">Education Peak Details</h4>

  <br>

<ion-button style="font-size: 20px;" [hidden]="hideButton" (click)="doesExist()" >Start This Module</ion-button>

 
</div>


  <ion-list [hidden]="hidePledges">
    <ion-list-header>
      <ion-label>Your next events</ion-label>
    </ion-list-header>
    <ion-item tappable *ngFor="let event of eventList" routerLink="/ed-pledge-detail/{{ event.id }}">
      <ion-label>
        <h2>{{event?.name}}</h2>
        <p>Impact: <strong>{{event?.impact}} lbs CO2</strong></p>
        
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
