

<ion-content padding>

    <ion-buttons slot="start">
        <ion-back-button defaultHref="/target-overview"></ion-back-button>
      </ion-buttons>
  <br><br>
    <ion-card class= "welcome-card" padding-top>
      <ion-card-header>
        <ion-card-subtitle class="littleHeading">7 weeks of MISSions!</ion-card-subtitle>
        <ion-card-title class="bigHeading">More MISSions Coming Soon</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
     This is a seven week campaign. Allowing you to complete it all at once will not help you
     maintain the behaviours discovered through our pledges. Check back later for your next MISSion! They will be updated
     weekly.
      </ion-card-content>
    </ion-card>
  
    <div text-center>
        <h4>Check back next week!</h4>
    <ion-button 
    fill="solid" 
    color="secondary" 
    size="large" 
    expand="block" 
    routerLink="/target-overview" 
    routerDirection="root">
    Return to available MISSions
  </ion-button>
    </div>


  </ion-content>
