<ion-header no-border>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/target-overview"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>  

<ion-content padding>
  <ion-grid>
    
  <br><br>
    <ion-card class= "welcome-card" padding-top>
      <ion-card-header>
        <ion-card-subtitle color="warning" class="littleHeading">7 weeks of MISSions!</ion-card-subtitle>
        <ion-card-title color="danger" class="bigHeading">More MISSions Coming Soon</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
     This is a seven week campaign. Allowing you to complete it all at once will not help you
     maintain the carbon-conscious behaviours discovered through our pledges. Check back later for your next MISSion!
      A new peak will be available weekly.
      <h4>Check back soon!</h4>
      </ion-card-content>
    </ion-card>
  
    <div text-center>
        
    <ion-button 
    fill="solid" 
    color="secondary" 
    size="large" 
    expand="block" 
    routerLink="/target-overview" 
    routerDirection="root">
    Return to available MISSions
  </ion-button>
    </div>
  </ion-grid>

  </ion-content>
