<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/appliances-and-recycling"></ion-back-button>
    </ion-buttons>
    <ion-title>Peace Out to the Personal Printer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">
  <ion-grid>

     <p [hidden] = "kidPledge">   

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>

            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>

          </ion-card-header>
         
          <ion-card-content>
           <p>Did you know that in the U.S. 8 ink cartridges are thrown away per second and up to 691,200 are thrown 
             away per day? These ink and toner cartridges end up in landfills and release  <strong class="vocabulary">volatile organic compounds</strong>
              and  <strong class="vocabulary">heavy metals</strong> into the soil and water, polluting our environment. 
              It can take 1,000 years for these cartridges to decompose in a landfill! Cartridges you throw away today 
              will still be on Earth in the year 3020. </p>
             <br> 
             <p>The manufacturing of these cartridges also takes a toll on our environment. To make just one cartridge, about 4.8 kg 
               of carbon dioxide are emitted into the environment and, when you factor in the manufacturing of the toner, that number 
               jumps to 8 kg of carbon dioxide! That’s like burning 9 pounds of coal. </p>
          </ion-card-content>
        </ion-card>
  
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Peace Out to the Personal Printer</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
              <p>Lead your family in an open conversation about recycling ink cartridges and donating or recycling personal printers. 
                If you have a personal printer that is not necessary, donate it. Check your local Office Depot or Staples to see if they
                 will recycle your ink and toner cartridges. Printing from personal printers can be replaced with printing from your local 
                 library/school. </p> 
                </ion-card-content>
              </ion-card>
           
              <ion-card>
                <ion-card-header>
                  <ion-card-title class = "content-heading">Where to Recycle?</ion-card-title>
                </ion-card-header>
                <ion-card-content>
              <p>When recycling your ink cartridges and personal printer--if this applies to you, make sure to do it responsibly. Go to 
                <a href="https://search.earth911.com/?utm_source=earth911-header&utm_medium=top-navigation-menu&utm_campaign=top-nav-recycle-search-button" target="_blank">Earth911</a>
                to find out where you can safely recycle your ink cartridges and printer.</p>
              </ion-card-content>
                </ion-card>

        <br>
      </p> 
    

            <p [hidden] = "teenPledge">
              
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>Did you know that in the U.S. 8 ink cartridges are thrown away per second and up to 691,200 are thrown 
              away per day? These ink and toner cartridges end up in landfills and release  <strong class="vocabulary">volatile organic compounds</strong>
               and  <strong class="vocabulary">heavy metals</strong> into the soil and water, polluting our environment. 
               It can take 1,000 years for these cartridges to decompose in a landfill! Cartridges you throw away today 
               will still be on Earth in the year 3020. </p>
              <br> 
              <p>The manufacturing of these cartridges also takes a toll on our environment. To make just one cartridge, about 4.8 kg 
                of carbon dioxide are emitted into the environment and, when you factor in the manufacturing of the toner, that number 
                jumps to 8 kg of carbon dioxide! That’s like burning 9 pounds of coal. </p>
          </ion-card-content>
        </ion-card>
    
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Peace Out to the Personal Printer</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
            <p>Lead your family in an open conversation about recycling ink cartridges and donating or recycling personal printers. 
              If you have a personal printer that is not necessary, donate it. Check your local Office Depot or Staples to see if they
               will recycle your ink and toner cartridges. Printing from personal printers can be replaced with printing from your local 
               library/school. </p> 
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Where to Recycle?</ion-card-title>
          </ion-card-header>
          <ion-card-content>
        <p>When recycling your ink cartridges and personal printer--if this applies to you, make sure to do it responsibly. Go to 
                <a href="https://search.earth911.com/?utm_source=earth911-header&utm_medium=top-navigation-menu&utm_campaign=top-nav-recycle-search-button" target="_blank">Earth911</a>
                to find out where you can safely recycle your ink cartridges and printer.</p>
        </ion-card-content>
          </ion-card>
  
        <br>
     </p> 
    
            <p [hidden] = "adultPledge">
              
        
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>Did you know that in the U.S. 8 ink cartridges are thrown away per second and up to 691,200 are thrown 
              away per day? These ink and toner cartridges end up in landfills and release  <strong class="vocabulary">volatile organic compounds</strong>
               and  <strong class="vocabulary">heavy metals</strong> into the soil and water, polluting our environment. 
               It can take 1,000 years for these cartridges to decompose in a landfill! Cartridges you throw away today 
               will still be on Earth in the year 3020. </p>
              <br> 
              <p>The manufacturing of these cartridges also takes a toll on our environment. To make just one cartridge, about 4.8 kg 
                of carbon dioxide are emitted into the environment and, when you factor in the manufacturing of the toner, that number 
                jumps to 8 kg of carbon dioxide! That’s like burning 9 pounds of coal. </p>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Peace Out to the Personal Printer</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
            <p>If you have a personal printer that is not necessary, donate it. Check your local Office Depot or Staples to see if they will 
              recycle your ink and toner cartridges. Printing from personal printers can be replaced with printing from your local library/school. </p> 
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Where to Recycle?</ion-card-title>
          </ion-card-header>
          <ion-card-content>
        <p>When recycling your ink cartridges and personal printer--if this applies to you, make sure to do it responsibly. Go to 
                <a href="https://search.earth911.com/?utm_source=earth911-header&utm_medium=top-navigation-menu&utm_campaign=top-nav-recycle-search-button" target="_blank">Earth911</a>
                to find out where you can safely recycle your ink cartridges and printer.</p>
        </ion-card-content>
          </ion-card>
        
           <br>   
         </p>

  
    
         <div class = "ion-text-center" [hidden] = "hideVerfCard">
          <h4 [hidden]="kidPledge"> I pledge to lead my family in responsibly donating or recycling our personal printer and ink and toner cartridges to reduce our carbon footprint. </h4>
          <h4 [hidden]="teenPledge">  I pledge to lead my family in responsibly donating or recycling our personal printer and ink and toner cartridges to reduce our carbon footprint.  </h4>
          <h4 [hidden]="adultPledge"> I pledge to responsibly donate or recycle my personal printer and ink and toner cartridges to reduce my carbon footprint.  </h4>
    </div> 

   <p [hidden] = "kidPledge"> 
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      Do you or your family have a personal printer? If so, what did you do to recycle/donate it or your ink and toner cartridges? If you do not have a personal printer, what have you learned about printers and their impact on our environment?
      <ion-row>
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 150 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
   </p>


   <p [hidden] = "teenPledge">
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      Do you or your family have a personal printer? If so, what did you do to recycle/donate it or your ink and toner cartridges? If you do not have a personal printer, what have you learned about printers and their impact on our environment?
      <ion-row>
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 150 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
</p>


<p [hidden] = "adultPledge">
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      Do you have a personal printer? If so, what did you do to recycle/donate it and your ink and toner cartridges? If you do not have a personal printer, what have you learned about printers and their impact on our environment?
      <ion-row>
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 150 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
</p>

  <ion-card [hidden]  ="pledgeSubmittedCard">
    <ion-card-header>
      <ion-card-title>
        Thank you for taking the pledge! 
      </ion-card-title>
      <ion-card-content>
        <p [hidden] = "pledgeIsPending">Your pledge submission is currently pending.</p>
        <p [hidden] = "pledgeIsApproved">Your pledge submission has been approved!</p><br [hidden] = "hideYourSubmissionHeading"><br [hidden] = "hideYourSubmissionHeading">
        <p [hidden] = "hideYourSubmissionHeading">Your submission: </p>
        <p>
          <em>{{this.pledgeContent}}</em>
        </p>
      </ion-card-content>
    </ion-card-header>  
  </ion-card>

</ion-grid>
</ion-content>
