<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/heating-and-cooling"></ion-back-button>
    </ion-buttons>
    <ion-title>Wash it Smarter in Cold Water</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">
  <ion-grid>

     <p [hidden] = "kidPledge">   

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>

            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>

          </ion-card-header>
         
          <ion-card-content>
           <p> Did you know that roughly 75% of the energy used when washing a load of laundry goes 
             into heating the water? Changing your washer temperature settings from 75 °F to 60 °F 
             can save your household $60 or more each year! Many people wash their clothes in warm or
              hot water because it is known to make the chemical reactions in many detergents work more 
              quickly and effectively. Some detergents are specially formulated for use in cold water, 
              however, and work just as effectively in your more environmentally sustainable cold wash. </p>
          </ion-card-content>
        </ion-card>
  
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Wash it Smarter in Cold Water</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
              <p> What does all this mean? Wash your clothes in cold water! Lead the conversation in your home 
                about making the switch from warm to cold water in <b>every</b> laundry load. </p> 
              <br>
              <p>If you or your parents are not sure about making the change, run a test! Wash one load of laundry
                 in a cold-water cycle to see the results. Then compare it to one load washed in warm or hot water. 
                 This will help you know what the future of laundry looks like in your home. </p>
          </ion-card-content>
        </ion-card>

        <br>
      </p> 
    

            <p [hidden] = "teenPledge">
              
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>Did you know that roughly 75% of the energy used when washing a load of laundry goes 
              into heating the water? Changing your washer temperature settings from 75 °F to 60 °F 
              can save your household $60 or more each year! Many people wash their clothes in warm or
               hot water because it is known to make the chemical reactions in many detergents work more 
               quickly and effectively. Some detergents are specially formulated for use in cold water, 
               however, and work just as effectively in your more environmentally sustainable cold wash. </p>
          </ion-card-content>
        </ion-card>
    
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Wash it Smarter in Cold Water</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
            <p> What does all this mean? Wash your clothes in cold water! Lead the conversation in your home 
              about making the switch from warm to cold water in <b>every</b> laundry load. </p> 
            <br>
            <p>If you or your parents are not sure about making the change, run a test! Wash one load of laundry
               in a cold-water cycle to see the results. Then compare it to one load washed in warm or hot water. 
               This will help you know what the future of laundry looks like in your home. </p>
          </ion-card-content>
        </ion-card>
        
        <br>
     </p> 
    
            <p [hidden] = "adultPledge">
              
        
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p> Did you know that roughly 75% of the energy used when washing a load of laundry goes 
              into heating the water? Changing your washer temperature settings from 75 °F to 60 °F 
              can save your household $60 or more each year! Many people wash their clothes in warm or
               hot water because it is known to make the chemical reactions in many detergents work more 
               quickly and effectively. Some detergents are specially formulated for use in cold water, 
               however, and work just as effectively in your more environmentally sustainable cold wash.</p>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Wash it Smarter in Cold Water</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
            <p> What does all this mean? Wash your clothes in cold water! Lead the conversation in your home 
              about making the switch from warm to cold water in <b>every</b> laundry load. </p> 
            <br>
            <p>If you or your roommates are not sure about making the change, run a test! Wash one load of laundry
               in a cold-water cycle to see the results. Then compare it to one load washed in warm or hot water. 
               This will help you know what the future of laundry looks like in your home. </p>
          </ion-card-content>
        </ion-card>
        
           <br>   
         </p>

  
    
         <div class = "ion-text-center" [hidden] = "hideVerfCard">
          <h4 [hidden]="kidPledge"> I pledge to lead my family in washing all of our clothes in cold water. </h4>
          <h4 [hidden]="teenPledge"> I pledge to lead my family in washing all of our clothes in cold water. </h4>
          <h4 [hidden]="adultPledge"> I pledge to lead my family or roommates in washing all of our clothes in cold water. </h4>
    </div> 

   <p [hidden] = "kidPledge"> 
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      Was there a difference in the cleanliness of your clothes after washing them in cold water?
      <ion-row>
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 180 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
   </p>


   <p [hidden] = "teenPledge">
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      Was there a difference in the cleanliness of your clothes after washing them in cold water?
      <ion-row>
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 180 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
</p>


<p [hidden] = "adultPledge">
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      Was there a difference in the cleanliness of your clothes after washing them in cold water?
      <ion-row>
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 180 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
</p>

  <ion-card [hidden]  ="pledgeSubmittedCard">
    <ion-card-header>
      <ion-card-title>
        Thank you for taking the pledge! 
      </ion-card-title>
      <ion-card-content>
        <p [hidden] = "pledgeIsPending">Your pledge submission is currently pending.</p>
        <p [hidden] = "pledgeIsApproved">Your pledge submission has been approved!</p><br [hidden] = "hideYourSubmissionHeading"><br [hidden] = "hideYourSubmissionHeading">
        <p [hidden] = "hideYourSubmissionHeading">Your submission: </p>
        <p>
          <em>{{this.pledgeContent}}</em>
        </p>
      </ion-card-content>
    </ion-card-header>  
  </ion-card>

</ion-grid>
</ion-content>

