<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>APP CONTRIBUTORS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div align = "center">


  <ion-card >
    <ion-card-content>
      <div align = "left">
      <ion-grid>
        <ion-row>
        <ion-col size = "4">
    <ion-img 
    src = './assets/devPage/Bella.jpg'
    class = "round"
      >
      </ion-img>
    </ion-col>
    <ion-col size = "6">
      <H1>

        Isabella (Bella) Malherbe

      </H1>
      <H2>

        Devoted Plant Mom<br> & Wielder of the Pen

      </H2>
      <p>

        CONTENT CREATOR

      </p>
    </ion-col>
  </ion-row>
    </ion-grid>

    Hello, my name is Bella and I attend Berthoud High School and anticipate graduating in 2021. 
    After high school I plan to double major in molecular, cellular, and developmental biology and chemistry 
    with a minor in women and gender studies. After that I plan to enter  an MD/PhD program to study infectious 
    diseases (specifically retroviruses like HIV).  In my free time I am an invertebrate enthusiast, a film 
    aficionado, and an avid reader of poetry and feminist literature (Leah Lakshmi Piepzna-Samarasinha is great!).
     I am a strong advocate for women, climate action, and LGBTQ and minority rights   and I try to incorporate my
      vivacious passion for these into all of my work, tying together problems that plague our world so our app
       users may make intersectional change in their lives toward making our world a better place. 
    </div>
      </ion-card-content>
  </ion-card>


  <ion-card >
    <ion-card-content>
      <div align = "left">
      <ion-grid>
        <ion-row>
        <ion-col size = "4">
    <ion-img 
    src = './assets/devPage/Emma_1.jpg'
    class = "round"
      >
      </ion-img>
    </ion-col>
    <ion-col size = "6">
      <H1>

        Emma Younger

      </H1>
      <H2>

        Coding Ninja<br> & Hot Wing Connoisseur 

      </H2>
      <p>

        DEVELOPER

      </p>
    </ion-col>
  </ion-row>
    </ion-grid>

    Hello! My name is Emma and I am from Windsor, CO. 
    I graduated high school in spring 2020 and will attend Colorado School of Mines 
    beginning fall 2020 to major in chemical engineering and minor in computer science. 
    My interests in programming and engineering started when I was young, but grew in high 
    school while I participated in FTC robotics. I am a Colorado native so I love outdoor 
    activities, including camping, hiking, fishing, and downhill skiing, and I take my 
    dogs, Ella and Kimber, on adventures all over the state. I also love baking and cooking 
    (my favorite recipes include pumpkin pie, white chocolate-raspberry cheesecake, 
    and chocolate cake). I have been involved in Pretty Brainy for the past two and
     a half years and have learned various skills through my involvement, especially 
     while programming the MISSion Innovation App!  
    </div>
      </ion-card-content>
  </ion-card>



  <ion-card >
    <ion-card-content>
      <div align = "left">
      <ion-grid>
        <ion-row>
        <ion-col size = "4">
    <ion-img 
    src = './assets/devPage/Lauren_1.jpg'
    class = "round"
      >
      </ion-img>
    </ion-col>
    <ion-col size = "6">
      <H1>

        Lauren Isenhour

      </H1>
      <H2>

        Space Enthusiast <br>& Professional Dog Mom

      </H2>
      <p>

        DEVELOPER

      </p>
    </ion-col>
  </ion-row>
    </ion-grid>

        Hi :) 
I’m Lauren. I’m from Houston, TX, and moved to Colorado about 5 years ago for school and I’m never going to leave. 
I love camping, biking, hiking, and snowboarding. Being outside and in the sun is my favorite way to be. 
In fact, I love the sun so much that I did all of my senior seminar work on heliophysics (sun physics) and other stellar phenomena. 
It’s the high-energy space-systems that intrigue me. 
After graduation in December 2019, I began my career as an engineer where I solve problems and help produce hardware for space flight. 
     
    </div>
      </ion-card-content>
  </ion-card>



  <ion-card >
    <ion-card-content>
      <div align = "left">
      <ion-grid>
        <ion-row>
        <ion-col size = "4">
    <ion-img 
    src = './assets/devPage/Heidi_1.jpg'
    class = "round"
      >
      </ion-img>
    </ion-col>
    <ion-col size = "6">
      <H1>

        Heidi A. Olinger

      </H1>
      <H2>

        Angler & CEO (Chief Experience Officer)

      </H2>
      <p>

      CONTENT EDITOR

      </p>
    </ion-col>
  </ion-row>
    </ion-grid>

    “It does not require many words to speak the truth.” — Chief Joseph of the Nez Perce (1840-1904)
    <br><br>I am a writer and the founder of Pretty Brainy, a 501(c)(3) nonprofit that gives girls and women the framework to build professional skills parallel to STEAM skills.
    <br><br>From hard-earned experience I know that, by combining clear communication and steady hustle, great things can be forged from nothing.
    <br><br>I am the author of Leonardo’s Science Workshop (Quarto 2019) and the co-founder, with Pretty Brainy’s student leaders, of MISSion Innovation™, an innovation marathon for climate action and a mobile app for helping to curb global warming by leading a carbon-conscious life. One of my favorite days, ever, was delivering the keynote at Hewlett-Packard’s Tech Camp, a gathering of 100 sixth-grade girls learning how to create technology.
    <br><br>I was honored by my peers as the 2017 Woman of Inspiration, an award presented by Colorado Women of Influence, and I have been a member of the cohort at the Harvard Graduate School of Education Future of Learning Institute at Project Zero.
    <br><br>I hold a journalism bachelor of arts, with an emphasis in science and technology journalism, from the University of Wisconsin-Madison, and a master of arts in English literature and language, with an emphasis in 19th-century American studies and the law, from the University of Colorado at Boulder.
    <br><br>
    I frame each day by practicing transcendental meditation and am accompanied everywhere by my little dog, Patches.
    
    </div>
      </ion-card-content>
  </ion-card>


  <ion-card >
    <ion-card-content>
      <div align = "left">
      <ion-grid>
        <ion-row>
        <ion-col size = "4">
    <ion-img 
    src = './assets/devPage/Madzie2.JPG'
    class = "round"
      >
      </ion-img>
    </ion-col>
    <ion-col size = "6">
      <H1>

        Madeleine (Madzie) Boyles

      </H1>
      <H2>

        Wilderness Enthusiast <br>& Book Nerd

      </H2>
      <p>

        CONTENT CREATOR & DEVELOPER

      </p>
    </ion-col>
  </ion-row>
    </ion-grid>

    Hello, my name is Madeleine Boyles—Madzie for short—and I will start my freshman year at Colorado State University in fall 2020, studying computer science and ecosystem science and sustainability. My hobbies include coding, hiking, backpacking and camping, reading, watching movies, and listening to any song by The Lumineers. I am also obsessed with Colin Firth as Mr. Darcy in the BBC Pride and Prejudice TV series and most enjoy watching the show with my mom. Although I was not born in Colorado, and some may call me a “California girl,” I moved here when I was 2 months old with my parents and have lived here ever since. 
<br><br>
    Growing up in Colorado is the reason why I love this planet. Living life so close to the beauty of the Rocky Mountains has inspired me to take action for the climate, and as a lead developer of the MISSion Innovation App, I have had the opportunity to help others take actions of their own. Throughout middle school, I participated in workshops with Pretty Brainy (which I loved), and I continued to work with Heidi and other women on projects such as MISSion Innovation and a middle school coding workshop I planned and taught at Bill Reed Middle School. I have been inspired by Pretty Brainy and have made it my goal to inspire other girls through the organization, as well. 
    
    </div>
      </ion-card-content>
  </ion-card>

</div>
</ion-content>

