<ion-header>
    <ion-toolbar>
      <ion-title>
        Learn
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
      <ion-card class="recycle-card">
      <div align="center">  <img src="https://www.cantonga.gov/images/civica/New%20dept%20images/Recycle_Free_Download_PNG.png"  alt="recycling" /> </div>
          <ion-card-header>
            <ion-card-subtitle>A-Z Recycling List</ion-card-subtitle>
            <ion-card-title>Fort Collins Recyclables</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h2>Learn what's recyclable and where to drop it off.</h2>
          </ion-card-content>
          <ion-item href="https://www.fcgov.com/recycling/atoz/">
            <ion-icon slot="start" color="medium" name="leaf"></ion-icon>
            <ion-label>Check 'em out</ion-label>
          </ion-item>
        </ion-card>

        <ion-card class="welcome-card">
            <img src="https://www.fcgov.com/gardens/img/fortcollinslogo_.jpg" alt="City-Of-Fort-Collins" />
            <ion-card-header>
              <ion-card-subtitle>Carbon Neutrality by 2050</ion-card-subtitle>
              <ion-card-title>Fort Collins Climate Action Plan</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <h2>See the community goals for reducing the carbon footprint of Fort Collins.</h2>
            </ion-card-content>
            <ion-item href="https://www.fcgov.com/climateaction/">
              <ion-icon slot="start" color="medium" name="business"></ion-icon>
              <ion-label>Make Change Happen</ion-label>
            </ion-item>
          </ion-card>

    <ion-card class="welcome-card">
      <img src="https://i.ibb.co/sPSpMTp/sunset-2860039-1920.jpg" alt="Climate Change Is REAL">
       <ion-card-header>
        <ion-card-subtitle color = #f99f38></ion-card-subtitle>
        <ion-card-title>NASA's Report on Climate Change</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h2>The latest reports say that we could be wiped out by 2050.</h2>
      </ion-card-content>
      <ion-item href="https://climate.nasa.gov/resources/about-climate-change/">
        <ion-icon slot="start" color="medium" name="leaf"></ion-icon>
        <ion-label>Get the facts</ion-label>
      </ion-item>
    </ion-card>
  
    <br>
  
    <ion-card class="welcome-card">
      <img src="https://i.ibb.co/B4n9QKX/bottle-bright-close-up-1342529.jpg" alt="reusable water bottle" />
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>Sustainable Products</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h2>Check out this Pretty Brainy blog post about 5 products to make your home more eco friendly.</h2>
      </ion-card-content>
      <ion-item href="https://prettybrainy.com/5-sustainable-products-to-make-your-home-more-environmentally-friendly/">
        <ion-icon slot="start" color="medium" name="globe"></ion-icon>
        <ion-label>Make your home more eco-friendly</ion-label>
      </ion-item>
    </ion-card>
  
        <br>
  
        <ion-card class="welcome-card">
          <img src="https://i.ibb.co/HgZ5ZDM/mission-innovation-facebook-coverphoto.jpg" alt="mission-innovation-banner" />
          <ion-card-header>
            <ion-card-subtitle color = #f99f38>The innovators and app developers.</ion-card-subtitle>
            <ion-card-title>MISSion Innovation: Leadership Team</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h2>Meet the high school and college students using STEAM to take action on climate change.</h2>
          </ion-card-content>
          <ion-item href="https://prettybrainy.com/mission-innovation-team/">
            <ion-icon slot="start" color="medium" name="people"></ion-icon>
            <ion-label>Meet the team</ion-label>
          </ion-item>
        </ion-card>
      
        <br>

        <ion-card class="welcome-card">
            <img src="https://i.ibb.co/KrSzKS0/co2-3139225-1920.jpg" alt="CO2 Calculator"  />
            <ion-card-header>
              <ion-card-subtitle>Reduce your emissions</ion-card-subtitle>
              <ion-card-title>Carbon Reduction Calculator</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <h2>Use our calculator to find out how much carbon you can save with 3 simple solutions.</h2>
            </ion-card-content>
            <ion-item routerLink="/carbon-calc">
              <ion-icon slot="start" color="medium" name="calculator"></ion-icon>
              <ion-label>Take the Calculator</ion-label>
            </ion-item>
          </ion-card>

          <br>
      
        <ion-card class="welcome-card">
          <img src="https://downtownfortcollins.com/wp-content/uploads/2019/02/Whitefbshare.png" alt="Eco Tool Library" />
          <ion-card-header>
            <ion-card-subtitle>Reducing the single-use consumption of tools</ion-card-subtitle>
            <ion-card-title>Fort Collins Tool Lending Library </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h2>Check out the Eco Tool Library initiative to reduce over consumption of tools and material in landfills.</h2>
          </ion-card-content>
          <ion-item href="https://eco-thrift.com/eco-tool-library/">
            <ion-icon slot="start" color="medium" name="construct"></ion-icon>
            <ion-label>Eco Tool Library</ion-label>
          </ion-item>
        </ion-card>
      
        <br>
      
    <!---
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://ionicframework.com/docs/">
        <ion-icon slot="start" color=#6CBAD1 name="locate"></ion-icon>
        <ion-label>Share the app!</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="cog"></ion-icon>
        <ion-label>Scaffold Out Your App</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="leaf"></ion-icon>
        <ion-label>Change Your App Layout</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Theme Your App</ion-label>
      </ion-item>
    </ion-list>
  -->
  </ion-content>
