<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/heating-and-cooling"></ion-back-button>
    </ion-buttons>
    <ion-title>Chill Out</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">
  <ion-grid>

     <p [hidden] = "kidPledge">   

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>

            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>

          </ion-card-header>
         
          <ion-card-content>
           <p> An electric space heater can use more than 45 watts of energy every hour it is turned on. That’s about $5 per hour in energy costs 
             AND 45 extra watts of energy burned, which greatly increases your <strong class="vocabulary">carbon emissions</strong>! If your family relies on a space heater to keep 
             your home warm, these costs can quickly add up. Electric space heaters are also prone to overwhelming your electric system and tripping 
             <strong class="vocabulary">breakers</strong> — the system in charge of shutting off your entire electrical system in case of an electricity overload. </p>
             <br> 
             <p>Instead of using a space heater (or to use one less), do these things instead: </p>
             <br>
             <p>Dress for the Weather: wear an extra sweater, warm socks, and a scarf.</p>
             <br>
             <p>Keep Out Drafts: Make your house draft free. We can help you with this! Go to the “Plug Loads” peak and click on the pledge titled 
               “Airtight and Alright.” The pledge walks you through your own preliminary home efficiency audit!</p>
          </ion-card-content>
        </ion-card>
  
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Chill Out</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
              <p> Take initiative and lead the conversation with your parents about the consequences of owning a space heater 
                and whether or not this appliance is necessary in your home. Discuss alternatives and ask your parents to consider 
                donating or recycling your space heater to decrease your carbon footprint.  </p> 
              <br>
              <p> When recycling your space heater (if this applies to you) make sure to do it responsibly. Go to 
                 <a href="https://search.earth911.com/?utm_source=earth911-header&utm_medium=top-navigation-menu&utm_campaign=top-nav-recycle-search-button" target="_blank">Earth911</a>
                  to learn where you can safely recycle your space heater.</p>
          </ion-card-content>
        </ion-card>

        <br>
      </p> 
    

            <p [hidden] = "teenPledge">
              
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p> An electric space heater can use more than 45 watts of energy every hour it is turned on. That’s about $5 per hour in energy costs 
              AND 45 extra watts of energy burned, which greatly increases your <strong class="vocabulary">carbon emissions</strong>! If your family relies on a space heater to keep 
              your home warm, these costs can quickly add up. Electric space heaters are also prone to overwhelming your electric system and tripping 
              <strong class="vocabulary">breakers</strong> — the system in charge of shutting off your entire electrical system in case of an electricity overload. </p>
              <br> 
              <p>Instead of using a space heater (or to use one less), do these things instead: </p>
              <br>
              <p>Dress for the Weather: wear an extra sweater, warm socks, and a scarf.</p>
              <br>
              <p>Keep Out Drafts: Make your house draft free. We can help you with this! Go to the “Plug Loads” peak and click on the pledge titled 
                “Airtight and Alright.” The pledge walks you through your own preliminary home efficiency audit!</p>
          </ion-card-content>
        </ion-card>
    
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Chill Out</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
            <p> Take initiative and lead the conversation with your parents about the consequences of owning a space heater 
              and whether or not this appliance is necessary in your home. Discuss alternatives and ask your parents to consider 
              donating or recycling your space heater to decrease your carbon footprint.  </p> 
            <br>
            <p> When recycling your space heater (if this applies to you) make sure to do it responsibly. Go to 
                 <a href="https://search.earth911.com/?utm_source=earth911-header&utm_medium=top-navigation-menu&utm_campaign=top-nav-recycle-search-button" target="_blank">Earth911</a>
                  to learn where you can safely recycle your space heater.</p>
          </ion-card-content>
        </ion-card>
        
        <br>
     </p> 
    
            <p [hidden] = "adultPledge">
              
        
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p> An electric space heater can use more than 45 watts of energy every hour it is turned on. That’s about $5 per hour in energy costs 
              AND 45 extra watts of energy burned, which greatly increases your <strong class="vocabulary">carbon emissions</strong>! If your family relies on a space heater to keep 
              your home warm, these costs can quickly add up. Electric space heaters are also prone to overwhelming your electric system and tripping 
              <strong class="vocabulary">breakers</strong> — the system in charge of shutting off your entire electrical system in case of an electricity overload. </p>
              <br> 
              <p>Instead of using a space heater (or to use one less), do these things instead: </p>
              <br>
              <p>Dress for the Weather: wear an extra sweater, warm socks, and a scarf.</p>
              <br>
              <p>Keep Out Drafts: Make your house draft free. We can help you with this! Go to the “Plug Loads” peak and click on the pledge titled 
                “Airtight and Alright.” The pledge walks you through your own preliminary home efficiency audit!</p>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Chill Out</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
            <p> Take initiative and lead the conversation with your roommates about the consequences of owning a space heater 
              and whether or not this appliance is necessary in your home. Discuss alternatives and ask your roommates to consider 
              donating or recycling your space heater to decrease your carbon footprint.  </p> 
            <br>
            <p> When recycling your space heater (if this applies to you) make sure to do it responsibly. Go to 
                 <a href="https://search.earth911.com/?utm_source=earth911-header&utm_medium=top-navigation-menu&utm_campaign=top-nav-recycle-search-button" target="_blank">Earth911</a>
                  to learn where you can safely recycle your space heater.</p>
          </ion-card-content>
        </ion-card>
 
           <br>   
         </p>

  
    
         <div class = "ion-text-center" [hidden] = "hideVerfCard">
          <h4 [hidden]="kidPledge"> I pledge to talk to my family about donating or recycling our space heater. </h4>
          <h4 [hidden]="teenPledge"> I pledge to talk to my family or roommates about recycling our space heater. </h4>
          <h4 [hidden]="adultPledge"> I pledge to recycle my space heater. </h4>
    </div> 

   <p [hidden] = "kidPledge"> 
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      If you have a space heater, are you recycling or reducing your use of it? What steps are you taking to make this happen? What have you learned about space heaters and their impact on our environment that you didn’t know before?
      <ion-row [hidden] = "useCamera">
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3" [hidden] = "useCamera">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
        
        <ion-row [hidden] = "dontUseCamera">
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>
            </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 300 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
   </p>


   <p [hidden] = "teenPledge">
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      If you have a space heater, are you recycling or reducing your use of it? What steps are you taking to make this happen? What have you learned about space heaters and their impact on our environment that you didn’t know before?
      <ion-row [hidden] = "useCamera">
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3" [hidden] = "useCamera">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
        
        <ion-row [hidden] = "dontUseCamera">
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>
            </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 300 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
</p>


<p [hidden] = "adultPledge">
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      If you have a space heater, are you recycling or reducing your use of it? What steps are you taking to make this happen? What have you learned about space heaters and their impact on our environment that you didn’t know before?
      <ion-row [hidden] = "useCamera">
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3" [hidden] = "useCamera">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
        
        <ion-row [hidden] = "dontUseCamera">
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>
            </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 300 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
</p>

  <ion-card [hidden]  ="pledgeSubmittedCard">
    <ion-card-header>
      <ion-card-title>
        Thank you for taking the pledge! 
      </ion-card-title>
      <ion-card-content>
        <p [hidden] = "pledgeIsPending">Your pledge submission is currently pending.</p>
        <p [hidden] = "pledgeIsApproved">Your pledge submission has been approved!</p><br [hidden] = "hideYourSubmissionHeading"><br [hidden] = "hideYourSubmissionHeading">
        <p [hidden] = "hideYourSubmissionHeading">Your submission: </p>
        <p>
          <em>{{this.pledgeContent}}</em>
        </p>
      </ion-card-content>
    </ion-card-header>  
  </ion-card>

</ion-grid>
</ion-content>

