.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}


.new-user-button{
  --background:#ffdd77;
  --color: #282929;
  --background-activated:#66b067;
  --color-activated:#282929;
}

.medium-text{
  font-size: 20px;
}