<ion-header>
  <ion-toolbar>
    <ion-title>HOME</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink = '/profile' routerDirection = "root">
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-grid> <!--__________________Welcome Card____________________-->
    <ion-card class="welcome-card" justify-content-center align-items-center>
      <ion-img src='./assets/pictures/MI_banner.jpg'></ion-img>
        <ion-card-header>
          <ion-card-title class="welcome-card-title"><font color = #1ba561><b>Welcome to MISSion: Innovation.</b></font></ion-card-title>
        </ion-card-header>
      <ion-card-content class="welcome-card-content">
        <p class="welcome-card-content">You're going to love your new lifestyle.</p>
      </ion-card-content>
      </ion-card>
  </ion-grid>



  <ion-grid padding>
    <ion-col style="text-align:center">
      <h5>This 7-week challenge will change the way you 
      think about your behavior and understanding of 
      7 different topics. Each week, we will challenge 
      you to pledge to change a number of your behavior   
      as it relates to that week's peak. Every week, by taking the 
      pledges, we will climb a peak and accept its challenges. Each challenge 
      that you accept and complete will reduce your carbon 
      footprint. While the views and terrain of each peak are different, 
      the climb to the top of all seven peaks will 
      reduce your negative impact on the world.
      </h5>
    </ion-col>

    <ion-col width-50 style="text-align: center" >
      <h1>Ready to get started?</h1> 
    </ion-col>

    <!-- __________________Button to view target overview__________-->
    <ion-row>
      <ion-col width-50 style="text-align: center">
        <ion-button 
        size="large" 
        routerLink = "/target-overview" 
        routerDirection = "root">
          View the Targets  
        </ion-button>
      </ion-col>
    </ion-row> 
      
      <br>

    <!--___________Button to view Leaderboard________________-->
    <ion-row>
      <ion-col width-50 style="text-align: center">
        <ion-button
        size="large"
        routerLink = "/leaderboard"
        routerDirection = "root">
          View the Leaderboard
          </ion-button>
        </ion-col>
      </ion-row>
      
  </ion-grid>
    
  <br>

    
  <div class="greenBackground"> <!--__________Green Block: User Progress___________-->
    
    <br>

    <ion-grid>
      <ion-card class="welcome-card" [hidden] = "hidePersonalProgress">
        <ion-card-content class="welcome-card-title">
          
            Your Points: {{this.userPoints}}
          
        </ion-card-content>
      </ion-card>

      <div text-center>
        <circle-progress 
        (click) = "getUserProgressBar()"
        [hidden] = "hidePersonalProgress"
        [percent]= "userProgressBar"
        [radius]="90"
        [outerStrokeWidth]="9"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#f99f38'"
        [innerStrokeColor]="'#1ba561'"
        [animation]="true"
        [animationDuration]="500"
        [imageSrc]= "'./assets/pictures/Logo-circle-cropped.png'" 
        [showImage]="true"
        [imageWidth]="153"
        [imageHeight]="153">
        </circle-progress>
        <h3 [hidden] = "hidePersonalProgress">Your Total Progress</h3>
      </div>
    </ion-grid>
    
    <br>
  </div>

  <div class="orangeBackground"> <!--______________OrangeBlock: Team Progress_________-->
    <br>
    
    <ion-grid>
       <ion-card class="welcome-card" [hidden] = "hideTeamProgressBar">
            <ion-card-content class="welcome-card-title">
                Your Team Name: <strong>{{this.team}}</strong>
            </ion-card-content>
        </ion-card>

        <ion-card class="welcome-card" [hidden] = "hideTeamProgressBar">
          <ion-card-content class="welcome-card-title">
              Your Team Access Code: <strong>{{this.teamAccessCode}}</strong>
          </ion-card-content>
        </ion-card>

        <ion-card class="welcome-card" [hidden] = "hideTeamProgressBar">
            <ion-card-content class="welcome-card-title">
                Your Team's Total Carbon Reductions: <strong>{{this.teamTotalPoundsCarbon}}</strong>
            </ion-card-content>
        </ion-card>
    
      <div text-center>
        <circle-progress 
        (click) = "teamAndCityProgressBarTotals()"
        [hidden] = "hideTeamProgressBar"
        [percent]= "teamProgressBar"
        [radius]="90"
        [outerStrokeWidth]="9"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#1ba561'"
        [innerStrokeColor]="'#f99f38'"
        [animation]="true"
        [animationDuration]="500"
        [imageSrc]= "'./assets/pictures/Circle-Team-Photo.png'" 
        [showImage]="true"
        [imageWidth]="153"
        [imageHeight]="153">
        </circle-progress>
        <h3 [hidden] = "hideTeamProgressBar">Your Team's Total Progress</h3>
      </div>
    </ion-grid>
    <br>
  </div>
  
   <div> <!--______________BlueBlock: City Progress_________-->
        <br>
        <ion-grid>
            <ion-card class="welcome-card">
                <ion-card-content class="welcome-card-title">
                  The City's Total Carbon Reductions: <strong>{{this.cityTotalPoundsCarbon}}</strong>
                </ion-card-content>
            </ion-card>

        <div text-center>
            <circle-progress 
            [percent]= "cityProgressBar"
            [radius]="90"
            [outerStrokeWidth]="9"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#f99f38'"
            [innerStrokeColor]="'#1ba561'"
            [animation]="true"
            [animationDuration]="500"
            [imageSrc]= "'./assets/pictures/circle-cropped-FC-Logo.png'" 
            [showImage]="true"
            [imageWidth]="153"
            [imageHeight]="153">
            </circle-progress>
            <h3>The City's Total Progress</h3>
          </div>
        </ion-grid>
        <br>
       </div>

  <div class="whiteBackground">
    <br><br>
    <div class="ion-text-center">
      <h1>Powered By Community</h1>
      <h6>MISSion: Innovation is made possible by grants from the following — </h6>
    </div>

  <br>

<ion-grid> <!--_____________Sponsors Grid______________-->
    <ion-row>
      <ion-col size='4' size-sm>
         <a href="https://www.fcgov.com/">
         <ion-img 
          src='./assets/sponsor/CityOfFortCollins.png' 
          alt="City of Fort Collins" ></ion-img>
          </a>

          <br>

          <a href="https://www.cpt12.org/">
          <ion-img 
             src='./assets/sponsor/ColradoPublicTelevision.jpeg' 
             alt="Colorado Public Television"></ion-img>
          </a>

      </ion-col>
      <ion-col size='4' size-sm>
        <a href="https://sim-colorado.org/">
        <ion-img
          src='./assets/sponsor/SIMColorado.png' 
          alt="SIM-Logo" ></ion-img>
          </a>

          <br> <br>

          <a href="https://www.coloradogives.org/">
          <ion-img
          src='./assets/sponsor/ColoradoGives.png' 
          alt="Colorado Gives" ></ion-img>
        </a>

      </ion-col>
      <ion-col size='4' size-sm>
          <a href="https://www.rotary.org/en">
          <ion-img
            src='./assets/sponsor/RotaryInternational.png' 
            alt="Rotary" ></ion-img>
          </a>

            <br>
            <a href="https://www.wfco.org/">
            <ion-img
          src='./assets/sponsor/WomensFoundationOfColorado.png' 
          alt="Women's Foundation of Colorado" ></ion-img>
          </a>
      </ion-col>
    </ion-row>

    <br>

    <div class="ion-text-center">
    <h1>Thank You to Our Sponsors!</h1>
  </div>

  <br>

  <ion-row>
      <ion-col size='4' size-sm>
          <a href="https://toolboxcreative.com/#Game-Changer">
         <ion-img 
          src='./assets/sponsor/ToolboxCreative.png' 
          alt="Toolbox Creative" ></ion-img>
          </a>

          <br>

          <a href="https://csuventures.org/">
          <ion-img
            src='./assets/sponsor/CSUVentures.jpeg' 
            alt="CSU Ventures" ></ion-img>
          </a>

          <br>

          <a href="https://www.pho-co.com/">
          <ion-img
            src='./assets/sponsor/Phoco.png' 
            alt="Phoco" ></ion-img>
            </a>

          <br>

          <a href="https://www.natsci.colostate.edu/">
          <ion-img
            src='./assets/sponsor/CSUCollegeOfNaturalSciences.png' 
            alt="CSU College of Natural Sciences" ></ion-img>
            </a>

      </ion-col>
      <ion-col size='4' size-sm>
          <a href="https://energy.colostate.edu/">
        <ion-img
          src='./assets/sponsor/CSUEnergyInstitute.png' 
          alt="CSU Energy Institute" ></ion-img>
          </a>

          <br> 

          <a href="https://www.research.colostate.edu/">
          <ion-img
          src='./assets/sponsor/CSUVicePresidentForResearch.png' 
          alt="CSU Vice President for Research" ></ion-img>
          </a>

          <br><br><br>

          <a href="https://littlewordsproject.com/">
          <ion-img
          src='./assets/sponsor/LittleWordsProject.png' 
          alt="Little Words Project" ></ion-img>
          </a>

          <br><br><br>

          <a href="http://www.edcarrollmotorco.com/">
          <ion-img
            src='./assets/sponsor/EdCarrolMotorCompany.jpeg' 
            alt="Ed Carrol Motor Company" ></ion-img>
            </a>

      </ion-col>
      <ion-col size='4' size-sm>
          <a href="https://www.natsci.colostate.edu/women-in-natural-sciences-wins/">
          <ion-img
            src='./assets/sponsor/CSUWomenInNaturalSciences.png' 
            alt="CSU Women in Natural Sciences" ></ion-img>
            </a>

            <br>

            <a href="http://www.sixdogtshirtco.com/">
            <ion-img
              src='./assets/sponsor/SixDog.png' 
              alt="Six Dog T-shirt Co." ></ion-img>
              </a>

          <br><br>

          <a href="https://www.retailmugs.com/">
          <ion-img
           src='./assets/sponsor/RetailMugs.png' 
          alt="Retail Mugs" ></ion-img>
          </a>

          <br><br>

          <a href="https://www.engr.colostate.edu/me/">
          <ion-img
            src='./assets/sponsor/CSUMechanicalEngineering.png' 
            alt="CSU Mechanical Engineering"></ion-img>
            </a>
      </ion-col>
    </ion-row>
  </ion-grid>
    <br>
  </div>

</ion-content>
