<ion-header>
  <ion-toolbar>
    <ion-title>
      REWARDS STORE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

Purchase rewards here with your points!
  
  <div align="center">
            <h3 [hidden]="hideBusinesses">If you know of any local businesses who might want to donate products to our cause please submit their name below. </h3>
            <ion-item [hidden]="hideBusinesses">
                <ion-input name='businessName' type="string" placeholder="Business Name" required></ion-input>
            </ion-item>
            <ion-button [hidden]="hideBusinesses" (click)="getBusinesses()" style="font-size: 20px;">Submit</ion-button>

            <h3 [hidden]="moreBusinesses">Thank you for your suggestion!</h3>
            <ion-button [hidden]="moreBusinesses" (click)="anotherBusiness()" style="font-size: 20px;">Suggest Another Business</ion-button>
         </div>

</ion-content>
