<ion-header>
  <ion-toolbar>
    <ion-title>
      REWARDS STORE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
Purchase rewards here with your points!
  

<ion-col style="text-align:center">
<h3>Aside from saving the planet, you can earn rewards by taking pledges in  our app! In the coming weeks you will be able to purchase rewards here with your points.</h3>
  
<br><br>

  <div align="center">
    <h4 [hidden]="hideBusinesses">If you know of any local businesses who might want to donate 
                                  products to our cause please submit their name below. </h4>
    </div>
    <ion-label position="stacked">Suggest:</ion-label>                            
    <ion-item [hidden]="hideBusinesses" > 
    <ion-input [(ngModel)]="businessName" type="text" placeholder="This is a business?"></ion-input>
    </ion-item><br>

    <ion-label position="stacked">Suggest:</ion-label>
    <ion-item [hidden]="hideBusinesses" >
    <ion-input [(ngModel)]="productSuggestion" type="text" placeholder="This is a sandwich?"></ion-input>
    </ion-item>
    <div align = "center">
      <ion-button [hidden]="hideBusinesses" (click)="addBusinessToList()" style="font-size: 20px;">Submit</ion-button>

      <h4 [hidden]="moreBusinesses">Thank you for your suggestion!</h4>

     
      <ion-button [hidden]="moreBusinesses" (click)="anotherBusiness()" style="font-size: 20px;">Suggest Another Business</ion-button>
    </div>
  </ion-col>
  </ion-grid>
</ion-content>
