ion-title{
    font-size: 24px;
    text-align: justify;
  }

.pledgeCard{
  --ion-background-color: #ffffff;
  --ion-content-color: "white";
}

.content-heading{
  font-size: 20px;
  --ion-text-color: #66b067;
}

ion-card{
  --ion-background-color: #f4f5f7;
  --ion-font-family: 'ChollaSans-Bold' !important;
  --ion-text-color: #f99f38;
}

.vocabulary{
  font-style: bold;
  --ion-font-color: #f99f38;
}

ion-card-content{
  font-family: 'ChollaSans-Thin' !important; 
  font-size: 17px;
}

ion-card-title{
  font-family: 'ChollaSans-Thin' !important; 
  font-size: 25px;
}

ion-card-subtitle{
  color: #252528;
  font-size: 18px;
}
