
<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center">
      REWARDS STORE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-grid>
<ion-card class = "pledgeCard">
  <ion-card-title align="center" padding>Purchase rewards here with your points!</ion-card-title> 
   <ion-card-content style="text-align:center">
     This is our rewards store.
   </ion-card-content>
</ion-card>

<ion-card class = "pledgeCard">
<ion-card-title align="center" padding>Business and Product Suggestion</ion-card-title>
<ion-card-content>
<div style="text-align: center">Aside from saving the planet, you can earn rewards by taking pledges in  our app! In the 
             coming weeks you will be able to purchase rewards here with your points.</div>

      <br [hidden]="hideBusinesses">
  
    <div [hidden]="hideBusinesses" style="text-align: center">If you know of any local businesses who might want to donate 
                                  products to our cause please submit their name below. </div>
                                  <br [hidden]="hideBusinesses">
    <ion-label position="stacked" [hidden]="hideBusinesses">Suggest a business:</ion-label>                            
    <ion-item [hidden]="hideBusinesses" > 
    <ion-input [(ngModel)]="businessName" type="text" placeholder="Type a business suggestion here."></ion-input>
    </ion-item>
    <br [hidden]="hideBusinesses">

    <ion-label position="stacked" [hidden]="hideBusinesses">Suggest a product:</ion-label>
    <ion-item [hidden]="hideBusinesses">
    <ion-input [(ngModel)]="productSuggestion" type="text" placeholder="Type a product suggestion here."></ion-input>
    </ion-item>
    <div align = "center">
      <ion-button [hidden]="hideBusinesses" (click)="addBusinessToList()" style="font-size: 20px;">Submit</ion-button>

      <br [hidden]="moreBusinesses">
      <div [hidden]="moreBusinesses">Thank you for your suggestion!</div>

     
      <ion-button [hidden]="moreBusinesses" (click)="anotherBusiness()" style="font-size: 20px;">Suggest Another Business</ion-button>
    </div>
</ion-card-content>
</ion-card>
</ion-grid>
</ion-content>
