/* #### iPhone 4+ Portrait or Landscape #### */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
    ion-title{
        font-size: 19px;
        text-align: left;
    }
    }
    
    /* #### iPhone 5 Portrait or Landscape #### */
    @media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
     ion-title{
         font-size: 19px;
         text-align: left;
     }
    }
    
    /* #### iPhone 6 and 6 plus Portrait or Landscape #### */
    @media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3){
     ion-title{
         font-size: 24px;
         text-align: left;
     }
    }
    
    /* #### Tablets Portrait or Landscape #### */
    @media screen and (min-device-width: 768px) and (max-device-width: 1024px){
     ion-title{
         font-size: 33px;
         text-align: left;
     }
    }
    
    /* #### Desktops #### */
    @media screen and (min-width: 1024px){
     ion-title{
         font-size: 33px;
         text-align: left;
     }
    }