<ion-header>
  <ion-toolbar>
     <ion-buttons slot="start">
      <ion-back-button defaultHref="/education"></ion-back-button>
    <ion-title>BE A COOL AMBASSADOR</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <div text-center>
      <h1>Have you heard? Spread the word!</h1> 
        <h4> We are all leaders! Everyone can help take action against climate change in their communities. How can you 
      become a Cool Climate Ambassador? Read the document below!</h4>
        <ion-item href="https://docs.google.com/document/d/189EkZF4Rolz7Z_e6ezhTazlhS3IZ5nkcZkFgCzj5Ktg/edit?usp=sharing">
          <ion-icon slot="start" color="danger" name="link"></ion-icon>
          <ion-label>Cool Ambassador Guidelines</ion-label>
        </ion-item>
      </div>

      <Br><Br>
  
      <div text-center>
          <h4>I pledge to become a cool ambassador.</h4>
      <ion-button fill="solid" color="secondary" size="large" expand="block" routerLink="/verify-text" routerDirection="root" >Take the Pledge!</ion-button>
      </div>

</ion-content>