ion-title{
    font-size: 32px;
    text-align: justify;
  }

  ion-card-content{
    font-family: 'ChollaSans-Thin' !important; 
    font-size: 20px;
  }

  p{
    font-family: 'ChollaSans-Thin' !important; 
    font-size: 20px;
  }
  
  ion-card{
    background:#f4f5f7;
    font-family: 'ChollaSans-Thin' !important; 
    color: #000000;
  }
  
  ion-card-title{
    font-family: 'ChollaSans-Thin' !important; 
    font-size: 30px;
    color: #66b067;
  }
  
  ion-card-subtitle{
    color: #252528;
    font-size: 18px;
  }
.vocabulary{
  font-style: bold;
  --ion-font-color: #f99f38;
}
.vocab{
  font-style: bold;
  --ion-font-color: #66b067
}
