<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/computers"></ion-back-button>
    </ion-buttons>
    <ion-title>Dim for the Win</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">
  <ion-grid>

     <p [hidden] = "kidPledge">   

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>

            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>

          </ion-card-header>
         
          <ion-card-content>
           <p> A desktop computer uses approximately 868 kilowatt-hours of electricity per year! That’s the equivalent 
             of driving a car from Denver, CO, to Ottawa, Ontario, Canada. Did you know that one third 
             of this energy is used by <strong class="vocabulary">computer monitors?</strong> Turn down the 
             <strong class="vocabulary">brightness</strong> on your monitor and you can reduce the amount of energy your
              computer uses. </p>
             <br> 
             <p>The difference between 100% and 70% brightness can save up to 20% of your computer monitor’s 
               <strong class="vocabulary">energy consumption</strong> without any sacrifice in its performance. 
               (The savings are 20% for a decrease in brightness of 30% because of different aspects of visuals 
               and interactions. These include keyboard brightness and mouse/keypad use.) 
            </p>
          </ion-card-content>
        </ion-card>
  
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Dim for the Win</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
              <p> If you have a personal laptop or other home computer, keep its brightness at a 
                maximum of 70%, unless absolutely necessary to set it higher, and encourage family 
                and friends to do the same.   
              </p>
          </ion-card-content>
        </ion-card>

        <br>
      </p> 
    

            <p [hidden] = "teenPledge">
              
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p> A desktop computer uses approximately 868 kilowatt-hours of electricity per year! That’s the equivalent 
              of driving a car from Denver, CO, to or Ottawa, Ontario, Canada. Did you know that one third 
              of this energy is used by <strong class="vocabulary">computer monitors?</strong> Turn down the 
              <strong class="vocabulary">brightness</strong> on your monitor and you can reduce the amount of energy your
               computer uses. </p>
              <br> 
              <p>The difference between 100% and 70% brightness can save up to 20% of your computer monitor’s 
                <strong class="vocabulary">energy consumption</strong> without any sacrifice in its performance. 
                (The savings are 20% for a decrease in brightness of 30% because of different aspects of visuals 
                and interactions. These include keyboard brightness and mouse/keypad use.) 
             </p>
          </ion-card-content>
        </ion-card>
    
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Dim for the Win</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
            <p> If you have a personal laptop or other home computer, keep its brightness at a 
              maximum of 70%, unless absolutely necessary to set it higher, and encourage family 
              and friends to do the same.   
            </p>
          </ion-card-content>
        </ion-card>
        
        <br>
     </p> 
    
            <p [hidden] = "adultPledge">
              
        
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p> A desktop computer uses approximately 868 kilowatt-hours of electricity per year! That’s the equivalent 
              of driving a car from Denver, CO, to Ottawa, Ontario, Canada. Did you know that one third 
              of this energy is used by <strong class="vocabulary">computer monitors?</strong> Turn down the 
              <strong class="vocabulary">brightness</strong> on your monitor and you can reduce the amount of energy your
               computer uses. </p>
              <br> 
              <p>The difference between 100% and 70% brightness can save up to 20% of your computer monitor’s 
                <strong class="vocabulary">energy consumption</strong> without any sacrifice in its performance. 
                (The savings are 20% for a decrease in brightness of 30% because of different aspects of visuals 
                and interactions. These include keyboard brightness and mouse/keypad use.) 
             </p>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Dim for the Win</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
            <p> If you have a personal laptop or other home computer, keep its brightness at a 
              maximum of 70%, unless absolutely necessary to set it higher, and encourage family 
              and friends to do the same.   
            </p>
          </ion-card-content>
        </ion-card>
        
           <br>   
         </p>

  
    
         <div class = "ion-text-center" [hidden] = "hideVerfCard">
          <h4 [hidden]="kidPledge"> I pledge to operate my computer at no more than 70% brightness.  </h4>
          <h4 [hidden]="teenPledge">  I pledge to operate my computer at no more than 70% brightness. </h4>
          <h4 [hidden]="adultPledge">  I pledge to operate my computer at no more than 70% brightness. </h4>
    </div> 

   <p [hidden] = "kidPledge"> 
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      Take a screenshot of the brightness setting on your computer and send it to us. If you don’t own a computer or device, ask someone you convinced to make the switch to send you a screenshot of their brightness settings. 
      <ion-row>
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 100 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
   </p>


   <p [hidden] = "teenPledge">
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      Take a screenshot of the brightness setting on your computer and send it to us. If you don’t own a computer or device, ask someone you convinced to make the switch to send you a screenshot of their brightness settings.
      <ion-row>
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 100 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
</p>


<p [hidden] = "adultPledge">
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      Take a screenshot of the brightness setting on your computer and send it to us. If you don’t own a computer or device, ask someone you convinced to make the switch to send you a screenshot of their brightness settings. 
      <ion-row>
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 100 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
</p>

  <ion-card [hidden]  ="pledgeSubmittedCard">
    <ion-card-header>
      <ion-card-title>
        Thank you for taking the pledge! 
      </ion-card-title>
      <ion-card-content>
        <p [hidden] = "pledgeIsPending">Your pledge submission is currently pending.</p>
        <p [hidden] = "pledgeIsApproved">Your pledge submission has been approved!</p><br [hidden] = "hideYourSubmissionHeading"><br [hidden] = "hideYourSubmissionHeading">
        <p [hidden] = "hideYourSubmissionHeading">Your submission: </p>
        <p>
          <em>{{this.pledgeContent}}</em>
        </p>
      </ion-card-content>
    </ion-card-header>  
  </ion-card>

</ion-grid>
</ion-content>
