// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary -- Light Blue**/
  --ion-color-primary: #bee1eb;
 /** --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff; **/

  /** secondary -- Light Green **/
  --ion-color-secondary: #8fcc90;
  /**--ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea; **/

  /** tertiary -- Bright Orange**/
  --ion-color-tertiary: #f99f38;
 /** --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff; **/

  /** success -- Light Orange**/
  --ion-color-sucess: #ffdd77;
  /** --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070; **/

  /** warning -- Dark Green**/
  --ion-color-warning: #1ba561;
  /** --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a; **/

  /** danger -- Bright Green**/
  --ion-color-danger: #92c83e;
  /** --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454; **/

  /** dark **/
  --ion-color-dark: #222428;
  /** --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e; **/

  /** medium **/
  --ion-color-medium: #989aa2;
  /**--ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab; **/

  /** light **/
  --ion-color-light: #f4f5f8;
 /** --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9; **/

  ion-content{
    --ion-background-color: #bee1eb;
    --ion-font-family: 'ChollaSans-Bold' !important;
    
 }
 
 ion-card{
   --ion-background-color: #f4f5f7;
   --ion-font-family: 'ChollaSans-Bold' !important;
   --ion-text-color: #f99f38;
 }

  .welcome-card{
  background:#f4f5f7;
  font-family: 'ChollaSans-Thin' !important;
  
 }  
  
   .recycle-card{
   background:#f4f5f7;
   font-family: 'ChollaSans-Thin' !important;
 }

 .welcome-card-title{
  font-family: 'ChollaSans-Thin' !important;
  font-size: 30px;

 }

 .welcome-card-content{
   font-size: 20px;
 }

   .pledgeCard{
  background:#f4f5f7;
  font-family: 'ChollaSans-Thin' !important; 
  color: #000000;
 }  

.content-heading{
  font-size: 20px;
  color: #66b067;
}

.vocabulary{
  font-style: bold;
  color: #f99f38;
}
 
.whiteBackground{
 background-color: #ffffff;
}
  
  .greenBackground{
  background: #8fcc90;
}

.orangeBackground{
  background: #ffdd77;
}
  
  @media (max-width: 5000px) {
  ion-card{
    max-width: 500px;
  }
  ion-item{
    max-width: 500px;
  }
  ion-col{
    max-width: 500px;
  }
  ion-row{
    max-width: 500px;
  }
  ion-text{
    max-width: 500px;
  }
  ion-grid{
    max-width: 500px;
    align-items: center;
  }
  ion-content{
    align-items: center;
  }
  ion-button{
    max-width: 500px;
  }
}

 ion-header{
   --ion-background-color: #bee1eb;
   --ion-font-family: 'Archer' !important;
    text-align: center;
 }

 ion-button{
  --background:#8fcc90;
  --color: #282929;
  --background-activated:#66b067;
  --color-activated:#282929;
}

.badge{
  border-radius: 70px !important;
  -webkit-border-radius: 70px !important;
  overflow: hidden;
}

ion-item{
  --ion-background-color: #ffffff;  
}

ion-col{
  --ion-background-color: #bee1eb;
}

ion-row{
  --ion-background-color: #bee1eb;
}

 .points{
  color: #1ba561
}

.pounds{
  color: #f99f38
} 
  
  .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;   
}

.highlight{
  background-color: #f99f38;
  font-family: 'ChollaSans-Thin' !important; 
}
  
  .scaledAlert {
  transform: scale(1.5);
}
  
//___________________________________________Here and below makes scalable titles for different displays
ion-toolbar{
  --background: #bee1eb;
}

ion-title{
  padding-left: 10px;
  padding-right: 0px;
  text-transform: uppercase;
}

/* #### iPhone 4+ Portrait or Landscape #### */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
ion-title{
    font-size: 22px;
    text-align: left;
}
}

/* #### iPhone 5 Portrait or Landscape #### */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
 ion-title{
     font-size: 22px;
     text-align: left;
 }
}

/* #### iPhone 6 and 6 plus Portrait or Landscape #### */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3){
 ion-title{
     font-size: 26px;
     text-align: left;
 }
}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
 ion-title{
     font-size: 35px;
     text-align: left;
 }
}

/* #### Desktops #### */
@media screen and (min-width: 1024px){
 ion-title{
     font-size: 35px;
     text-align: left;
 }
}
//_____________________________________________Stop CSS for scaling titles

.verifyPledgeForm{
  ion-card-header{
    font-size: 22px
  }

  ion-label{
    font-size: 20px
  }

  ion-textarea{
    font-size: 20px
  }
}


}
