<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/heating-and-cooling"></ion-back-button>
    </ion-buttons>
    <ion-title>Together, We Dress for the Weather</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">
  <ion-grid>

     <p [hidden] = "kidPledge">   

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>

            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>

          </ion-card-header>
         
          <ion-card-content>
           <p>One of the easiest ways to save money on energy bills while saving the environment is to adjust the thermostat 
             in your home. If everyone in the United States were to adjust their thermostats by 1 °F, as much as 8,055,555,555.56 
             <strong class="vocabulary">kilowatt hours(kWh)</strong> could be saved on heating and 1,388,888,888.89 kWh could be saved on cooling every year.  </p>
             <br> 
             <p>Additionally, if everyone in the US were to lower their thermostat by just 1 °F, it would prevent between  0.037 
               and 0.159 metric tons of <strong class="vocabulary">carbon dioxide</strong> from being emitted into the environment. With 1 °F thermostat change, 
               your household would save a little over $33 on heating and cooling annually! </p>
          </ion-card-content>
        </ion-card>
  
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Together, We Dress for the Weather</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
              <p>Think how you could dress differently to make environmentally conscious decisions while being comfortable and 
                discuss your thoughts with your family and friends. Next steps? Dress for the weather! Put on an extra layer or
                 take off your warm winter layers before you resort to changing the thermostat!</p> 
              <br>
              <p> Additionally, talk with family members about the impact of adjusting your thermostat to 
                save energy. Take the lead in showing everyone how to make small adjustments to the heat and air conditioning to 
                reduce carbon emissions! These two steps are important in raising your awareness of temperature changes in your home. </p>
          </ion-card-content>
        </ion-card>

        <br>
      </p> 
    

            <p [hidden] = "teenPledge">
              
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>One of the easiest ways to save money on energy bills while saving the environment is to adjust the thermostat 
              in your home. If everyone in the United States were to adjust their thermostats by 1 °F, as much as 8,055,555,555.56 
              <strong class="vocabulary">kilowatt hours (kWh)</strong> could be saved on heating and 1,388,888,888.89 kWh could be saved on cooling every year.  </p>
              <br> 
              <p>Additionally, if everyone in the US were to lower their thermostat by just 1 °F, it would prevent between  0.037 
                and 0.159 metric tons of <strong class="vocabulary">carbon dioxide</strong> from being emitted into the environment. With 1 °F thermostat change, 
                your household would save a little over $33 on heating and cooling annually! </p>
          </ion-card-content>
        </ion-card>
    
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Together, We Dress for the Weather</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
            <p>Think how you could dress differently to make environmentally conscious decisions while being comfortable and 
              discuss your thoughts with your family and friends. Next steps? Dress for the weather! Put on an extra layer or
               take off your warm winter layers before you resort to changing the thermostat!</p> 
            <br>
            <p> Additionally, talk with family members about the impact of adjusting your thermostat to 
              save energy. Take the lead in showing everyone how to make small adjustments to the heat and air conditioning to 
              reduce carbon emissions! These two steps are important in raising your awareness of temperature changes in your home. </p>
          </ion-card-content>
        </ion-card>
        
        <br>
     </p> 
    
            <p [hidden] = "adultPledge">
              
        
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>One of the easiest ways to save money on energy bills while saving the environment is to adjust the thermostat 
              in your home. If everyone in the United States were to adjust their thermostats by 1 °F, as much as 8,055,555,555.56 
              <strong class="vocabulary">kilowatt hours (kWh)</strong> could be saved on heating and 1,388,888,888.89 kWh could be saved on cooling every year.  </p>
              <br> 
              <p>Additionally, if everyone in the US were to lower their thermostat by just 1 °F, it would prevent between  0.037 
                and 0.159 metric tons of <strong class="vocabulary">carbon dioxide</strong> from being emitted into the environment. With 1 °F thermostat change, 
                your household would save a little over $33 on heating and cooling annually! </p>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Together, We Dress for the Weather</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
            <p>Think how you could dress differently to make environmentally conscious decisions while being comfortable and 
              discuss your thoughts with your family and friends. Next steps? Dress for the weather! Put on an extra layer or
               take off your warm winter layers before you resort to changing the thermostat!</p> 
            <br>
            <p> Additionally, talk with roommates or family members about the impact of adjusting your thermostat to 
              save energy. Take the lead in showing everyone how to make small adjustments to the heat and air conditioning to 
              reduce carbon emissions! These two steps are important in raising your awareness of temperature changes in your home. </p>
          </ion-card-content>
        </ion-card>
        
           <br>   
         </p>
         
    
         <div class = "ion-text-center" [hidden] = "hideVerfCard">
          <h4 [hidden]="kidPledge"> I pledge to change my clothes before I change the thermostat! </h4>
          <h4 [hidden]="teenPledge"> I pledge to change my clothes before I change the thermostat! </h4>
          <h4 [hidden]="adultPledge"> I pledge to change my clothes before I change the thermostat! </h4>
    </div> 

   <p [hidden] = "kidPledge"> 
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      What is one of your favorite cold weather outfits? How about warm weather? If you want, upload a picture!
      <ion-row>
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 1070 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
   </p>


   <p [hidden] = "teenPledge">
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      What is one of your favorite cold weather outfits? How about warm weather? If you want, upload a picture!
      <ion-row>
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 1070 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
</p>


<p [hidden] = "adultPledge">
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      What is one of your favorite cold weather outfits? How about warm weather? If you want, upload a picture!
      <ion-row>
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 1070 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
</p>

  <ion-card [hidden]  ="pledgeSubmittedCard">
    <ion-card-header>
      <ion-card-title>
        Thank you for taking the pledge! 
      </ion-card-title>
      <ion-card-content>
        <p [hidden] = "pledgeIsPending">Your pledge submission is currently pending.</p>
        <p [hidden] = "pledgeIsApproved">Your pledge submission has been approved!</p><br [hidden] = "hideYourSubmissionHeading"><br [hidden] = "hideYourSubmissionHeading">
        <p [hidden] = "hideYourSubmissionHeading">Your submission: </p>
        <p>
          <em>{{this.pledgeContent}}</em>
        </p>
      </ion-card-content>
    </ion-card-header>  
  </ion-card>

</ion-grid>
</ion-content>
