

<ion-content class = "welcomeContent" padding>
 
<ion-grid>

<ion-text class = "welcomeHeader"><font color = #1ba561>
 <br><br><br>
Welcome to <br>MISSion: Innovation</font>
</ion-text><br>
<ion-text class ="welcomeSubheader"><font color = #92c83e>
  BETA Version</font>
</ion-text><br>
<ion-row><ion-text class = "welcomeText" padding-bottom = 18px><br><br>
  
  Thank you for participating in our climate action movement.
</ion-text>

<ion-buttons padding-top>
      <ion-button routerLink = '/welcome2' routerDirection = "root">
        <ion-icon slot="icon-only" name="arrow-round-forward" color="tertiary"></ion-icon>
      </ion-button>
    </ion-buttons></ion-row>
 </ion-grid>
</ion-content>
