<ion-content class = "welcomeContent" padding>
 
<ion-grid>
<br>
<ion-text class = "welcomeHeader">
  <font color = #1ba561>
  <br><br>
  Welcome to <br>
  MISSion: Innovation</font>
  </ion-text>
  
  <br>

<ion-row>
  <ion-text class = "welcomeText" >
    <br><br>
  
    Thank you for participating in our climate action movement!
    </ion-text><br>
  </ion-row>

  <ion-row>
  <ion-buttons class = "ion-padding-top">
    <ion-button routerLink = '/welcome2' routerDirection = "root">
      <ion-icon slot = "icon-only" name="arrow-round-forward" color="tertiary"></ion-icon> 
    </ion-button>
  </ion-buttons>
</ion-row>

 
</ion-grid>
</ion-content>
