<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/transportation"></ion-back-button>
    </ion-buttons>
    <ion-title>Park Your Polluter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">
  <ion-grid>

     <p [hidden] = "kidPledge">   

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>

            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>

          </ion-card-header>
         
          <ion-card-content>
           <p>Want to make a big impact on reducing your carbon footprint? Park your car and drive less! Eighty
              to 90 percent of the environmental impact a car will make is because of how much fuel it burns 
              and the greenhouse gases it emits. As much as 20 percent of the greenhouse gas emissions in the
               United States are from automobiles. You can change this because you’re in the driver’s seat.  </p>
             <br> 
             <p> Extracting <strong class="vocabulary">petroleum</strong> from Earth to make gasoline and diesel 
              for cars disrupts <strong class="vocabulary">ecosystems,</strong> destroying food chains and making
               their sites uninhabitable for living things. A catastrophe caused by the extraction of petroleum,
                such as an <strong class="vocabulary">oil spill,</strong> can devastate surrounding wildlife for 
                many years.</p>
                <br>
              <p>With the increased demand for oil and our burning of fossil fuels, petroleum producers are using more
                 risky methods to extract oil, including <strong class="vocabulary">surface mining</strong> and 
                 <strong class="vocabulary"> fracking.</strong> When we generate air pollution from cars, we also 
                 create an immediate danger to our health and the environment by putting smog, carbon dioxide, and other 
                 greenhouse gasses into the air.  </p>
          </ion-card-content>
        </ion-card>
  
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Park Your Polluter</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
              <p>Take alternative forms of transportation. Consider riding your bike or walking to the store! Next 
                time you need to travel farther away, use the public transportation schedule in your area and ride 
                the bus with your family! </p> 
          </ion-card-content>
        </ion-card>

        <br>
      </p> 
    

            <p [hidden] = "teenPledge">
              
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>Want to make a big impact on reducing your carbon footprint? Park your car and drive less! Eighty
              to 90 percent of the environmental impact a car will make is because of how much fuel it burns 
              and the greenhouse gases it emits. As much as 20 percent of the greenhouse gas emissions in the
               United States are from automobiles. You can change this because you’re in the driver’s seat.  </p>
             <br> 
             <p> Extracting <strong class="vocabulary">petroleum</strong> from Earth to make gasoline and diesel 
              for cars disrupts <strong class="vocabulary">ecosystems,</strong> destroying food chains and making
               their sites uninhabitable for living things. A catastrophe caused by the extraction of petroleum,
                such as an <strong class="vocabulary">oil spill,</strong> can devastate surrounding wildlife for 
                many years.</p>
                <br>
              <p>With the increased demand for oil and our burning of fossil fuels, petroleum producers are using more
                 risky methods to extract oil, including <strong class="vocabulary">surface mining</strong> and 
                 <strong class="vocabulary">fracking.</strong> When we generate air pollution from cars, we also 
                 create an immediate danger to our health and the environment by putting smog, carbon dioxide, and other 
                 greenhouse gasses into the air.  </p>
          </ion-card-content>
        </ion-card>
    
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Park Your Polluter</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
              <p>Take alternative forms of transportation. Consider riding your bike or walking to 
                the store! Next time you need to travel farther away, use the public transportation 
                schedule in your area and ride the bus with your family and friends!  </p> 
          </ion-card-content>
        </ion-card>
        
        <br>
     </p> 
    
            <p [hidden] = "adultPledge">
              
        
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>Want to make a big impact on reducing your carbon footprint? Park your car and drive less! Eighty
              to 90 percent of the environmental impact a car will make is because of how much fuel it burns 
              and the greenhouse gases it emits. As much as 20 percent of the greenhouse gas emissions in the
               United States are from automobiles. You can change this because you’re in the driver’s seat.  </p>
             <br> 
             <p> Extracting <strong class="vocabulary">petroleum</strong> from Earth to make gasoline and diesel 
              for cars disrupts <strong class="vocabulary">ecosystems,</strong> destroying food chains and making
               their sites uninhabitable for living things. A catastrophe caused by the extraction of petroleum,
                such as an <strong class="vocabulary">oil spill,</strong> can devastate surrounding wildlife for 
                many years.</p>
                <br>
              <p>With the increased demand for oil and our burning of fossil fuels, petroleum producers are using more
                 risky methods to extract oil, including <strong class="vocabulary">surface mining</strong> and 
                 <strong class="vocabulary">fracking.</strong> When we generate air pollution from cars, we also 
                 create an immediate danger to our health and the environment by putting smog, carbon dioxide, and other 
                 greenhouse gasses into the air.  </p>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Park Your Polluter</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
              <p>Take alternative forms of transportation. Consider riding your bike or walking to the store! Next time you 
                need to travel farther away, use the public transportation schedule in your area and ride the bus with your 
                family and friends! </p> 
          </ion-card-content>
        </ion-card>
        
           <br>   
         </p>

  
    
         <div class = "ion-text-center" [hidden] = "hideVerfCard">
          <h4 [hidden]="kidPledge">At least one day every week I pledge to take an alternative form of transportation, such as a bike or bus, rather than using a gas- or diesel-powered vehicle, and I will encourage my family to do the same.</h4>
          <h4 [hidden]="teenPledge">At least one day every week I pledge to take an alternative form of transportation, such as a bike or bus, rather than using a gas- or diesel-powered vehicle, and I will encourage my family and friends to do the same. </h4>
          <h4 [hidden]="adultPledge">At least one day every week I pledge to take an alternative form of transportation, such as a bike or bus, rather than using a gas- or diesel-powered vehicle, and I will encourage my family to do the same.</h4>
    </div> 

   <p [hidden] = "kidPledge"> 
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      What day of the week did you choose? What alternative method of transportation did you take and why?
      <ion-row>
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 730 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
   </p>


   <p [hidden] = "teenPledge">
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      What day of the week did you choose? What alternative method of transportation did you take and why?
      <ion-row [hidden] = "useCamera">
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3" [hidden] = "useCamera">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
        
        <ion-row [hidden] = "dontUseCamera">
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>
            </ion-row>

      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 730 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
</p>


<p [hidden] = "adultPledge">
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      What day of the week did you choose? What alternative method of transportation did you take and why?
      <ion-row [hidden] = "useCamera">
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3" [hidden] = "useCamera">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
        
        <ion-row [hidden] = "dontUseCamera">
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>
            </ion-row>

      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 730 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
</p>

  <ion-card [hidden]  ="pledgeSubmittedCard">
    <ion-card-header>
      <ion-card-title>
        Thank you for taking the pledge! 
      </ion-card-title>
      <ion-card-content>
        <p [hidden] = "pledgeIsPending">Your pledge submission is currently pending.</p>
        <p [hidden] = "pledgeIsApproved">Your pledge submission has been approved!</p><br [hidden] = "hideYourSubmissionHeading"><br [hidden] = "hideYourSubmissionHeading">
        <p [hidden] = "hideYourSubmissionHeading">Your submission: </p>
        <p>
          <em>{{this.pledgeContent}}</em>
        </p>
      </ion-card-content>
    </ion-card-header>  
  </ion-card>

</ion-grid>
</ion-content>

