<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/transportation"></ion-back-button>
    </ion-buttons>
    <ion-title>Get Transportation Savvy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">
  <ion-grid>

     <p [hidden] = "kidPledge">   

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>

            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>

          </ion-card-header>
         
          <ion-card-content>
           <p> In 2017 transportation became the top culprit of <strong class="vocabulary">human-generated greenhouse gas emissions (GHG),</strong> making up 29% of
             the <strong class="vocabulary">greenhouse emissions</strong> in the U.S. So using <strong class="vocabulary">alternative transportation</strong> in our own lives is key! (When we say 
              <i>transportation</i> we’re including commercial and noncommercial planes, trains, automobiles, trucks, ships, and boats.)  </p>
             <br> 
            <p>When you use <strong class="vocabulary">public transportation,</strong> you not only help curb <strong class="vocabulary">global warming,</strong> but your estimated average savings 
               from not using a car could be $10,000 to $15,000 per year, depending on where you live. (Source: American Public
                Transportation Association.)  </p>
              <br>
              <p>Communities that have strong <strong class="vocabulary">public transportation</strong> have contributed to reducing our nation’s 
                yearly <strong class="vocabulary">carbon footprint</strong> by more than 37 million metric tons! An even more environmentally friendly 
                way to travel is by walking or biking. And the cost difference between maintaining a bicycle and maintaining 
                a car is about $8,370. </p>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Helpful Links</ion-card-title>
            </ion-card-header>
          <ion-card-content>
            <p>Always remember to stay safe when walking and biking. For safety tips for kids 
              and adults, check out the resource pages at the National Highway Traffic Safety 
              Administration: 
              <br>
              <a href="https://www.nhtsa.gov/road-safety/bicycle-safety" target="_blank">For bicyclists</a>
              <br>
               <a href="https://www.nhtsa.gov/road-safety/pedestrian-safety" target="_blank">For pedestrians</a></p>
              <br>
              <p>If you would like to learn more about road safety when
                biking or walking you may attend  
                <a href="https://www.fcgov.com/bicycling/bike-friendly-driver-program" target="_blank">this</a> local Fort Collins event with your family. </p>
              <br>
              <p>To calculate how much carbon you save when using public transportation, see <a href="http://www.publictransportation.org/tools-calculators/carbon-savings-calculator/" target="_blank">this carbon savings calculator</a>.
              This tool will help you know how much you and your family can reduce your carbon footprint by switching to public transportation. </p>
              <br>
              <p>To learn about public transit routes in your community and to plan your routes, see: <br>
                 <a href="https://maps.google.com/landing/transit/index.html" target="_blank">Google maps transit website</a>.
                <br>
                or Transit, <a href="https://transitapp.com/" target="_blank">the app</a> </p>
          </ion-card-content>
        </ion-card>


        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Get Transportation Savvy</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
              <p>Use the linked resources above to find alternative forms of transportation that work for 
                your family. Discuss with your family the financial, environmental, and health benefits of 
                using alternative transportation. Include a discussion about public transportation specific 
                to where you live. Take into account your family’s resources, schedules, and lifestyles when 
                weighing the choices. </p> 
          </ion-card-content>
        </ion-card>

        <br>
      </p> 
    

            <p [hidden] = "teenPledge">
              
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
           <p> In 2017 transportation became the top culprit of <strong class="vocabulary">human-generated greenhouse gas emissions (GHG),</strong> making up 29% of
             the <strong class="vocabulary">greenhouse emissions</strong> in the U.S. So using <strong class="vocabulary">alternative transportation</strong> in our own lives is key! (When we say 
              <i>transportation</i> we’re including commercial and noncommercial planes, trains, automobiles, trucks, ships, and boats.)  </p>
             <br> 
            <p>When you use <strong class="vocabulary">public transportation,</strong> you not only help curb <strong class="vocabulary">global warming,</strong> but your estimated average savings 
               from not using a car could be $10,000 to $15,000 per year, depending on where you live. (Source: American Public
                Transportation Association.)  </p>
              <br>
              <p>Communities that have strong <strong class="vocabulary">public transportation</strong> have contributed to reducing our nation’s 
                yearly <strong class="vocabulary">carbon footprint</strong> by more than 37 million metric tons! An even more environmentally friendly 
                way to travel is by walking or biking. And the cost difference between maintaining a bicycle and maintaining 
                a car is about $8,370. </p>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Helpful Links</ion-card-title>
            </ion-card-header>
          <ion-card-content>
            <p>Always remember to stay safe when walking and biking. For safety tips for kids 
              and adults, check out the resource pages at the National Highway Traffic Safety 
              Administration: 
              <br>
              <a href="https://www.nhtsa.gov/road-safety/bicycle-safety" target="_blank">For bicyclists</a>
              <br>
               <a href="https://www.nhtsa.gov/road-safety/pedestrian-safety" target="_blank">For pedestrians</a></p>
              <br>
              <p>If you would like to learn more about road safety when
                biking or walking you may attend  
                <a href="https://www.fcgov.com/bicycling/bike-friendly-driver-program" target="_blank">this</a> local Fort Collins event with your family. </p>
              <br>
              <p>To calculate how much carbon you save when using public transportation, see <a href="http://www.publictransportation.org/tools-calculators/carbon-savings-calculator/" target="_blank">this carbon savings calculator</a>.
              This tool will help you know how much you and your family can reduce your carbon footprint by switching to public transportation. </p>
              <br>
              <p>To learn about public transit routes in your community and to plan your routes, see: <br>
                 <a href="https://maps.google.com/landing/transit/index.html" target="_blank">Google maps transit website</a>.
                <br>
                or Transit, <a href="https://transitapp.com/" target="_blank">the app</a> </p>
          </ion-card-content>
        </ion-card>
    
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Get Transportation Savvy</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
              <p>Use the linked resources above to find alternative forms of transportation that work for 
                your family. Discuss with your family the financial, environmental, and health benefits of 
                using alternative transportation. Include a discussion about public transportation specific 
                to where you live. Take into account your family’s resources, schedules, and lifestyles when 
                weighing the choices.</p> 
          </ion-card-content>
        </ion-card>

        <br>
     </p> 
    
            <p [hidden] = "adultPledge">
              
        
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p> In 2017 transportation became the top culprit of <strong class="vocabulary">human-generated greenhouse gas emissions (GHG),</strong> making up 29% of
             the <strong class="vocabulary">greenhouse emissions</strong> in the U.S. So using <strong class="vocabulary">alternative transportation</strong> in our own lives is key! (When we say 
              <i>transportation</i> we’re including commercial and noncommercial planes, trains, automobiles, trucks, ships, and boats.)  </p>
             <br> 
            <p>When you use <strong class="vocabulary">public transportation,</strong> you not only help curb <strong class="vocabulary">global warming,</strong> but your estimated average savings 
               from not using a car could be $10,000 to $15,000 per year, depending on where you live. (Source: American Public
                Transportation Association.)  </p>
              <br>
              <p>Communities that have strong <strong class="vocabulary">public transportation</strong> have contributed to reducing our nation’s 
                yearly <strong class="vocabulary">carbon footprint</strong> by more than 37 million metric tons! An even more environmentally friendly 
                way to travel is by walking or biking. And the cost difference between maintaining a bicycle and maintaining 
                a car is about $8,370. </p>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Helpful Links</ion-card-title>
            </ion-card-header>
          <ion-card-content>
            <p>Always remember to stay safe when walking and biking. For safety tips for kids 
              and adults, check out the resource pages at the National Highway Traffic Safety 
              Administration: 
              <br>
              <a href="https://www.nhtsa.gov/road-safety/bicycle-safety" target="_blank">For bicyclists</a>
              <br>
               <a href="https://www.nhtsa.gov/road-safety/pedestrian-safety" target="_blank">For pedestrians</a></p>
              <br>
              <p>If you would like to learn more about road safety when
                biking or walking you may attend  
                <a href="https://www.fcgov.com/bicycling/bike-friendly-driver-program" target="_blank">this</a> local Fort Collins event with your family. </p>
              <br>
              <p>To calculate how much carbon you save when using public transportation, see <a href="http://www.publictransportation.org/tools-calculators/carbon-savings-calculator/" target="_blank">this carbon savings calculator</a>.
              This tool will help you know how much you and your family can reduce your carbon footprint by switching to public transportation. </p>
              <br>
              <p>To learn about public transit routes in your community and to plan your routes, see: <br>
                 <a href="https://maps.google.com/landing/transit/index.html" target="_blank">Google maps transit website</a>.
                <br>
                or Transit, <a href="https://transitapp.com/" target="_blank">the app</a> </p>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Get Transportation Savvy</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
              <p>Use the linked resources above to find alternative forms of transportation that work for you. 
                Discuss with your household the financial, environmental, and health benefits of using alternative transportation.
                 Include a discussion about public transportation specific to where you live. Take into account
                  your family’s and friends’ resources, schedules, and lifestyles when weighing the choices. </p> 
              <br>
              <p>  </p>
          </ion-card-content>
        </ion-card>

           <br>   
         </p>

  
    
         <div class = "ion-text-center" [hidden] = "hideVerfCard">
          <h4 [hidden]="kidPledge">I pledge to lead my family in learning about public transportation, biking, and walking where I live, including fares, routes, and safety.  </h4>
          <h4 [hidden]="teenPledge">I pledge to lead my family in learning about public transportation, biking, and walking where I live, including fares, routes, and safety. </h4>
          <h4 [hidden]="adultPledge">I pledge to lead my household in learning about public transportation, biking, and walking where I live, including fares, routes, and safety. </h4>
    </div> 

   <p [hidden] = "kidPledge"> 
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      What are the public transportation fares where you live? How can the routes integrate into you and your family's usual schedules?
      <ion-row>
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 830 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
   </p>


   <p [hidden] = "teenPledge">
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      What are the public transportation fares where you live? How can the routes integrate into you and your family's usual schedules? 
      <ion-row>
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 830 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
</p>


<p [hidden] = "adultPledge">
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      What are the public transportation fares where you live? How can the routes integrate into your and your household's usual schedules?
      <ion-row>
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 830 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
</p>

  <ion-card [hidden]  ="pledgeSubmittedCard">
    <ion-card-header>
      <ion-card-title>
        Thank you for taking the pledge! 
      </ion-card-title>
      <ion-card-content>
        <p [hidden] = "pledgeIsPending">Your pledge submission is currently pending.</p>
        <p [hidden] = "pledgeIsApproved">Your pledge submission has been approved!</p><br [hidden] = "hideYourSubmissionHeading"><br [hidden] = "hideYourSubmissionHeading">
        <p [hidden] = "hideYourSubmissionHeading">Your submission: </p>
        <p>
          <em>{{this.pledgeContent}}</em>
        </p>
      </ion-card-content>
    </ion-card-header>  
  </ion-card>

</ion-grid>
</ion-content>
