<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/appliances-and-recycling"></ion-back-button>
    </ion-buttons>
    <ion-title> Stellar Purchase! </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">
  <ion-grid>

     <p [hidden] = "kidPledge">   

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>

            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>

          </ion-card-header>
         
          <ion-card-content>
           <p> The average American home spends about $2,000 per year on energy bills alone. 
             According to Energy Star, you can save $575, or 30% of that cost per year, if your 
             home uses only Energy Star certified appliances. That’s the same as saving 5,500 pounds
             of <strong class="vocabulary">greenhouse gas emissions</strong> every year!  </p>
             <br> 
             <p>Since 2005, Energy Star’s efforts have resulted in a 9% reduction in the total 
               <strong class="vocabulary">carbon emissions</strong> for the United States, a savings on energy bills of more than $362 billion, 
               and the prevention of the emission of 2 billion tons of <strong class="vocabulary">greenhouse gas emissions</strong>.
               Check out this <a href="https://www.energystar.gov/products/what_makes_product_energy_star" target="_blank">link</a> to find out what makes a product energy star certified! 
            </p>
          </ion-card-content>
        </ion-card>

  
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle> Stellar Purchase! </ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
              <p> Discuss with your family the benefit of Energy Star or EPEAT appliances. Ask your parents if 
                they would be willing to buy Energy Star Certified for their next appliance purchase to save money
                 and reduce the greenhouse gas emissions your family puts into the environment. 
              </p> 
          </ion-card-content>
        </ion-card>

        <br>
      </p> 
    

            <p [hidden] = "teenPledge">
              
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p> The average American home spends about $2,000 per year on energy bills alone. 
              According to Energy Star, you can save $575, or 30% of that cost per year, if your 
              home uses only Energy Star certified appliances. That’s the same as saving 5,500 pounds
               of greenhouse gas emissions every year!  </p>
              <br> 
              <p>Since 2005, Energy Star’s efforts have resulted in a 9% reduction in the total 
                carbon emissions for the United States, a savings on energy bills of more than $362 billion, 
                and the prevention of the emission of 2 billion tons of greenhouse gas emissions.
                Check out this <a href="https://www.energystar.gov/products/what_makes_product_energy_star" target="_blank">link</a> to find out what makes a product energy star certified! 
             </p>
          </ion-card-content>
        </ion-card>
    
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle> Stellar Purchase! </ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
              <p>Discuss with your family the benefit of Energy Star or EPEAT appliances. Ask your parents if they would
                 be willing to buy Energy Star Certified for their next appliance purchase to save money and reduce the 
                 greenhouse gas emissions your family puts into the environment.  </p> 
          </ion-card-content>
        </ion-card>
        
        <br>
     </p> 
    
            <p [hidden] = "adultPledge">
              
        
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p> The average American home spends about $2,000 per year on energy bills alone. 
              According to Energy Star, you can save $575, or 30% of that cost per year, if your 
              home uses only Energy Star certified appliances. That’s the same as saving 5,500 pounds
              of <strong class="vocabulary">greenhouse gas emissions</strong> every year!  </p>
              <br> 
              <p>Since 2005, Energy Star’s efforts have resulted in a 9% reduction in the total 
                <strong class="vocabulary">carbon emissions</strong> for the United States, a savings on energy bills of more than $362 billion, 
                and the prevention of the emission of 2 billion tons of <strong class="vocabulary">greenhouse gas emissions</strong>.
                Check out this <a href="https://www.energystar.gov/products/what_makes_product_energy_star" target="_blank">link</a> to find out what makes a product energy star certified! 
             </p>
          </ion-card-content>
        </ion-card>


        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle> Stellar Purchase! </ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
              <p> Learn about the benefits of Energy Star or EPEAT appliances. Buy Energy Star Certified for your next appliance 
                purchase to save money and reduce the greenhouse gas emissions your household puts out into the environment. 
                If you’re not the one who will make the purchase, pass on this information to whomever will make the decision 
                and purchase the appliance.</p> 
          </ion-card-content>
        </ion-card>
        
           <br>   
         </p>

  
    
         <div class = "ion-text-center" [hidden] = "hideVerfCard">
          <h4 [hidden]="kidPledge"> I pledge to talk with my parents about the benefits of  Energy Star or EPEAT appliances so these are part of our 
            family’s buying choices for a future appliance purchase. </h4>
          <h4 [hidden]="teenPledge"> I pledge to talk with my parents about the benefits of  Energy Star or EPEAT appliances so these are part of our 
            family’s buying choices for a future appliance purchase. </h4>
          <h4 [hidden]="adultPledge"> I pledge to learn about the benefits of Energy Star or EPEAT appliances so they can be a consideration for my next 
            appliance purchase, whenever that may be.</h4>
    </div> 

   <p [hidden] = "kidPledge"> 
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      What did you learn about the benefits of Energy Star or EPEAT appliances by taking this pledge?
    <ion-row [hidden] = "useCamera">
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3" [hidden] = "useCamera">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
        
        <ion-row [hidden] = "dontUseCamera">
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>
            </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 120 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
   </p>


   <p [hidden] = "teenPledge">
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      What did you learn about the benefits of Energy Star or EPEAT appliances by taking this pledge?
<ion-row [hidden] = "useCamera">
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3" [hidden] = "useCamera">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
        
        <ion-row [hidden] = "dontUseCamera">
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 120 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
</p>


<p [hidden] = "adultPledge">
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      What did you learn about the benefits of Energy Star or EPEAT appliances by taking this pledge?
    <ion-row [hidden] = "useCamera">
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3" [hidden] = "useCamera">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
        
        <ion-row [hidden] = "dontUseCamera">
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>
            </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 120 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
</p>

  <ion-card [hidden]  ="pledgeSubmittedCard">
    <ion-card-header>
      <ion-card-title>
        Thank you for taking the pledge! 
      </ion-card-title>
      <ion-card-content>
        <p [hidden] = "pledgeIsPending">Your pledge submission is currently pending.</p>
        <p [hidden] = "pledgeIsApproved">Your pledge submission has been approved!</p><br [hidden] = "hideYourSubmissionHeading"><br [hidden] = "hideYourSubmissionHeading">
        <p [hidden] = "hideYourSubmissionHeading">Your submission: </p>
        <p>
          <em>{{this.pledgeContent}}</em>
        </p>
      </ion-card-content>
    </ion-card-header>  
  </ion-card>

</ion-grid>
</ion-content>
