<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/education"></ion-back-button>
    <ion-title>Home Energy Efficiency</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">

    <div class = "ion-text-center">


      <p [hidden] = "kidPledge">An <strong>audit</strong> is defined as an official inspection, and in this activity, 
          you will conduct an audit of your own home! This audit will test the <strong>efficiency</strong>--the state or 
          condition of achieving maximum productivity--of the appliances, doors, and windows in your home.<br><br>

        
          <ion-item href="https://drive.google.com/file/d/0By4b0Z0qoYNta0RtRDFsMzN5WU8xaTJOTEY2ZzBwN2lJZG9z/view?usp=sharing">
              <ion-icon slot="start" color="danger" name="link"></ion-icon>
              <ion-label>Home Efficiency Audit Activity Sheet</ion-label>
              </ion-item><br><br>
        
        You’re going to take the lead on this project! Evaluating your immediate surroundings 
        is the first step to leading change in your community. 
        Take a look around your home and locate these items: 

             Furnace
             Hot Water Heater
             Windows
             Ductwork
             Attic
             Doors
             Insulation

        What’s next? Check this out! It’s not safe, without proper training, to touch gas appliances, 
        including your furnace or hot water heater, so we’ll leave that to the professionals. 
        You can investigate the efficiency of your windows and doors, however. How much does the air temperature change when you move from the middle of a room to the area immediately around your windows and doors? Do you notice a temperature change? Can you feel a draft inside on a windy day? Take notes on this activity sheet. 

        How many inefficient light bulbs do you have in your home? 
        Do you know where they are? According to the Department of Energy, incandescent light bulbs are 
        the least efficient form of light bulb in homes. They are many different types, and 
        these bulbs typically have shorter lives. Record these on your activity sheet. 

        Next, talk to your parents about scheduling a home efficiency audit with one of our partners, 
        Fort Collins Utilities or Clearwater Exteriors.
        
        For a home energy efficiency audit, go to https://www.fcgov.com/utilities/epicHomes
        
       </p>

      <p [hidden] = "teenPledge">An <strong>audit</strong> is defined as an official inspection, and in this activity, 
          you will conduct an audit of your own home! This audit will test the <strong>efficiency</strong>--the state or 
          condition of achieving maximum productivity--of the appliances, doors, and windows in your home.<br><br>

          <ion-item href="https://drive.google.com/file/d/0By4b0Z0qoYNta0RtRDFsMzN5WU8xaTJOTEY2ZzBwN2lJZG9z/view?usp=sharing">
              <ion-icon slot="start" color="danger" name="link"></ion-icon>
              <ion-label>Home Efficiency Audit Activity Sheet</ion-label>
              </ion-item><br><br>
        
        You’re going to take the lead on this project! Evaluating your immediate surroundings 
        is the first step to leading change in your community. 
        Take a look around your home and locate these items: 

             Furnace
             Hot Water Heater
             Windows
             Ductwork
             Attic
             Doors
             Insulation
        
        The City of Fort Collins Efficiency WorksTM Homes [https://www.fcgov.com/utilities/epichomes] inspects 
        these items during an official home energy audit.

        What’s next? Check this out! It’s not safe, without proper training, to touch gas appliances, 
        including your furnace or hot water heater, so we’ll leave that to the professionals. 
        You can investigate the efficiency of your windows and doors, however. How much does the air temperature change when you move from the middle of a room to the area immediately around your windows and doors? Do you notice a temperature change? Can you feel a draft inside on a windy day? Take notes on this activity sheet. 

        How many inefficient light bulbs do you have in your home? 
        Do you know where they are? According to the Department of Energy, incandescent light bulbs are 
        the least efficient form of light bulb in homes. They are many different types, and 
        these bulbs typically have shorter lives. Record these on your activity sheet. 

        Next, talk to your parents about scheduling a home efficiency audit with one of our partners, 
        Fort Collins Utilities or Clearwater Exteriors, or schedule it yourself.
        
        For a home energy efficiency audit, go to https://www.fcgov.com/utilities/epicHomes
        
       </p>

             <p [hidden] = "adultPledge">Today you will perform a preliminary <b>home energy audit</b>, 
               which is an inspection of the energy flows in a building.

          <ion-item href="https://drive.google.com/file/d/0By4b0Z0qoYNta0RtRDFsMzN5WU8xaTJOTEY2ZzBwN2lJZG9z/view?usp=sharing">
              <ion-icon slot="start" color="danger" name="link"></ion-icon>
              <ion-label>Home Efficiency Audit Activity Sheet</ion-label>
              </ion-item><br><br>
        
        You’re going to take the lead on this project! Evaluating your immediate surroundings 
        is the first step to leading change in your community. 
        Take a look around your home and locate these items: 

             Furnace
             Hot Water Heater
             Windows
             Ductwork
             Attic
             Doors
             Insulation
        
        The City of Fort Collins Efficiency WorksTM Homes [ https://www.fcgov.com/utilities/epichomes ] inspects 
        these items during an official home energy audit.

        What’s next? Check this out! It’s not safe, without proper training, to touch gas appliances, 
        including your furnace or hot water heater, so we’ll leave that to the professionals. 
        You can investigate the efficiency of your windows and doors, however. How much does the air temperature change when you move from the middle of a room to the area immediately around your windows and doors? Do you notice a temperature change? Can you feel a draft inside on a windy day? Take notes on this activity sheet. 

        How many inefficient light bulbs do you have in your home? 
        Do you know where they are? According to the Department of Energy, incandescent light bulbs are 
        the least efficient form of light bulb in homes. They are many different types, and 
        these bulbs typically have shorter lives. Record these on your activity sheet. 

        Next, talk to your parents about scheduling a home efficiency audit with one of our partners, 
        Fort Collins Utilities or Clearwater Exteriors, or schedule it yourself.
        
        For a home energy efficiency audit, go to https://www.fcgov.com/utilities/epicHomes
        
       </p>
       
    </div>

  <Br><Br>

  <div class = "ion-text-center">
      <h4 [hidden]="kidPledge">I pledge to lead my family in a preliminary home energy efficiency audit. KID PLEDGE</h4>
      <h4 [hidden]="teenPledge">I pledge to take the lead on conducting a preliminary home efficiency audit for my family. TEEN PLEDGE</h4>
      <h4 [hidden]="adultPledge"> I pledge to conduct a preliminary home efficiency audit in my own living space. ADULT PLEDGE</h4>
  <ion-button fill="solid" color="secondary" size="large" expand="block" routerLink="/verify-text" routerDirection="root" >Take the Pledge!</ion-button>
    
  </div>
</ion-content>