<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/education"></ion-back-button>
    <ion-title>Airtight and Alright</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">
<ion-grid>
  

      <p [hidden] = "kidPledge">
        
<ion-card class = "pledgeCard">
  <ion-card-header>
    <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
    <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>An <strong class = "vocabulary">audit</strong> is defined as an official inspection, and in this activity, 
    you will conduct an audit of your own home! This audit will test the <strong class = "vocabulary">efficiency</strong>--the state or 
    condition of achieving maximum productivity--of the appliances, doors, and windows in your home.
  </ion-card-content>
</ion-card>

        <ion-button expand = "full" routerLink = "/ed2docs" routerDirection = "root">
          Airtight and Alright Activity Sheet  
        </ion-button>

<ion-card class = "pledgeCard">
  <ion-card-header>
    <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
    <ion-card-subtitle>Airtight and Alright</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-card-header>
      <ion-card-subtitle>The first step: taking the lead.</ion-card-subtitle>
    </ion-card-header>
    <p>You’re going to take the lead on this project! Evaluating your immediate surroundings is the first step to leading change in your community. 
    Take a look around your home and locate these items: 

      Furnace
      Hot Water Heater
      Windows
      Ductwork
      Attic
      Doors
      Insulation
      </p>

<ion-card-header>
<ion-card-subtitle>What's next? Explore!</ion-card-subtitle>
</ion-card-header>

      <p>Check this out! It’s not safe, without proper training, to touch gas appliances, including your furnace or hot water heater, so we’ll leave that to the professionals. 
        You can investigate the efficiency of your windows and doors, however. 
        How much does the air temperature change when you move from the middle of a room to the area immediately around your windows and doors? 
        Do you notice a temperature change? Can you feel a draft inside on a windy day? Take notes on this activity sheet.</p> 

        <p>How many inefficient light bulbs do you have in your home? Do you know where they are? 
        According to the Department of Energy, incandescent light bulbs are the least efficient form of light bulb in homes. 
        They are many different types, and these bulbs typically have shorter lives. Record these on your activity sheet.
          </p>

      <ion-card-header>
          <ion-card-subtitle>How can I do more?</ion-card-subtitle>
        </ion-card-header>

      <p>Next, talk to your parents about scheduling a home efficiency audit with one of our partners, Fort Collins Utilities or Clearwater Exteriors. 

          For a home energy efficiency audit, go to https://www.fcgov.com/utilities/epicHomes  
          </p>
  </ion-card-content>
</ion-card>
        
       </p>
      
      

      <p [hidden] = "teenPledge">
        
<ion-card class = "pledgeCard">
  <ion-card-header>
    <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
    <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>An <strong class = "vocabulary">audit</strong> is defined as an official inspection, and in this activity, 
    you will conduct an audit of your own home! This audit will test the <strong class = "vocabulary">efficiency</strong>--the state or 
    condition of achieving maximum productivity--of the appliances, doors, and windows in your home.
  </ion-card-content>
</ion-card>

        <ion-button expand = "full" routerLink = "/ed2docs" routerDirection = "root">
          Airtight and Alright Activity Sheet  
        </ion-button>
        
<ion-card class = "pledgeCard">
  <ion-card-header>
    <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
    <ion-card-subtitle>Airtight and Alright</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-card-header>
      <ion-card-subtitle>The first step: taking the lead.</ion-card-subtitle>
    </ion-card-header>
    <p>
              You’re going to take the lead on this project! Evaluating your immediate surroundings is the first step to leading change in your community. 
        Take a look around your home or living space and locate these items:
 
        Furnace
        Hot Water Heater
        Windows
        Ductwork
        Attic
        Doors
        Insulation</p>
        
        <p>The City of Fort Collins Efficiency WorksTM Homes [https://www.fcgov.com/utilities/epichomes] inspects these items during an official home energy audit.
      </p>

<ion-card-header>
<ion-card-subtitle>What's next? Explore!</ion-card-subtitle>
</ion-card-header>

      <p>Check this out! It’s not safe, without proper training, to touch gas appliances, including your furnace or hot water heater, so we’ll leave that to the professionals. 
        You can investigate the efficiency of your windows and doors, however. 
        How much does the air temperature change when you move from the middle of a room to the area immediately around your windows and doors? 
        Do you notice a temperature change? Can you feel a draft inside on a windy day? Take notes on this activity sheet.</p> 

        <p>How many inefficient light bulbs do you have in your home? Do you know where they are? 
        According to the Department of Energy, incandescent light bulbs are the least efficient form of light bulb in homes. 
        They are many different types, and these bulbs typically have shorter lives. Record these on your activity sheet.
          </p>

      <ion-card-header>
          <ion-card-subtitle>How can I do more?</ion-card-subtitle>
        </ion-card-header>

      <p>
        Next, talk to your parents about scheduling a home energy efficiency audit with one of our partners, Fort Collins Utilities or Clearwater Exteriors, or schedule it yourself. 
          </p>
  </ion-card-content>
</ion-card>

<ion-item href="https://www.fcgov.com/utilities/epicHomes ">
  <ion-icon slot="start" color="danger" name="link"></ion-icon>
  <ion-label>Schedule your home efficiency audit!</ion-label>
</ion-item>
        
       </p>

      
      
      
             <p [hidden] = "adultPledge">
               
<ion-card class = "pledgeCard">
  <ion-card-header>
    <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
    <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>An <strong class = "vocabulary">audit</strong> is defined as an official inspection, and in this activity, 
    you will conduct an audit of your own home! This audit will test the <strong class = "vocabulary">efficiency</strong>--the state or 
    condition of achieving maximum productivity--of the appliances, doors, and windows in your home.
  </ion-card-content>
</ion-card>
               
         <ion-button expand = "full" routerLink = "/ed2docs" routerDirection = "root">
          Airtight and Alright Activity Sheet  
        </ion-button>


<ion-card class = "pledgeCard">
  <ion-card-header>
    <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
    <ion-card-subtitle>Airtight and Alright</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-card-header>
      <ion-card-subtitle>The first step: taking the lead.</ion-card-subtitle>
    </ion-card-header>
    <p>
        You’re going to take the lead on this project! Evaluating your immediate surroundings is the first step to leading change in your community. Take a look around your home or living space and locate these items:

        Furnace
        Hot Water Heater
        Windows
        Ductwork
        Attic
        Doors
        Insulation</p>
        
        <p>The City of Fort Collins Efficiency WorksTM Homes [https://www.fcgov.com/utilities/epichomes] inspects these items during an official home energy audit.
      </p>

<ion-card-header>
<ion-card-subtitle>What's next? Explore!</ion-card-subtitle>
</ion-card-header>

      <p>Check this out! It’s not safe, without proper training, to touch gas appliances, including your furnace or hot water heater, so we’ll leave that to the professionals. 
        You can investigate the efficiency of your windows and doors, however. 
        How much does the air temperature change when you move from the middle of a room to the area immediately around your windows and doors? 
        Do you notice a temperature change? Can you feel a draft inside on a windy day? Take notes on this activity sheet.</p> 

        <p>How many inefficient light bulbs do you have in your home? Do you know where they are? 
        According to the Department of Energy, incandescent light bulbs are the least efficient form of light bulb in homes. 
        They are many different types, and these bulbs typically have shorter lives. Record these on your activity sheet.
          </p>

      <ion-card-header>
          <ion-card-subtitle>How can I do more?</ion-card-subtitle>
        </ion-card-header>

      <p>Next, schedule a home energy efficiency audit with one of our partners, Fort Collins Utilities or Clearwater Exteriors. 

          For a home energy efficiency audit, go to https://www.fcgov.com/utilities/epicHomes.</p>
          
  </ion-card-content>
</ion-card>
       </p>
       


  <Br><Br>

  <div class = "ion-text-center" [hidden] = "hideVerfCard">
      <h4 [hidden]="kidPledge">I pledge to lead my family in a preliminary home energy efficiency audit.</h4>
      <h4 [hidden]="teenPledge">I pledge to take the lead on conducting a preliminary home efficiency audit for my family.</h4>
      <h4 [hidden]="adultPledge"> I pledge to conduct a preliminary home efficiency audit in my own living space.</h4>    
  </div>
    
    <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" placeholder="How did you complete this pledge?"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
       Earn 100 Points
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card [hidden]  ="pledgeSubmittedCard">
    <ion-card-header>
      <ion-card-title>
        Thank you for taking the pledge! 
      </ion-card-title>
      <ion-card-content>
        <p [hidden] = "pledgeIsPending">Your pledge submission is currently pending.</p>
        <p [hidden] = "pledgeIsApproved">Your pledge submission has been approved!</p><br [hidden] = "hideYourSubmissionHeading"><br [hidden] = "hideYourSubmissionHeading">
        <p [hidden] = "hideYourSubmissionHeading">Your submission: </p>
        <p>
          <em>{{this.pledgeContent}}</em>
        </p>
      </ion-card-content>
    </ion-card-header>  
  </ion-card>

</ion-grid>
</ion-content>
