<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/education"></ion-back-button>
    <ion-title>HOME EFFICIENCY AUDIT</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <div text-center>
      <h4> This website contains information about how to conduct your own home efficiency audit in Fort Collins, Colorado! If you are 
      not a resident of this city, please search the internet for information on how home efficiency audits are conducted
      in your city.</h4>
      <ion-item href="https://www.fcgov.com/utilities/residential/conserve/home-efficiency-program">
        <ion-icon slot="start" color="danger" name="link"></ion-icon>
        <ion-label>Home Audits in Fort Collins</ion-label>
      </ion-item>

      <h6> For home audits in other cities please contact Shanda Peyton at +1(720)-357-2977 </h6>
    </div>

    <Br><Br>

    <div text-center>
        <h4>I pledge to evaluate my home's efficiency.</h4>
    <ion-button fill="solid" color="secondary" size="large" expand="block" routerLink="/verify-text" routerDirection="root" >Take the Pledge!</ion-button>
    </div>

</ion-content>