<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/education"></ion-back-button>
    <ion-title>COOL CLIMATE CALCULATOR</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <div text-center>
        <h4> Sustainable actions and behaviour change are necessary, <br>
          but these both can become much more effective when we <br>
          reflect on our own carbon contributions. Take the <br>
          Cool Climate Calculator here!</h4>
        <ion-item href="https://www.conservation.org/carbon-footprint-calculator#/">
          <ion-icon slot="start" color="danger" name="link"></ion-icon>
          <ion-label>Take The Cool Climate Calculator</ion-label>
        </ion-item>
      </div>

      <Br><Br>
  
        <div text-center>
            <h4>I pledge to take the carbon calculator.</h4>
        <ion-button fill="solid" color="secondary" size="large" expand="block" routerLink="/verify-text" routerDirection="root" >Take the Pledge!</ion-button>
        </div>

</ion-content>