<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/education"></ion-back-button>
      <ion-title>Calcu-Later Carbon Emissions</ion-title>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class = "ion-padding">

  <!--_________________________KID PLEDGE___________________________-->  

    <p [hidden] = "kidPledge">
      
          <ion-card class = "pledgeCard">
              <ion-card-header>
                <ion-card-title>Take the Pledge</ion-card-title>
                <ion-card-subtitle>Calcu-Later Carbon Emissions</ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content>
                  Go to this website https://www3.epa.gov/carbon-footprint-calculator/ and use the calculator to get information on your 
                  carbon footprint for waste, transportation, and home energy. 
                  You may need an adult to help you.            
              </ion-card-content>
            </ion-card>
      
      </p>
    
<!--_________________________TEEN PLEDGE___________________________-->  

    <p [hidden] = "teenPledge">

        <ion-card class = "pledgeCard">
              <ion-card-header>
                <ion-card-title>Take the Pledge</ion-card-title>
                <ion-card-subtitle>Calcu-Later Carbon Emissions</ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content>
                  Go to this website https://www3.epa.gov/carbon-footprint-calculator/ and use the calculator to get information on your 
                  carbon footprint for waste, transportation, and home energy. 
                  You may need an adult to help you.            
              </ion-card-content>
            </ion-card>
      </p>
    
    
  <!--_________________________ADULT PLEDGE___________________________-->      
    
    <p [hidden] = "adultPledge">

  <ion-card class = "pledgeCard">
        <ion-card-header>
          <ion-card-title>Take the Pledge</ion-card-title>
          <ion-card-subtitle>Calcu-Later Carbon Emissions</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
            Go to this website https://www3.epa.gov/carbon-footprint-calculator/ and use the calculator to get information on your 
            carbon footprint for waste, transportation, and home energy. 
            You may need an adult to help you.            
              </ion-card-content>
          </ion-card>
      </p>


<Br><Br>

<div class = "ion-text-center">
    <h4 [hidden]="kidPledge">I pledge to take the Environmental Protection Agency’s carbon calculator.</h4>
    <h4 [hidden]="teenPledge">I pledge to take the Environmental Protection Agency’s carbon calculator.</h4>
    <h4 [hidden]="adultPledge">I pledge to take the Environmental Protection Agency’s carbon calculator.</h4>
<ion-button fill="solid" color="secondary" size="large" expand="block" routerLink="/verify-text" routerDirection="root" >Take the Pledge!</ion-button>
  
</div>
</ion-content>
