<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/transportation"></ion-back-button>
    </ion-buttons>
    <ion-title>Navigator, Not Carbon Traitor!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">
  <ion-grid>

     <p [hidden] = "kidPledge">   

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>

            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>

          </ion-card-header>
         
          <ion-card-content>
           <p> Throughout the previous transportation pledges, you have learned that taking <strong class="vocabulary">public transit</strong> is an efficient, cheap, 
             and <strong class="vocabulary">environmentally conscious</strong> form of travel. To make your trip on <strong class="vocabulary">public transportation</strong> successful, however, you may 
             need to prepare yourself for traveling. For Northern Colorado, use our region’s <strong class="vocabulary">public transportation</strong> websites, linked below, 
             to learn exact dates, times, locations, and costs of your ride. If you prepare in advance and stay safe while riding, it will 
             be a wonderful tool to save money and our environment.  </p>
             <br> 
             <p> <a href="https://www.lovgov.org/services/public-works/bus-service" target="_blank">City of Loveland Transit (COLT)</a></p>
             <br>
             <p><a href="https://greeleyevanstransit.com/" target="_blank">Greeley Evans Transit (GET)</a></p>
             <br>
             <p>Fort Collins:
               <br>
                <a href="http://www.ridetransfort.com/" target="_blank">Transfort</a>
               <br>
              <a href="http://www.ridetransfort.com/max" target="_blank"> MAX</a>
               <br> 
              <a href=" http://www.ridetransfort.com/flex" target="_blank">FLEX</a>
             </p>
             <br>
             <p> <a href="http://www.berthoud.org/departments/berthoud-area-transportation-system-bats" target="_blank">Berthoud Area Transportation Service (BATS)</a></p>
             <br>
             <p> <a href="https://ridebustang.com/" target="_blank">Bustang</a></p>
          </ion-card-content>
        </ion-card>
  
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Navigator, Not Carbon Traitor!</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
              <p> With your family, explore the options in your region for public transportation. Sit down and plan your route far in advance, making 
                sure you know bus fare, bus stop locations, and times in which you need to get on the bus. To keep yourself safe, try to have the exact
                 amount of money for your fare so you aren’t seen with excess cash, keep your personal belongings on your lap, and stay alert while riding.
                 You may be able to ride for free: see the websites above for details. </p> 
              <br>
              <p> If possible, sit in an aisle seat to avoid being boxed in and sit 
                toward the front of the bus near the driver. Once you have a solid 
                plan and have gone over how to stay safe while riding public transportation, 
                put it into action and try out your route with your family! </p>
          </ion-card-content>
        </ion-card>

        <br>
      </p> 
    

            <p [hidden] = "teenPledge">
              
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p> Throughout the previous transportation pledges, you have learned that taking <strong class="vocabulary">public transit</strong> is an efficient, cheap, 
             and <strong class="vocabulary">environmentally conscious</strong> form of travel. To make your trip on <strong class="vocabulary">public transportation</strong> successful, however, you may 
             need to prepare yourself for traveling. For Northern Colorado, use our region’s <strong class="vocabulary">public transportation</strong> websites, linked below, 
             to learn exact dates, times, locations, and costs of your ride. If you prepare in advance and stay safe while riding, it will 
             be a wonderful tool to save money and our environment.  </p>
             <br> 
             <p> <a href="https://www.lovgov.org/services/public-works/bus-service" target="_blank">City of Loveland Transit (COLT)</a></p>
             <br>
             <p><a href="https://greeleyevanstransit.com/" target="_blank">Greeley Evans Transit (GET)</a></p>
             <br>
             <p>Fort Collins:
               <br>
                <a href="http://www.ridetransfort.com/" target="_blank">Transfort</a>
               <br>
              <a href="http://www.ridetransfort.com/max" target="_blank"> MAX</a>
               <br> 
              <a href=" http://www.ridetransfort.com/flex" target="_blank">FLEX</a>
             </p>
             <br>
             <p> <a href="http://www.berthoud.org/departments/berthoud-area-transportation-system-bats" target="_blank">Berthoud Area Transportation Service (BATS)</a></p>
             <br>
             <p> <a href="https://ridebustang.com/" target="_blank">Bustang</a></p>
          </ion-card-content>
        </ion-card>
    
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Navigator, Not Carbon Traitor!</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
              <p>With your family and friends, explore the options in your region for public transportation. 
                Sit down and plan your route far in advance, making sure you know bus fare, bus stop locations,
                 and times in which you need to get on the bus. To keep yourself safe, try to have the exact amount 
                 of money for your fare so you aren’t seen with excess cash, keep your personal belongings on your 
                 lap, and stay alert while riding. You may be able to ride for free: see the websites above for details.</p> 
              <br>
                <p> If possible, sit in an aisle seat to avoid being boxed in and sit toward the front of the bus near the
                   driver. Once you have a solid plan and have gone over how to stay safe while riding public transportation,
                    put it into action and try out your route with your family or friends!</p>
          </ion-card-content>
        </ion-card>
        
        <br>
     </p> 
    
            <p [hidden] = "adultPledge">
              
        
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p> Throughout the previous transportation pledges, you have learned that taking <strong class="vocabulary">public transit</strong> is an efficient, cheap, 
             and <strong class="vocabulary">environmentally conscious</strong> form of travel. To make your trip on <strong class="vocabulary">public transportation</strong> successful, however, you may 
             need to prepare yourself for traveling. For Northern Colorado, use our region’s <strong class="vocabulary">public transportation</strong> websites, linked below, 
             to learn exact dates, times, locations, and costs of your ride. If you prepare in advance and stay safe while riding, it will 
             be a wonderful tool to save money and our environment.  </p>
             <br> 
             <p> <a href="https://www.lovgov.org/services/public-works/bus-service" target="_blank">City of Loveland Transit (COLT)</a></p>
             <br>
             <p><a href="https://greeleyevanstransit.com/" target="_blank">Greeley Evans Transit (GET)</a></p>
             <br>
             <p>Fort Collins:
               <br>
                <a href="http://www.ridetransfort.com/" target="_blank">Transfort</a>
               <br>
              <a href="http://www.ridetransfort.com/max" target="_blank"> MAX</a>
               <br> 
              <a href=" http://www.ridetransfort.com/flex" target="_blank">FLEX</a>
             </p>
             <br>
             <p> <a href="http://www.berthoud.org/departments/berthoud-area-transportation-system-bats" target="_blank">Berthoud Area Transportation Service (BATS)</a></p>
             <br>
             <p> <a href="https://ridebustang.com/" target="_blank">Bustang</a></p>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Navigator, Not Carbon Traitor!</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
              <p> With your family or friends, explore the options in your region for public transportation. Sit down and plan your route far
                 in advance, making sure you know bus fare, bus stop locations, and times in which you need to get on the bus. To keep yourself 
                 safe, try to have the exact amount of money for your fare so you aren’t seen with excess cash, keep your personal belongings on 
                 your lap, and stay alert while riding. You may be able to ride for free: see the websites above for details. </p> 
              <br>
              <p> If possible, sit in an aisle seat to avoid being boxed in and sit toward the front of the bus near the driver.
                 Once you have a solid plan and have gone over how to stay safe while riding public transportation, put it into 
                 action and try out your route with others! </p>
          </ion-card-content>
        </ion-card>
        
           <br>   
         </p>

  
    
         <div class = "ion-text-center" [hidden] = "hideVerfCard">
          <h4 [hidden]="kidPledge"> I pledge to lead my family in riding public transportation. </h4>
          <h4 [hidden]="teenPledge">  I pledge to lead my family and friends in riding public transportation.  </h4>
          <h4 [hidden]="adultPledge"> I pledge to lead my family and friends in riding public transportation. </h4>
    </div> 

   <p [hidden] = "kidPledge"> 
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      Where did you go? How was your experience riding public transportation?
      <ion-row [hidden] = "useCamera">
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3" [hidden] = "useCamera">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
        
        <ion-row [hidden] = "dontUseCamera">
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>
       </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 300 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
   </p>


   <p [hidden] = "teenPledge">
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      Where did you go? How was your experience riding public transportation?
      <ion-row [hidden] = "useCamera">
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3" [hidden] = "useCamera">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
        
        <ion-row [hidden] = "dontUseCamera">
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>
       </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 300 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
</p>


<p [hidden] = "adultPledge">
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      Where did you go? How was your experience riding public transportation?
      <ion-row [hidden] = "useCamera">
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3" [hidden] = "useCamera">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
        
        <ion-row [hidden] = "dontUseCamera">
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>
       </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 300 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
</p>

  <ion-card [hidden]  ="pledgeSubmittedCard">
    <ion-card-header>
      <ion-card-title>
        Thank you for taking the pledge! 
      </ion-card-title>
      <ion-card-content>
        <p [hidden] = "pledgeIsPending">Your pledge submission is currently pending.</p>
        <p [hidden] = "pledgeIsApproved">Your pledge submission has been approved!</p><br [hidden] = "hideYourSubmissionHeading"><br [hidden] = "hideYourSubmissionHeading">
        <p [hidden] = "hideYourSubmissionHeading">Your submission: </p>
        <p>
          <em>{{this.pledgeContent}}</em>
        </p>
      </ion-card-content>
    </ion-card-header>  
  </ion-card>

</ion-grid>
</ion-content>
