<ion-header>
  <ion-toolbar>
    <ion-title>Create Your Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-content-padding">
  <ion-grid>
    
    <!-- ________________________Begin Sign Up Form_____________________-->
    <!--__________________________Enter Email___________________________-->
    <form [formGroup]="signupForm">
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
          <ion-input
            formControlName="email"
            type="email"
            placeholder="Your email address"
            [class.invalid]="!signupForm.controls['email'].valid && signupForm.controls['email'].touched"
          >
          </ion-input>
      </ion-item>
      
      <!--_____________________Trigger Error Message if email address is not in valid format________-->
      <ion-item 
        class="error-message"
        *ngIf="!signupForm.controls['email'].valid
        && signupForm.controls['email'].touched"
      >
        <ion-label>Please enter a valid email.</ion-label>
      </ion-item>

      <!--_____________________________Enter Password_______________________-->
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input
          formControlName="password"
          type="password"
          placeholder="Your password"
          [class.invalid]="!signupForm.controls['password'].valid && signupForm.controls['password'].touched"
        >
        </ion-input>
      </ion-item>
      <!--_____________________Trigger Error Message if password is shorter than 8 char____________-->
      <ion-item
        class="error-message"
        *ngIf="!signupForm.controls['password'].valid  &&
        signupForm.controls['password'].touched"
      >
        <ion-label>Your password needs more than 8 characters.</ion-label>
      </ion-item>

      <ion-button
        expand="block"
        (click)="signupUser(signupForm)"
        [disabled]="!signupForm.valid"
        (click)="presentAlert()"
      >
        Create an Account
      </ion-button>
    </form><br><br>
    <ion-button
    expand="block"
    routerLink = "/login"
  >
    Have an account? Login here.<ion-icon name="play"></ion-icon> 
  </ion-button>
</ion-grid>
</ion-content>
