<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab1"></ion-back-button>
    <ion-title>PEAKS</ion-title>
    </ion-buttons>
  </ion-toolbar>
  </ion-header> 

<ion-content class = "ion-content-padding"><br><br><br>
 <ion-grid> 
  <ion-row>
    <ion-col size='4' size-sm>
      <br><br><br><br>
         
      <ion-img
       (click)="goToEdPage()"
        class = "badge"
        src='./assets/badges/Education@2x.png'
        alt="Education" border-radius = "50px">
        </ion-img>
        
        <br><br>
        
        <ion-img
        (click)="goToComputerPage()"
        class = "badge"
        src='./assets/grey_badges/Computers_grey.png'        
        alt="Computers"></ion-img>
    </ion-col>
    
    <ion-col size='4' size-sm>
      
      <ion-img 
      (click)="goToPlugLoadsPage()"
      class = "badge"
      src='./assets/grey_badges/Plug Loads_grey.png'
      alt="Plug-Loads"></ion-img>

      <br><br>

      <ion-img
      (click)="goToEandPPage()"
      class = "badge"
      src='./assets/grey_badges/Equipment and Purchasing_grey.png'
      alt="Equipment-Purchasing"></ion-img>

      <br><br>

      <ion-img
      (click)="goToHeatingCoolingPage()"
      class = "badge"
      src='./assets/grey_badges/Heating and Cooling_grey.png'
      alt="HeatingCooling"></ion-img>
    </ion-col>
    
    <ion-col size='4' size-sm>
      <br><br><br><br>
        
      <ion-img
      (click)="goToLightingPage()"
      class = "badge"
      src='./assets/grey_badges/Lighting_grey.png'
      alt="Lighting"></ion-img>

        <br><br>
        
      <ion-img 
      (click)="goToTransportationPage()"
      class = "badge"
      src='./assets/grey_badges/Transportation_grey.png'
      alt="Transportation"></ion-img>
    </ion-col>
  </ion-row>


<ion-grid>
</ion-content>
