<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/transportation"></ion-back-button>
    </ion-buttons>
    <ion-title>No Paper, No Problem</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">
  <ion-grid>

     <p [hidden] = "kidPledge">   

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>

            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>

          </ion-card-header>
         
          <ion-card-content>
           <p> Pulp and paper companies are the biggest polluters of water, the biggest users of water as compared to other companies, 
             the third largest emitter of greenhouse gasses, and a large source of the deaths of our trees and of healthy forests. Over 
             30 million acres of forest land is destroyed by pulp and paper companies every year.. That's almost half of the entire state of 
             Colorado! Because so many trees are destroyed to create paper, the companies behind paper production are responsible for 
             the destruction of ecosystems and the endangerment of some forest species.  </p>
             <br> 
             <p> Despite all the effort and damage that paper creation makes, so much paper goes to waste every single day! It is estimated 
               that 40% of the U.S’s waste is paper products. When that paper is taken to a landfill, it rots and turns into 
               <strong class="vocabulary">methane.</strong> If it is burned, it turns into <strong class="vocabulary">carbon dioxide.</strong>
                Both of these gases trap heat from the sun beneath all the layers of the atmosphere, contributing to the process of 
                <strong class="vocabulary">global warming.</strong></p>
          </ion-card-content>
        </ion-card>
  
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>No Paper, No Problem</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
              <p>There are many alternatives to paper and more environmentally efficient products that you can easily access. 
                The most obvious option is to switch over to electronic copies of documents instead of printing them out on paper. 
                These are harder to lose and easier to share with your family and friends. When you do have to print things, 
                print the document on both sides of the page instead of just one side. In the modern era, most printers have a 
                setting in which you can print on both sides of the paper. </p> 
              <br>
              <p> Choose three items that you can feasibly switch from paper to electronic and make the switch in your home. 
                Encourage others to make the switch too! </p>
          </ion-card-content>
        </ion-card>

        <br>
      </p> 
    

            <p [hidden] = "teenPledge">
              
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p> Pulp and paper companies are the biggest polluters of water, the biggest users of water as compared to other companies, 
              the third largest emitter of greenhouse gasses, and a large source of the deaths of our trees and of healthy forests. Over 
              30 million acres of forest land is destroyed by pulp and paper companies every year.. That's almost half of the entire state of 
              Colorado! Because so many trees are destroyed to create paper, the companies behind paper production are responsible for 
              the destruction of ecosystems and the endangerment of some forest species.  </p>
              <br> 
              <p> Despite all the effort and damage that paper creation makes, so much paper goes to waste every single day! It is estimated 
                that 40% of the U.S’s waste is paper products. When that paper is taken to a landfill, it rots and turns into 
                <strong class="vocabulary">methane.</strong> If it is burned, it turns into <strong class="vocabulary">carbon dioxide.</strong>
                 Both of these gases trap heat from the sun beneath all the layers of the atmosphere, contributing to the process of 
                 <strong class="vocabulary">global warming.</strong></p>
          </ion-card-content>
        </ion-card>
    
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>No Paper, No Problem</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
            <p>There are many alternatives to paper and more environmentally efficient products that you can easily access. 
              The most obvious option is to switch over to electronic copies of documents instead of printing them out on paper. 
              These are harder to lose and easier to share with your family and friends. When you do have to print things, 
              print the document on both sides of the page instead of just one side. In the modern era, most printers have a 
              setting in which you can print on both sides of the paper. </p> 
            <br>
            <p> Choose three items that you can feasibly switch from paper to electronic and make the switch in your home. 
              Encourage others to make the switch too! </p>
          </ion-card-content>
        </ion-card>
        
        <br>
     </p> 
    
            <p [hidden] = "adultPledge">
              
        
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p> Pulp and paper companies are the biggest polluters of water, the biggest users of water as compared to other companies, 
              the third largest emitter of greenhouse gasses, and a large source of the deaths of our trees and of healthy forests. Over 
              30 million acres of forest land is destroyed by pulp and paper companies every year.. That's almost half of the entire state of 
              Colorado! Because so many trees are destroyed to create paper, the companies behind paper production are responsible for 
              the destruction of ecosystems and the endangerment of some forest species.  </p>
              <br> 
              <p> Despite all the effort and damage that paper creation makes, so much paper goes to waste every single day! It is estimated 
                that 40% of the U.S’s waste is paper products. When that paper is taken to a landfill, it rots and turns into 
                <strong class="vocabulary">methane.</strong> If it is burned, it turns into <strong class="vocabulary">carbon dioxide.</strong>
                 Both of these gases trap heat from the sun beneath all the layers of the atmosphere, contributing to the process of 
                 <strong class="vocabulary">global warming.</strong></p>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>No Paper, No Problem</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
            <p>There are many alternatives to paper and more environmentally efficient products that you can easily access. 
              The most obvious option is to switch over to electronic copies of documents instead of printing them out on paper. 
              These are harder to lose and easier to share with your family and friends. When you do have to print things, 
              print the document on both sides of the page instead of just one side. In the modern era, most printers have a 
              setting in which you can print on both sides of the paper. </p> 
            <br>
            <p> Choose three items that you can feasibly switch from paper to electronic and make the switch in your home. 
              Encourage others to make the switch too! </p>
          </ion-card-content>
        </ion-card>
        
           <br>   
         </p>

  
    
         <div class = "ion-text-center" [hidden] = "hideVerfCard">
          <h4 [hidden]="kidPledge"> I pledge to pick three activities I use paper for and adjust them so they can be done electronically. </h4>
          <h4 [hidden]="teenPledge"> I pledge to pick three activities I use paper for and adjust them so they can be done electronically. </h4>
          <h4 [hidden]="adultPledge"> I pledge to pick three activities I use paper for and adjust them so they can be done electronically. </h4>
    </div> 

   <p [hidden] = "kidPledge"> 
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      Which three items did you choose and how did you alter them?
      <ion-row>
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 20 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
   </p>


   <p [hidden] = "teenPledge">
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      Which three items did you choose and how did you alter them?
      <ion-row>
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 20 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
</p>


<p [hidden] = "adultPledge">
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      Which three items did you choose and how did you alter them?
      <ion-row>
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 20 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
</p>

  <ion-card [hidden]  ="pledgeSubmittedCard">
    <ion-card-header>
      <ion-card-title>
        Thank you for taking the pledge! 
      </ion-card-title>
      <ion-card-content>
        <p [hidden] = "pledgeIsPending">Your pledge submission is currently pending.</p>
        <p [hidden] = "pledgeIsApproved">Your pledge submission has been approved!</p><br [hidden] = "hideYourSubmissionHeading"><br [hidden] = "hideYourSubmissionHeading">
        <p [hidden] = "hideYourSubmissionHeading">Your submission: </p>
        <p>
          <em>{{this.pledgeContent}}</em>
        </p>
      </ion-card-content>
    </ion-card-header>  
  </ion-card>

</ion-grid>
</ion-content>
