ion-list-header {
    background-color: #ececec;
  }
 
  i.dashboard-button{
    --background:#8fcc90;
    --color: #282929;
    --background-activated:#66b067;
    --color-activated:#282929;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-left {
    text-align: left;
  }
  
  .placeholder-profile {
    color: #cccccc;
  }
  
  .dob-label {
    color: #000000;
    padding: 10px;
    max-width: 50%;
  }

  /* Dropdown Button */
.dropbtn {
  background-color: white;
  color:black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: rgba(255, 255, 255, 0.755);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #bee1eb;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.team-card{
  font-size: 20px;
  background:#f4f5f7;
  font-family: 'ChollaSans-Thin' !important;
}

.profileComplete{
  font-size: 20px;
  background: #ffdd77;
  font-family: 'ChollaSans-Thin' !important;
}

.team-card-title{
  font-family: 'ChollaSans-Thin' !important;
  font-size: 30px;
  color: #f99f38;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #bee1eb}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: rgba(255, 255, 255, 0.755);}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.ios ion-title{
  padding-left: 0px;
  padding-right: 12px;
  text-transform: uppercase;
}

.md ion-title{
  padding-left: 12px;
  padding-right: 0px;
  text-transform: uppercase;
}

/* #### iPhone 4+ Portrait or Landscape #### */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
ion-title{
    font-size: 17px;
    text-align: center;
}
}

/* #### iPhone 5 Portrait or Landscape #### */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
 ion-title{
     font-size: 17px;
     text-align: center;
 }
}

/* #### iPhone 6 and 6 plus Portrait or Landscape #### */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3){
 ion-title{
     font-size: 20px;
     text-align: center;
 }
}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
 ion-title{
     font-size: 28px;
     text-align: center;
 }
}

/* #### Desktops #### */
@media screen and (min-width: 1024px){
 ion-title{
     font-size: 30px;
     text-align: center;
 }
}


