<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>USER PROFILE</ion-title>
       <ion-button slot="end" (click)="logOut()" ion-padding-end= '3px'>Logout</ion-button> 
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">
<ion-grid>
  <ion-list >
    <ion-list-header>Personal Information</ion-list-header>
    
    <!-- User Name  __________ Autopopulates -->
    <ion-item (click)="updateName()" [hidden] = 'showName'>
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col class="text-left" size="5"> Name </ion-col>
            <ion-col
              class = "ion-text-capitalize"
              class="text-center"
              size="7"
              *ngIf="userProfile?.firstName || userProfile?.lastName"
            >
              {{userProfile?.firstName}} {{userProfile?.lastName}}
            </ion-col>
            <ion-col
              size="7"
              class="placeholder-profile text-center"
              *ngIf="!userProfile?.firstName"
              class = "ion-text-wrap"
              class = "text-center"
              style = color:gray
            >
              <span 
              class = "ion-text-wrap"> Tap here to enter your name. </span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>

    <!-- UPDATE USER NAME________________-->
    <ion-item [hidden] = 'showIfNameChangeMade'>
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col class="text-left" size="5"> Name </ion-col>
            <ion-col
              class = "ion-text-wrap"
              class = "ion-text-capitalize"
              class="text-center"
              size="7"
            >
              {{this.userFirstNameInput}} {{this.userLastNameInput}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>




    <!--    User EMAIL  _________Autopopulates -->
    <ion-item (click)="updateEmail()" [hidden] = "changedEmailOld">
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col class="text-left" size="5"> Email </ion-col>
            <ion-col class="text-center" size="7" *ngIf="userProfile?.email">
              {{userProfile?.email}}
            </ion-col>
            <ion-col
              size="7"
              class="placeholder-profile text-center"
              *ngIf="!userProfile?.email"
              class = "ion-text-wrap"
              style = color:gray
            >
              <span> Tap here to edit your email. </span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>


    <!--    UPDATE EMAIL  _________-->
    <ion-item [hidden] = "changedEmailNew">
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col class="text-left" size="5"> Email </ion-col>
            <ion-col
              size="7"
              class = "ion-text-wrap"
              class="placeholder-profile text-center"
            >{{this.userEmailInput}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>



      <!--    TEAM INFO  __________ Autopopulates  -->
      <ion-item [hidden] = "showTeamName">
        <ion-label>
          <ion-grid>
            <ion-row>
              <ion-col class="text-left" size="5"> Team </ion-col>
              <ion-col class="text-center" size="7" *ngIf="userProfile?.team">
                {{userProfile?.team}}
              </ion-col>
              <ion-col
                size="7"
                class="placeholder-profile text-center"
                *ngIf="!userProfile?.team"
              >
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>




      <!--    TEAM INFO  __________ on New Input  -->
      <ion-item [hidden] = "showIfTeamChangeMade">
        <ion-label>
          <ion-grid>
            <ion-row>
              <ion-col class="text-left" size="5"> Team </ion-col>
              <ion-col class="text-center" size="7">
                {{this.userTeamInput}}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>
      
      


      
      <!--    USER AGE ------ AUTOPOPULATES   -->
      <ion-item (click)="updateDOBAlert()" [hidden] = "showIfAgeInDB">
        <ion-label>
          <ion-grid>
            <ion-row>
              <ion-col class="text-left" size="5"> Age Range </ion-col>
              <ion-col class="text-center" size="7" *ngIf="userProfile?.birthDate">
                {{userProfile?.birthDate}}
              </ion-col>
              <ion-col
                size="7"
                class="placeholder-profile text-center"
                *ngIf="!userProfile?.birthDate"
                style = color:gray
              >
              <span class = "ion-text-wrap"> Tap here to edit your age range. </span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>


      <!--    USER AGE------ On New Input -->
      <ion-item (click)="updateDOBAlert()" [hidden] = "showIfAgeChangeMade">
        <ion-label>
          <ion-grid>
            <ion-row>
              <ion-col class="text-left" size="5"> Age Range </ion-col>
              <ion-col class="text-center" size="7">
                {{this.userAgeInput}}
              </ion-col>
        
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>

    <!-- UPDATE PASSWORD
    <ion-item (click)="updatePassword()">
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col class="text-left" size="5"> Password </ion-col>
            <ion-col class="placeholder-profile text-center" size="7">
              <span> Tap here to edit. </span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item> -->

  </ion-list> 

  <ion-card class = "team-card" [hidden] = "dbAge">
    <ion-card-content class = "team-card-title">
      Why Are We Asking For Your Age Range?
    </ion-card-content>
    <ion-card-content class = "team-card">
      We are asking for your age range so, as you use this app, you are given age-appropriate and achievable challenges to help you lead a more sustainable lifestyle.
    </ion-card-content>
  </ion-card>

  <ion-card class = "profileComplete" [hidden] = "hideProfileCompleteNotice">
    <div align="center">
    <ion-card-content class = "profileComplete"><strong>Your profile is complete!</strong><br>
    Return to the Dashboard or create or join a team below. <br>

 
      <ion-button routerLink = "/tabs/tab1" align = "center">Dashboard</ion-button>
    </ion-card-content>
  </div>
  </ion-card>

<ion-card class = "team-card" [hidden] = "showTeamButtons">
  <ion-card-content class = "team-card-title">Team Up!
    </ion-card-content>
  <ion-card-content class = "team-card">MISSion Innovation is more effective and enjoyable when you surround 
    yourself with friends who have the same goals as you. So <strong>join a team! </strong>
    You can join a team that has already been created or create your own team with friends, 
    family members, or colleagues. Working with a team on the MISSion Innovation 
    Seven Weeks of Peaks challenge will increase your competitiveness, give you 
    some new Earth-loving friends, and keep you on track to reduce your carbon footprint! 
    </ion-card-content>

<ion-row >
  <ion-col class = "ion-text-center" >
    <ion-button (click) = createTeamAlert() [hidden] = "showTeamButtons">Create a Team</ion-button>
    <ion-button (click) = joinTeamAlert() [hidden] = "showTeamButtons">Join a Team</ion-button>
  </ion-col>
</ion-row>
</ion-card>
</ion-grid>
<ion-grid><div align = "center">
<ion-button (click) = "updatePassword()">Change Password</ion-button>
</div>
</ion-grid>
</ion-content>
