<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/plug-loads"></ion-back-button>
    </ion-buttons>
     <ion-title>Wake Up the Sleep Timers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">
  <ion-grid>

     <p [hidden] = "kidPledge">   

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>

            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>

          </ion-card-header>
         
          <ion-card-content>
           <p>The <strong class="vocabulary">sleep timers</strong> on your electronics ensure that 
            your electronics are off when they are not in use, which is a really helpful feature for saving
             <strong class="vocabulary">battery power</strong>. The more time your electronics are off, 
             the slower their <strong class="vocabulary">batteries</strong> will drain, so you will 
             have to plug them in less, resulting in lower <strong class="vocabulary">carbon emissions</strong>.
              Although this may sound simple, the lower the number on your <strong class="vocabulary">sleep 
              timers</strong>, the better for you and the planet! </p>
          </ion-card-content>
        </ion-card>
  
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Wake Up the Sleep Timers</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
              <p>Use the directions provided below to find where you can reset (or set for the first time) 
                the sleep timer in your phone’s settings. After what amount of time is your phone set to 
                sleep or hibernate? Choose the lowest amount of time possible!</p>

                <br>

                <p>You can also set sleep timers on computers and other electronic devices. If you do not 
                  have a phone, look for a different appliance in your home on which to set a sleep timer.
                  Do your parents have phones? Guide your parents in lowering their sleep timers.</p>

          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Set your Sleep Timers!</ion-card-title>
          </ion-card-header>
    
           <ion-card-content>
              <p>Setting iPhone Sleep Timers:
                <br>
                1. Open ‘Settings’.
                <br>
                2. Go to the ‘Display and Brightness’ category.
                <br>
                3. Go to ‘Auto Lock’.
                <br>
                4. Adjust to the time you would prefer your device 
                to wait until turning the screen off when not in use 
                (the lower the amount of time the better).
                </p>

                <br>

                <p>Setting Mac Sleep Timers:
                  <br>
                  1. Open 'System Preferences'
                  <br>
                  2. Go to the 'Energy Saver' category.
                  <br>
                  3. Go to 'Battery'.
                  <br>
                  4. Use the slider to adjust to the time you would prefer your device 
                  to wait until turning the screen off when not in use 
                  (the lower the amount of time the better).
                </p>

                <br>

                <p>Setting Android Device Sleep Timers:
                  <br>
                  1. Open ‘Settings’.
                  <br>
                  2. Under the device category in settings, go to ‘Display’.
                  <br>
                  3. Go to ‘Sleep’.
                  <br>
                  4. Adjust to the time you would prefer your device to wait 
                  until turning the screen off when not in use 
                  (the lower the amount of time the better). 
                  </p>

                  <br>

                  <p>Setting Windows Device Sleep Timers:
                    <br>
                    1. Open ‘Settings’.
                    <br>
                    2. Go to the ‘System’ category.
                    <br>
                    3. Go to ‘Power and Sleep’.
                    <br>
                    4. Under the ‘Screen’ section, select how much 
                    time you want your device to wait until turning the 
                    screen off when not in use (the lower the amount of time the better).
                    <br>
                    5. Under the ‘Sleep’ section, select how much time you want your
                     device to wait until going to sleep when not in use 
                     (the lower the amount of time the better).
                    </p>

          </ion-card-content>
        </ion-card>

        <br>
      </p> 
    

            <p [hidden] = "teenPledge">
              
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <p>The <strong class="vocabulary">sleep timers</strong> on your electronics ensure that 
             your electronics are off when they are not in use, which is a really helpful feature for saving
              <strong class="vocabulary">battery power</strong>. The more time your electronics are off, 
              the slower your <strong class="vocabulary">batteries</strong> will drain, so you will 
              have to plug them in less, resulting in lower <strong class="vocabulary">carbon emissions</strong>.
               Although this may sound simple, the lower the number on your <strong class="vocabulary">sleep 
               timers</strong>, the better for you and the planet! </p>
           </ion-card-content>
         </ion-card>
   
         <ion-card>
           <ion-card-header>
             <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
             
             <ion-card-subtitle>Wake Up the Sleep Timers</ion-card-subtitle>
           </ion-card-header>
     
            <ion-card-content>
               <p>Use the directions provided below to find where you can reset (or set for the first time) 
                 the sleep timer in your phone’s settings. After what amount of time is your phone set to 
                 sleep or hibernate? Choose the lowest amount of time possible!</p>
 
                 <br>
 
                 <p>You can also set sleep timers on computers and other electronic devices. If you do not 
                   have a phone, look for a different appliance in your home on which to set a sleep timer.
                   Do your parents have phones? Guide your parents in lowering their sleep timers.</p>
 
           </ion-card-content>
         </ion-card>
 
         <ion-card>
           <ion-card-header>
             <ion-card-title class = "content-heading">Set your Sleep Timers!</ion-card-title>
           </ion-card-header>
     
            <ion-card-content>
               <p>Setting iPhone Sleep Timers:
                 <br>
                 1. Open ‘Settings’.
                 <br>
                 2. Go to the ‘Display and Brightness’ category.
                 <br>
                 3. Go to ‘Auto Lock’.
                 <br>
                 4. Adjust to the time you would prefer your device 
                 to wait until turning the screen off when not in use 
                 (the lower the amount of time the better).
                 </p>
 
                 <br>

                 <p>Setting Mac Sleep Timers:
                   <br>
                  1. Open 'System Preferences'
                  <br>
                  2. Go to the 'Energy Saver' category.
                  <br>
                  3. Go to 'Battery'.
                  <br>
                  4. Use the slider to adjust to the time you would prefer your device 
                  to wait until turning the screen off when not in use 
                  (the lower the amount of time the better).
                </p>

                <br>
 
                 <p>Setting Android Device Sleep Timers:
                  <br>
                  1. Open ‘Settings’.
                  <br>
                  2. Under the device category in settings, go to ‘Display’.
                  <br>
                  3. Go to ‘Sleep’.
                  <br>
                  4. Adjust to the time you would prefer your device to wait 
                  until turning the screen off when not in use 
                  (the lower the amount of time the better). 
                  </p>

                  <br>

                  <p>Setting Windows Device Sleep Timers:
                    <br>
                    1. Open ‘Settings’.
                    <br>
                    2. Go to the ‘System’ category.
                    <br>
                    3. Go to ‘Power and Sleep’.
                    <br>
                    4. Under the ‘Screen’ section, select how much 
                    time you want your device to wait until turning the 
                    screen off when not in use (the lower the amount of time the better).
                    <br>
                    5. Under the ‘Sleep’ section, select how much time you want your
                     device to wait until going to sleep when not in use 
                     (the lower the amount of time the better).
                    </p>
                  </ion-card-content>
                </ion-card>

         <br>
       </p> 


            <p [hidden] = "adultPledge">
              
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>The <strong class="vocabulary">sleep timers</strong> on your electronics ensure that 
             your electronics are off when they are not in use, which is a really helpful feature for saving
              <strong class="vocabulary">battery power</strong>. The more time your electronics are off, 
              the slower your <strong class="vocabulary">batteries</strong> will drain, so you will 
              have to plug them in less, resulting in lower <strong class="vocabulary">carbon emissions</strong>.
               Although this may sound simple, the lower the number on your <strong class="vocabulary">sleep 
               timers</strong>, the better for you and the planet! </p>
           </ion-card-content>
         </ion-card>
   
         <ion-card>
           <ion-card-header>
             <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
             
             <ion-card-subtitle>Wake Up the Sleep Timers</ion-card-subtitle>
           </ion-card-header>
     
            <ion-card-content>
               <p>Use the directions provided below to find where you can reset (or set for the first time) 
                 the sleep timer in your phone’s settings. After what amount of time is your phone set to 
                 sleep or hibernate? Choose the lowest amount of time possible!</p>
 
                 <br>
 
                 <p>You can also set sleep timers on computers and other electronic devices. If you do not 
                   have a phone, look for a different appliance in your home on which to set a sleep timer.
                   Do your parents have phones? Guide your parents in lowering their sleep timers.</p>
 
           </ion-card-content>
         </ion-card>
 
         <ion-card>
           <ion-card-header>
             <ion-card-title class = "content-heading">Set your Sleep Timers!</ion-card-title>
           </ion-card-header>
     
            <ion-card-content>
               <p>Setting iPhone Sleep Timers:
                 <br>
                 1. Open ‘Settings’.
                 <br>
                 2. Go to the ‘Display and Brightness’ category.
                 <br>
                 3. Go to ‘Auto Lock’.
                 <br>
                 4. Adjust to the time you would prefer your device 
                 to wait until turning the screen off when not in use 
                 (the lower the amount of time the better).
                 </p>
 
                 <br>

                 <p>Setting Mac Sleep Timers:
                   <br>
                  1. Open 'System Preferences'
                  <br>
                  2. Go to the 'Energy Saver' category.
                  <br>
                  3. Go to 'Battery'.
                  <br>
                  4. Use the slider to adjust to the time you would prefer your device 
                  to wait until turning the screen off when not in use 
                  (the lower the amount of time the better).
                </p>

                <br>
 
                 <p>Setting Android Device Sleep Timers:
                  <br>
                  1. Open ‘Settings’.
                  <br>
                  2. Under the device category in settings, go to ‘Display’.
                  <br>
                  3. Go to ‘Sleep’.
                  <br>
                  4. Adjust to the time you would prefer your device to wait 
                  until turning the screen off when not in use 
                  (the lower the amount of time the better). 
                  </p>

                  <br>

                  <p>Setting Windows Device Sleep Timers:
                    <br>
                    1. Open ‘Settings’.
                    <br>
                    2. Go to the ‘System’ category.
                    <br>
                    3. Go to ‘Power and Sleep’.
                    <br>
                    4. Under the ‘Screen’ section, select how much 
                    time you want your device to wait until turning the 
                    screen off when not in use (the lower the amount of time the better).
                    <br>
                    5. Under the ‘Sleep’ section, select how much time you want your
                     device to wait until going to sleep when not in use 
                     (the lower the amount of time the better).
                    </p>
                  </ion-card-content>
                </ion-card>
              
             <br> 
         </p>
  
    
         <div class = "ion-text-center" [hidden] = "hideVerfCard">
          <h4 [hidden]="kidPledge">  I pledge to reduce the sleep timer on my phone and other devices. </h4>
          <h4 [hidden]="teenPledge">  I pledge to reduce the sleep timer on my phone and other devices.  </h4>
          <h4 [hidden]="adultPledge">  I pledge to reduce the sleep timer on my phone and other devices.  </h4>
    </div> 

   <p [hidden] = "kidPledge"> 
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      For what amount of time was your sleep timer previously set? How long is it now?
      <ion-row>
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 1650 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
   </p>


   <p [hidden] = "teenPledge">
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      For what amount of time was your sleep timer previously set? How long is it now?
      <ion-row>
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 1650 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
</p>

<p [hidden] = "adultPledge">
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      For what amount of time was your sleep timer previously set? How long is it now?
      <ion-row>
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 1650 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
</p>

  <ion-card [hidden]  ="pledgeSubmittedCard">
    <ion-card-header>
      <ion-card-title>
        Thank you for taking the pledge! 
      </ion-card-title>
      <ion-card-content>
        <p [hidden] = "pledgeIsPending">Your pledge submission is currently pending.</p>
        <p [hidden] = "pledgeIsApproved">Your pledge submission has been approved!</p><br [hidden] = "hideYourSubmissionHeading"><br [hidden] = "hideYourSubmissionHeading">
        <p [hidden] = "hideYourSubmissionHeading">Your submission: </p>
        <p>
          <em>{{this.pledgeContent}}</em>
        </p>
      </ion-card-content>
    </ion-card-header>  
  </ion-card>

</ion-grid>
</ion-content>
