ion-title{
  font-size: 24px;
  text-align: justify;
}

.pledgeCard{
  background:#f4f5f7;
  font-family: 'ChollaSans-Thin' !important; 
  color: #000000;
 }  

.content-heading{
  font-size: 20px;
  color: #66b067;
}

.vocabulary{
  font-style: bold;
  color: #f99f38;
}
