<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/education"></ion-back-button>
      <ion-title>UNDERSTAND YOUR EMISSIONS</ion-title>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding> 
  
      <div text-center>
          <h4> Here is the activity sheet and guide for conducting the Greenhouse Gas Lab at home!</h4>
          <ion-item href="https://docs.google.com/document/d/1_rUtOxldR-G1skU_VfjcBiGT3Wjv8KzZaVvKJRn4JI0/edit?usp=sharing">
            <ion-icon slot="start" color="danger" name="link"></ion-icon>
            <ion-label>Greenhouse Gas Lab Activity Sheet</ion-label>
          </ion-item>
        </div>
    
        <div text-center>
            <ion-item href="">
              <ion-icon slot="start" color="danger" name="link"></ion-icon>
              <ion-label>Green House Gas Lab Video</ion-label>
            </ion-item>
          </div>
  
        <Br><Br>
    
        <div text-center>
            <h4>I pledge to understand the effect of carbon emissions on the environment.</h4>
        <ion-button fill="solid" color="secondary" size="large" expand="block" routerLink="/verify-text" routerDirection="root" >Take the Pledge!</ion-button>
        </div>
  
  </ion-content>