<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/education"></ion-back-button>
      </ion-buttons>
    <ion-title><i>Know</i> More Carbon Emissions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">
  <ion-grid>

     <p [hidden] = "kidPledge">   

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>

            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>

          </ion-card-header>
         
          <ion-card-content>
            <p>The <strong class="vocabulary">greenhouse effect</strong> is the trapping of the sun’s warmth in 
              our lower atmosphere, which is contributed to by <strong class="vocabulary">greenhouse gases</strong> 
              and is the main cause of rising global temperatures. A greenhouse gas is a gas 
              that contributes to the <strong class="vocabulary">greenhouse effect</strong> by absorbing infrared radiation.
              <strong class="vocabulary">Carbon dioxide</strong> is one such gas, and is defined as a colorless, 
              odorless gas produced by burning carbon and organic compounds and by respiration.</p>
          </ion-card-content>
        </ion-card>
  
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle><i>Know</i> More Carbon Emissions</ion-card-subtitle>
          </ion-card-header>
         
          <ion-card-content>
            <ion-card-header>
              <ion-card-subtitle>Here is the problem: greenhouse gas emissions.</ion-card-subtitle>
            </ion-card-header>
            <p> The Greenhouse Gas Lab is an exciting simulation of atmospheric temperature
              changes caused by a rise in carbon dioxide (CO<sub>2</sub>) concentration. Have humans contributed to
              the rise in CO<sub>2</sub>? Yes, say scientists. Deforestation and our burning of fossil fuels, for
              example, expand the greenhouse effect. This is the warming that happens when Earth’s atmosphere
              traps heat trying to radiate to space from Earth.</p>
    
    <ion-card-header>
      <ion-card-subtitle>This lab simulates the greenhouse effect. What happens in the lab is a tiny representation of what is happening to our planet.</ion-card-subtitle>
    </ion-card-header>
    
              <p>Open the Greenhouse Gas Lab activity sheet! This will guide you as you complete the lab.
              All of the materials, procedures, and information in the lab are listed in this activity sheet.
              Remember to be extra careful with the thermometers and to maintain a loose grip so they don’t
              break and become jagged and sharp.</p>
            
             <ion-card-header>
              <ion-card-subtitle>
                Experiment like a pro
              </ion-card-subtitle>
            </ion-card-header>

              <ul>
                <li>
                  Read through the activity sheet before you get started
                </li>
                <li>
                  Make sure your Alka-Seltzer® tablets have not expired
                </li>
                <li>
                  Use the same amount of water at the same temperature for all four bottles
                </li>
                <li>
                  Double-check that all four bottles are the same distance from the heat lamps
                </li>
                <li>
                  Write down all of your observations
                </li>
                <li>
                  Ask more questions and investigate on your own!
                </li>
                <li>
                  Don’t shake the bottles to encourage the reaction. The tablets will dissolve in the water within the 5-minute waiting period
                </li>
                <li>
                  Don’t forget to write down your hypothesis
                </li>
                <li>
                  Don’t skip over the pre- and post-lab questions
                </li>
              </ul>
    
              <ion-card-header>
                  <ion-card-subtitle>What does this lab do for me?</ion-card-subtitle>
                </ion-card-header>
    
              <p>This lab explains why it is important to lower your carbon footprint! The first step to
              lowering your own carbon dioxide output is to know how greenhouse gases, such as carbon dioxide,
              are changing our atmosphere.</p>
          </ion-card-content>
        </ion-card>

        <br>

        <ion-button expand = "full" routerLink = "/ed1docs" routerDirection = "root">
          Greenhouse Gas Lab Activity Sheet  
        </ion-button>

      
           </p> 
    
    
            <p [hidden] = "teenPledge">
              
    
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>The <strong class="vocabulary">greenhouse effect</strong> is the trapping of the sun’s warmth in our lower atmosphere,
              which is contributed to by <strong class="vocabulary">greenhouse gases</strong> and is the main cause of rising global temperatures.
              A greenhouse gas is a gas that contributes to the <strong class="vocabulary">greenhouse effect</strong> by absorbing infrared radiation.
              <strong class="vocabulary">Carbon dioxide</strong> is one such gas, and is defined as a colorless, odorless gas produced by burning carbon
              and organic compounds and by respiration.</p>
          </ion-card-content>
        </ion-card>
    
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            <ion-card-subtitle><i>Know</i> More Carbon Emissions</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-card-header>
              <ion-card-subtitle>Here is the problem: greenhouse gas emissions.</ion-card-subtitle>
            </ion-card-header>
            <p> The Greenhouse Gas Lab is an exciting simulation of atmospheric temperature
              changes caused by a rise in carbon dioxide (CO<sub>2</sub>) concentration. Have humans contributed to
              the rise in CO<sub>2</sub>? Yes, say scientists. Deforestation and our burning of fossil fuels, for
              example, expand the greenhouse effect. This is the warming that happens when Earth’s atmosphere
              traps heat trying to radiate to space from Earth.</p>
    
    <ion-card-header>
      <ion-card-subtitle>This lab simulates the greenhouse effect. What happens in the lab is a tiny representation of what is happening to our planet.</ion-card-subtitle>
    </ion-card-header>
    
              <p>Open the Greenhouse Gas Lab activity sheet! This will guide you as you complete the lab.
              All of the materials, procedures, and information in the lab are listed in this activity sheet.
              Remember to be extra careful with the thermometers and to maintain a loose grip so they don’t
              break and become jagged and sharp.</p>
            
             <ion-card-header>
              <ion-card-subtitle>
                Experiment like a pro
              </ion-card-subtitle>
            </ion-card-header>

              <ul>
                <li>
                  Read through the activity sheet before you get started
                </li>
                <li>
                  Make sure your Alka-Seltzer® tablets have not expired
                </li>
                <li>
                  Use the same amount of water at the same temperature for all four bottles
                </li>
                <li>
                  Double-check that all four bottles are the same distance from the heat lamps
                </li>
                <li>
                  Write down all of your observations
                </li>
                <li>
                  Ask more questions and investigate on your own!
                </li>
                <li>
                  Don’t shake the bottles to encourage the reaction. The tablets will dissolve in the water within the 5-minute waiting period
                </li>
                <li>
                  Don’t forget to write down your hypothesis
                </li>
                <li>
                  Don’t skip over the pre- and post-lab questions
                </li>
              </ul>
    
              <ion-card-header>
                  <ion-card-subtitle>What does this lab do for me?</ion-card-subtitle>
                </ion-card-header>
    
              <p>This lab explains why it is important to lower your carbon footprint! The first step to
              lowering your own carbon dioxide output is to know how greenhouse gases, such as carbon dioxide,
              are changing our atmosphere.</p>
          </ion-card-content>
        </ion-card>

        <br>

        <ion-button expand = "full" routerLink = "/ed1docs" routerDirection = "root">
          Greenhouse Gas Lab Activity Sheet  
        </ion-button>

    
          </p> 
    
            <p [hidden] = "adultPledge">
              
        
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>The <strong class="vocabulary">greenhouse effect</strong> is the trapping of the sun’s warmth in our lower atmosphere,
              which is contributed to by <strong class="vocabulary">greenhouse gases</strong> and is the main cause of rising global temperatures.
              A greenhouse gas is a gas that contributes to the <strong class="vocabulary">greenhouse effect</strong> by absorbing infrared radiation.
              <strong class="vocabulary">Carbon dioxide</strong> is one such gas, and is defined as a colorless, odorless gas produced by burning carbon
              and organic compounds and by respiration.</p>
          </ion-card-content>
        </ion-card>
    
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            <ion-card-subtitle><i>Know</i> More Carbon Emissions</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-card-header>
              <ion-card-subtitle>Here is the problem: greenhouse gas emissions.</ion-card-subtitle>
            </ion-card-header>
            <p> The Greenhouse Gas Lab is an exciting simulation of atmospheric temperature
              changes caused by a rise in carbon dioxide (CO<sub>2</sub>) concentration. Have humans contributed to
              the rise in CO<sub>2</sub>? Yes, say scientists. Deforestation and our burning of fossil fuels, for
              example, expand the greenhouse effect. This is the warming that happens when Earth’s atmosphere
              traps heat trying to radiate to space from Earth.</p>
    
    <ion-card-header>
      <ion-card-subtitle>This lab simulates the greenhouse effect. What happens in the lab is a tiny representation of what is happening to our planet.</ion-card-subtitle>
    </ion-card-header>
    
              <p>Open the Greenhouse Gas Lab activity sheet! This will guide you as you complete the lab.
              All of the materials, procedures, and information in the lab are listed in this activity sheet.
              Remember to be extra careful with the thermometers and to maintain a loose grip so they don’t
              break and become jagged and sharp.</p>
            
             <ion-card-header>
              <ion-card-subtitle>
                Experiment like a pro
              </ion-card-subtitle>
            </ion-card-header>

              <ul>
                <li>
                  Read through the activity sheet before you get started
                </li>
                <li>
                  Make sure your Alka-Seltzer® tablets have not expired
                </li>
                <li>
                  Use the same amount of water at the same temperature for all four bottles
                </li>
                <li>
                  Double-check that all four bottles are the same distance from the heat lamps
                </li>
                <li>
                  Write down all of your observations
                </li>
                <li>
                  Ask more questions and investigate on your own!
                </li>
                <li>
                  Don’t shake the bottles to encourage the reaction. The tablets will dissolve in the water within the 5-minute waiting period
                </li>
                <li>
                  Don’t forget to write down your hypothesis
                </li>
                <li>
                  Don’t skip over the pre- and post-lab questions
                </li>
              </ul>
    
              <ion-card-header>
                  <ion-card-subtitle>What does this lab do for me?</ion-card-subtitle>
                </ion-card-header>
    
              <p>This lab explains why it is important to lower your carbon footprint! The first step to
              lowering your own carbon dioxide output is to know how greenhouse gases, such as carbon dioxide,
              are changing our atmosphere.</p>
          </ion-card-content>
        </ion-card>

        <br>
        
        <ion-button expand = "full" routerLink = "/ed1docs" routerDirection = "root">
          Greenhouse Gas Lab Activity Sheet  
        </ion-button>

              
         </p>
  
    
         <div class = "ion-text-center" [hidden] = "hideVerfCard">
          <h4 [hidden]="kidPledge">I pledge to participate in the greenhouse gas lab and share my results!</h4>
          <h4 [hidden]="teenPledge">I pledge to understand the effect of carbon emissions on the environment.</h4>
          <h4 [hidden]="adultPledge">I pledge to understand the effect of carbon emissions on the environment.</h4>
    </div> 

    <p [hidden] = "kidPledge"> 
      <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
        <ion-card-header> Verify your impact. </ion-card-header>
        <ion-card-subtitle>What was one observation you made from the lab, and how does it relate to the atmospheric changes our planet is making?</ion-card-subtitle>
        <ion-card-content>
          <ion-row>
            <ion-col size="9">
              <ion-item>
                <ion-label position="stacked">Completion Details:</ion-label>
                <ion-textarea [(ngModel)]="verification" type="text" placeholder="Type your response here!"></ion-textarea>
              </ion-item>
            </ion-col>
    
            <ion-col size="3">
              <ion-button (click)="takePicture()">
                <ion-icon slot="icon-only" name="camera"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
          <span *ngIf="pledgePicture">Picture taken!</span>
    
          <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
            Earn 100 Points
          </ion-button>
        </ion-card-content>
      </ion-card>
       </p>
    
    
       <p [hidden] = "teenPledge">
      <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
        <ion-card-header> Verify your impact. </ion-card-header>
        <ion-card-subtitle>What was one observation you made from the lab, and how does it relate to the atmospheric changes our planet is making?</ion-card-subtitle>
        <ion-card-content>
          <ion-row>
            <ion-col size="9">
              <ion-item>
                <ion-label position="stacked">Completion Details:</ion-label>
                <ion-textarea [(ngModel)]="verification" type="text" placeholder="Type your response here!"></ion-textarea>
              </ion-item>
            </ion-col>
    
            <ion-col size="3">
              <ion-button (click)="takePicture()">
                <ion-icon slot="icon-only" name="camera"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
          <span *ngIf="pledgePicture">Picture taken!</span>
    
          <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
            Earn 100 Points
          </ion-button>
        </ion-card-content>
      </ion-card>
    </p>
    
    
    <p [hidden] = "adultPledge">
      <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
        <ion-card-header> Verify your impact. </ion-card-header>
        <ion-card-subtitle>What was one observation you made from the lab, and how does it relate to the atmospheric changes our planet is making?</ion-card-subtitle>
        <ion-card-content>
          <ion-row>
            <ion-col size="9">
              <ion-item>
                <ion-label position="stacked">Completion Details:</ion-label>
                <ion-textarea [(ngModel)]="verification" type="text" placeholder="Type your response here!"></ion-textarea>
              </ion-item>
            </ion-col>
    
            <ion-col size="3">
              <ion-button (click)="takePicture()">
                <ion-icon slot="icon-only" name="camera"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
          <span *ngIf="pledgePicture">Picture taken!</span>
    
          <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
            Earn 100 Points
          </ion-button>
        </ion-card-content>
      </ion-card>
    </p>

  <ion-card [hidden]  ="pledgeSubmittedCard">
    <ion-card-header>
      <ion-card-title>
        Thank you for taking the pledge! 
      </ion-card-title>
      <ion-card-content>
        <p [hidden] = "pledgeIsPending">Your pledge submission is currently pending.</p>
        <p [hidden] = "pledgeIsApproved">Your pledge submission has been approved!</p><br [hidden] = "hideYourSubmissionHeading"><br [hidden] = "hideYourSubmissionHeading">
        <p [hidden] = "hideYourSubmissionHeading">Your submission: </p>
        <p>
          <em>{{this.pledgeContent}}</em>
        </p>
      </ion-card-content>
    </ion-card-header>  
  </ion-card>
</ion-grid>

</ion-content>
