<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/education"></ion-back-button>
    <ion-title>Greenhouse Gas Lab</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">

    <div class = "ion-text-center">


        <p [hidden] = "kidPledge">The <strong>greenhouse effect</strong> is the trapping of the sun’s warmth in our lower atmosphere,
          which is contributed to by greenhouse gases and is the main cause of rising global temperatures.
          A greenhouse gas is a gas that contributes to the greenhouse effect by absorbing infrared radiation.
          Carbon dioxide is one such gas, and is defined as a colorless, odorless gas produced by burning carbon
          and organic compounds and by respiration.<br><br>

            <ion-item href="https://drive.google.com/file/d/0By4b0Z0qoYNtU0I1cDMzaTlSUjFSdXFGOUlGTkJRWDJESnFB/view?usp=sharing">
              <ion-icon slot="start" color="danger" name="link"></ion-icon>
              <ion-label>Greenhouse Gas Lab Activity Sheet</ion-label>
            </ion-item><br><br>


          The Greenhouse Gas Lab is an exciting simulation of atmospheric temperature
          changes caused by a rise in carbon dioxide (C<sub>O2</sub>) concentration. Have humans contributed to
          the rise in C<sub>O2</sub>? Yes, say scientists. Deforestation and our burning of fossil fuels, for
          example, expand the greenhouse effect. This is the warming that happens when Earth’s atmosphere
          traps heat trying to radiate to space from Earth.<br><br>


          Open the Greenhouse Gas Lab activity sheet! This will guide you as you complete the lab.
          All of the materials, procedures, and information in the lab are listed in this activity sheet.
          Remember to be extra careful with the thermometers and to maintain a loose grip so they don’t
          break and become jagged and sharp. <br><br>

          This lab explains why it is important to lower your carbon footprint! The first step to
          lowering your own carbon dioxide output is to know how greenhouse gases, such as carbon dioxide,
          are changing our atmosphere.
       </p>


        <p [hidden] = "teenPledge">The <b>greenhouse effect</b> is the trapping of the sun’s warmth in our lower atmosphere,
          which is contributed to by greenhouse gases and is the main cause of rising global temperatures.
          A greenhouse gas is a gas that contributes to the greenhouse effect by absorbing infrared radiation.
          Carbon dioxide is one such gas, and is defined as a colorless, odorless gas produced by burning carbon
          and organic compounds and by respiration.<br><br>
          
          
            <ion-item href="https://drive.google.com/file/d/0By4b0Z0qoYNtU0I1cDMzaTlSUjFSdXFGOUlGTkJRWDJESnFB/view?usp=sharing">
              <ion-icon slot="start" color="danger" name="link"></ion-icon>
              <ion-label>Greenhouse Gas Lab Activity Sheet</ion-label>
            </ion-item><br><br>


          The Greenhouse Gas Lab is an exciting simulation of atmospheric temperature
          changes caused by a rise in carbon dioxide (CO2) concentration. Have humans contributed to
          the rise in CO2? Yes, say scientists. Deforestation and our burning of fossil fuels, for
          example, expand the greenhouse effect. This is the warming that happens when Earth’s atmosphere
          traps heat trying to radiate to space from Earth.<br><br>

          Open the Greenhouse Gas Lab activity sheet! This will guide you as you complete the lab.
          All of the materials, procedures, and information in the lab are listed in this activity sheet.
          Remember to be extra careful with the thermometers and to maintain a loose grip so they don’t
          break and become jagged and sharp. <br><br>
          This lab explains why it is important to lower your carbon footprint! The first step to
          lowering your own carbon dioxide output is to know how greenhouse gases, such as carbon dioxide,
          are changing our atmosphere.
      </p>

        <p [hidden] = "adultPledge">The <b>greenhouse effect</b> is the trapping of the sun’s warmth in our lower atmosphere,
          which is contributed to by greenhouse gases and is the main cause of rising global temperatures.
          A greenhouse gas is a gas that contributes to the greenhouse effect by absorbing infrared radiation.
          Carbon dioxide is one such gas, and is defined as a colorless, odorless gas produced by burning carbon
          and organic compounds and by respiration.<br><br>
          
            <ion-item href="https://drive.google.com/file/d/0By4b0Z0qoYNtU0I1cDMzaTlSUjFSdXFGOUlGTkJRWDJESnFB/view?usp=sharing">
              <ion-icon slot="start" color="danger" name="link"></ion-icon>
              <ion-label>Greenhouse Gas Lab Activity Sheet</ion-label>
            </ion-item><br><br>

          The Greenhouse Gas Lab is an exciting simulation of atmospheric temperature
          changes caused by a rise in carbon dioxide (CO2) concentration. Have humans contributed to
          the rise in CO2? Yes, say scientists. Deforestation and our burning of fossil fuels, for
          example, expand the greenhouse effect. This is the warming that happens when Earth’s atmosphere
          traps heat trying to radiate to space from Earth.<br><br>
          Open the Greenhouse Gas Lab activity sheet! This will guide you as you complete the lab.
          All of the materials, procedures, and information in the lab are listed in this activity sheet.
          Remember to be extra careful with the thermometers and to maintain a loose grip so they don’t
          break and become jagged and sharp. <br><br>
          This lab explains why it is important to lower your carbon footprint! The first step to
          lowering your own carbon dioxide output is to know how greenhouse gases, such as carbon dioxide,
          are changing our atmosphere.
      </p>
    </div>

  <div class = "ion-text-center">
      <ion-item href="">
        <ion-icon slot="start" color="danger" name="link"></ion-icon>
        <ion-label>Green House Gas Lab Video</ion-label>
      </ion-item>
    </div>

  <Br><Br>

  <div class = "ion-text-center">
      <h4 [hidden]="kidPledge">I pledge to participate in the greenhouse gas lab and share my results!</h4>
      <h4 [hidden]="teenPledge">I pledge to understand the effect of carbon emissions on the environment. TEEN PLEDGE</h4>
      <h4 [hidden]="adultPledge">I pledge to understand the effect of carbon emissions on the environment. ADULT PLEDGE</h4>
  <ion-button fill="solid" color="secondary" size="large" expand="block" routerLink="/verify-text" routerDirection="root" >Take the Pledge!</ion-button>
    
  </div>
</ion-content>