<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/plug-loads"></ion-back-button>
    </ion-buttons>
    <ion-title>Ex-Static about my new Power Strip</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">
  <ion-grid>

     <p [hidden] = "kidPledge">   

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>

            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>

          </ion-card-header>
         
          <ion-card-content>
           <p> <strong class="vocabulary">Power strips</strong> traditionally are used as a convenient way to expand the 
            number of outlets available in a household, but they also act as a good way to <strong class="vocabulary">reduce</strong> 
            carbon emissions. When a device is turned off but still plugged into a power source, it can actually cause the 
            <strong class="vocabulary">phantom load phenomena,</strong> where the device unknowingly steals electricity 
             from the power source without being turned on. This <strong class="vocabulary">phantom power</strong> drain 
             costs money, wastes electricity, and ups the amount of carbon dioxide we add to Earth’s atmosphere. When you 
             plug your devices into a <strong class="vocabulary">power strip,</strong> you can turn off or unplug the entire 
             strip and not suck all that power from the outlet!</p>
          </ion-card-content>
        </ion-card>
  
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Ex-Static about my new Power Strip</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
              <p>Ask your parents for a power strip for your room or workspace! Then plug in all your devices
                 — computer, chargers, lamps, and so on ― into the strip. This will make your very own space 
                 much more carbon efficient and dedicated to curbing global warming.</p>
             <br>
                 <p>If you need to purchase a power strip, you'll be pleased to know that you can get one for about the price of a drink from Starbuck's. 
                   Basic models can be bought on <a href = "amazon.com/GoGreen-Power-GG-16103MS-Outlet-Protector/dp/B00NY45VQ2?ref_=s9_apbd_omwf_hd_bw_bk1E1&pf_rd_r=29386PRN6GAR4PBMK4MK&pf_rd_p=0a7755c8-ff0e-5873-acd8-54ea875d5352&pf_rd_s=merchandised-search-10&pf_rd_t=BROWSE&pf_rd_i=10967801">
                    Amazon</a> and in most grocery stores for around $5. 
                 </p>

          </ion-card-content>
        </ion-card>

        <br>
      </p> 
    

            <p [hidden] = "teenPledge">
              
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p> <strong class="vocabulary">Power strips</strong> traditionally are used as a convenient way to expand the 
              number of outlets available in a household, but they also act as a good way to <strong class="vocabulary">reduce</strong> 
              carbon emissions. When a device is turned off but still plugged into a power source, it can actually cause the 
              <strong class="vocabulary">phantom load phenomena,</strong> where the device unknowingly steals electricity 
               from the power source without being turned on. This <strong class="vocabulary">phantom power</strong> drain 
               costs money, wastes electricity, and ups the amount of carbon dioxide we add to Earth’s atmosphere. When you 
               plug your devices into a <strong class="vocabulary">power strip,</strong> you can turn off or unplug the entire 
               strip and not suck all that power from the outlet!</p>
          </ion-card-content>
        </ion-card>
    
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Ex-Static about my new Power Strip</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
              <p>Ask your parents for a power strip for your room or workspace! Then plug in all your devices
                 — computer, chargers, lamps, and so on ― into the strip. This will make your very own space 
                 much more carbon efficient and dedicated to curbing global warming.</p>
             <br>
               <p>If you need to purchase a power strip, you'll be pleased to know that you can get one for about the price of a drink from Starbuck's. 
                 Basic models can be bought on <a href = "amazon.com/GoGreen-Power-GG-16103MS-Outlet-Protector/dp/B00NY45VQ2?ref_=s9_apbd_omwf_hd_bw_bk1E1&pf_rd_r=29386PRN6GAR4PBMK4MK&pf_rd_p=0a7755c8-ff0e-5873-acd8-54ea875d5352&pf_rd_s=merchandised-search-10&pf_rd_t=BROWSE&pf_rd_i=10967801">
                  Amazon</a> and in most grocery stores for around $5. 
               </p>

          </ion-card-content>
        </ion-card>

        <br>
     </p> 
    
            <p [hidden] = "adultPledge">
              
        
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p> <strong class="vocabulary">Power strips</strong> traditionally are used as a convenient way to expand the 
              number of outlets available in a household, but they also act as a good way to <strong class="vocabulary">reduce</strong> 
              carbon emissions. When a device is turned off but still plugged into a power source, it can actually cause the 
              <strong class="vocabulary">phantom load phenomena,</strong> where the device unknowingly steals electricity 
               from the power source without being turned on. This <strong class="vocabulary">phantom power</strong> drain 
               costs money, wastes electricity, and ups the amount of carbon dioxide we add to Earth’s atmosphere. When you 
               plug your devices into a <strong class="vocabulary">power strip,</strong> you can turn off or unplug the entire 
               strip and not suck all that power from the outlet!</p>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Ex-Static about my new Power Strip</ion-card-subtitle>
          </ion-card-header>
         
          <ion-card-content>
    
              <p>Place a power strip in multiple rooms of your home! Then plug in all your devices — 
                computer, phone charger, lamps, smart speaker, TV, printer, and so on ― into the strip. 
                This will make your home much more carbon efficient and dedicated to curbing global warming.</p>
            <br>
                 <p>If you need to purchase a power strip, you'll be pleased to know that you can get one for about the price of a drink from Starbuck's. 
                   Basic models can be bought on <a href = "amazon.com/GoGreen-Power-GG-16103MS-Outlet-Protector/dp/B00NY45VQ2?ref_=s9_apbd_omwf_hd_bw_bk1E1&pf_rd_r=29386PRN6GAR4PBMK4MK&pf_rd_p=0a7755c8-ff0e-5873-acd8-54ea875d5352&pf_rd_s=merchandised-search-10&pf_rd_t=BROWSE&pf_rd_i=10967801">
                    Amazon</a> and in most grocery stores for around $5. 
                 </p>

                <br>
    
              <p>Note: There are things that should <strong>not</strong> be on a power strip! Appliances that require more 
                energy than a power strip can supply include refrigerators, microwave ovens, conventional 
                ovens and electric ranges, coffee makers, toaster ovens, electric skillets, and waffle irons. 
                For more on when to skip the strip and what to plug directly into an electrical outlet, 
                see "10 Things Never to Plug into a Power Strip" at BobVila.com.</p>
          </ion-card-content>
        </ion-card>

        <br>
        
        <ion-item href="https://www.bobvila.com/slideshow/10-things-never-to-plug-into-a-power-strip-52043#coffee-makers">
          <ion-icon slot="start" color="danger" name="link"></ion-icon>
          <ion-label>10 Things Never to Plug into a Power Strip</ion-label>
        </ion-item>

              
         </p>
  
    
         <div class = "ion-text-center" [hidden] = "hideVerfCard">
          <h4 [hidden]="kidPledge"> I pledge to ask my parents for a power strip for my room or other space in my home. </h4>
          <h4 [hidden]="teenPledge">I pledge to understand and describe the benefits of a power strip and ask my parents for a 
                                    power strip for my room or other space in my home. </h4>
          <h4 [hidden]="adultPledge">I pledge to place power strips in multiple rooms of my home. </h4>
    </div> 

   <p [hidden] = "kidPledge"> 
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" placeholder="What was the feedback from your parents? What did you plug into your power strip?"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 70 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
   </p>


   <p [hidden] = "teenPledge">
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" placeholder="What was the feedback from your parents? How do you think the power strip is reducing your carbon footprint from your original carbon footprint?"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 70 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
</p>


<p [hidden] = "adultPledge">
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" placeholder="How are you enjoying your power strip system? How do you think this power strip is reducing your carbon footprint from your original carbon footprint?"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 70 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
</p>

  <ion-card [hidden]  ="pledgeSubmittedCard">
    <ion-card-header>
      <ion-card-title>
        Thank you for taking the pledge! 
      </ion-card-title>
      <ion-card-content>
        <p [hidden] = "pledgeIsPending">Your pledge submission is currently pending.</p>
        <p [hidden] = "pledgeIsApproved">Your pledge submission has been approved!</p><br [hidden] = "hideYourSubmissionHeading"><br [hidden] = "hideYourSubmissionHeading">
        <p [hidden] = "hideYourSubmissionHeading">Your submission: </p>
        <p>
          <em>{{this.pledgeContent}}</em>
        </p>
      </ion-card-content>
    </ion-card-header>  
  </ion-card>

</ion-grid>
</ion-content>
