<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/appliances-and-recycling"></ion-back-button>
    </ion-buttons>
    <ion-title>Recycling Like a Pro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">
  <ion-grid>

     <p [hidden] = "kidPledge">   

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>

            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>

          </ion-card-header>
         
          <ion-card-content>
           <p>The average American throws out more than 7 pounds of garbage every day. This garbage goes 
             into <strong class="vocabulary"> landfills</strong> where it is compacted and buried. 
             <strong class="vocabulary"> Biodegradable</strong> materials, which make up about two-thirds 
             of landfill waste, release harmful <strong class="vocabulary"> methane gas</strong> that has 
             the ability to trap up to 20 times more heat than carbon dioxide!</p>
             <br> 
             <p>Landfill development results in the loss of 30 to 300 species per <strong class="vocabulary">hectare,</strong> 
              and that means a decrease in <strong class="vocabulary">biodiversity.</strong> (A sports field is about 1 hectare.) 
              Organic and inorganic materials from landfills dissolve and contaminate local groundwater with heavy metals, 
              <strong class="vocabulary">ammonia</strong>, <strong class="vocabulary">pathogens,</strong> and other toxic 
              <strong class="vocabulary">organic compounds.</strong> Landfills also make soil less fertile, and this threatens 
              and decreases plant growth in the areas in and near landfills. </p>
              <br>
              <p><strong>Recycling, on the other hand, reduces the amount of waste that enters landfills.</strong></p>
              <br>
              <p>There are three steps in the large-scale recycling process: (1) collecting and processing, (2) manufacturing, 
                and (3) buying recycled products. After your recyclables are collected they are sorted, cleaned, and processed
                 into manufacturable materials. They are then sent to manufacturing plants to be converted into products for use 
                 by you and me. </p>
          </ion-card-content>
        </ion-card>
  
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Recycling Like a Pro</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
              <p>Recycling is a simple choice to make. By recycling, the scope of landfill-related problems mentioned above,
                 such as soil and water contamination, methane emissions, and ecosystem damage, are  drastically reduced. 
                 Take the lead in your family to learn about <a href="https://www.epa.gov/recycle/how-do-i-recycle-common-recyclables" target="_blank">what can be recycled</a>
                 and the steps you can take to recycle them.</p> 
          </ion-card-content>
        </ion-card>

          <ion-card>
            <ion-card-header>
              <ion-card-title class = "content-heading"> Set recycling goals for your home!</ion-card-title>
            </ion-card-header>

          <ion-card-content>
            <p> Discuss the tremendous benefits recycling can have on our environment. 
              Figure out how to effectively recycle in your home and keep your family on 
               track with your recycling goals.  </p>
          </ion-card-content>
          </ion-card>

        <br>
      </p> 
    

            <p [hidden] = "teenPledge">
              
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
             <p>The average American throws out more than 7 pounds of garbage every day. This garbage goes 
             into <strong class="vocabulary"> landfills</strong> where it is compacted and buried. 
             <strong class="vocabulary"> Biodegradable</strong> materials, which make up about two-thirds 
             of landfill waste, release harmful <strong class="vocabulary"> methane gas</strong> that has 
             the ability to trap up to 20 times more heat than carbon dioxide!</p>
             <br> 
             <p>Landfill development results in the loss of 30 to 300 species per <strong class="vocabulary">hectare,</strong> 
              and that means a decrease in <strong class="vocabulary">biodiversity.</strong> (A sports field is about 1 hectare.) 
              Organic and inorganic materials from landfills dissolve and contaminate local groundwater with heavy metals, 
              <strong class="vocabulary">ammonia</strong>, <strong class="vocabulary">pathogens,</strong> and other toxic 
              <strong class="vocabulary">organic compounds.</strong> Landfills also make soil less fertile, and this threatens 
              and decreases plant growth in the areas in and near landfills. </p>
              <br>
              <p><strong>Recycling, on the other hand, reduces the amount of waste that enters landfills.</strong></p>
              <br>
              <p>There are three steps in the large-scale recycling process: (1) collecting and processing, (2) manufacturing, 
                and (3) buying recycled products. After your recyclables are collected they are sorted, cleaned, and processed
                 into manufacturable materials. They are then sent to manufacturing plants to be converted into products for use 
                 by you and me. </p>
          </ion-card-content>
        </ion-card>
    
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Recycling Like a Pro</ion-card-subtitle>
          </ion-card-header>
    
          <ion-card-content>
            <p>Recycling is a simple choice to make. By recycling, the scope of landfill-related problems mentioned above,
               such as soil and water contamination, methane emissions, and ecosystem damage, are  drastically reduced. 
               Take the lead in your family to learn about <a href="https://www.epa.gov/recycle/how-do-i-recycle-common-recyclables" target="_blank">what can be recycled</a> 
               and the steps you 
               can take to recycle them.</p> 
        </ion-card-content>
      </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading"> Set recycling goals for your home!</ion-card-title>
          </ion-card-header>

        <ion-card-content>
          <p> Discuss the tremendous benefits recycling can have on our environment. 
            Figure out how to effectively recycle in your home and keep your family on 
             track with your recycling goals.  </p>
        </ion-card-content>
        </ion-card>

        <br>
     </p> 
    
            <p [hidden] = "adultPledge">
              
        
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>The average American throws out more than 7 pounds of garbage every day. This garbage goes 
              into <strong class="vocabulary"> landfills</strong> where it is compacted and buried. 
              <strong class="vocabulary"> Biodegradable</strong> materials, which make up about two-thirds 
              of landfill waste, release harmful <strong class="vocabulary"> methane gas</strong> that has 
              the ability to trap up to 20 times more heat than carbon dioxide!</p>
              <br> 
              <p>Landfill development results in the loss of 30 to 300 species per <strong class="vocabulary">hectare,</strong> 
               and that means a decrease in <strong class="vocabulary">biodiversity.</strong> (A sports field is about 1 hectare.) 
               Organic and inorganic materials from landfills dissolve and contaminate local groundwater with heavy metals, 
               <strong class="vocabulary">ammonia</strong>, <strong class="vocabulary">pathogens,</strong> and other toxic 
               <strong class="vocabulary">organic compounds.</strong> Landfills also make soil less fertile, and this threatens 
               and decreases plant growth in the areas in and near landfills. </p>
               <br>
               <p><strong>Recycling, on the other hand, reduces the amount of waste that enters landfills.</strong></p>
               <br>
               <p>There are three steps in the large-scale recycling process: (1) collecting and processing, (2) manufacturing, 
                 and (3) buying recycled products. After your recyclables are collected they are sorted, cleaned, and processed
                  into manufacturable materials. They are then sent to manufacturing plants to be converted into products for use 
                  by you and me. </p>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Recycling Like a Pro</ion-card-subtitle>
          </ion-card-header>
    
          <ion-card-content>
            <p>Recycling is a simple choice to make. By recycling, the scope of landfill-related problems mentioned above,
               such as soil and water contamination, methane emissions, and ecosystem damage, are  drastically reduced. 
               Take the lead in your family to learn about <a href="https://www.epa.gov/recycle/how-do-i-recycle-common-recyclables" target="_blank">what can be recycled</a>
               and the steps you 
               can take to recycle them.</p> 
        </ion-card-content>
      </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading"> Set recycling goals for your home!</ion-card-title>
          </ion-card-header>

        <ion-card-content>
          <p> Discuss the tremendous benefits recycling can have on our environment. 
            Figure out how to effectively recycle in your home and keep your family and roommates on 
             track with your recycling goals.  </p>
        </ion-card-content>
        </ion-card>

        
           <br>   
         </p>

  
    
         <div class = "ion-text-center" [hidden] = "hideVerfCard">
          <h4 [hidden]="kidPledge">  I pledge to lead my family in adopting new recycling habits, including knowing what items our city or county accepts for recycling.</h4>
          <h4 [hidden]="teenPledge"> I pledge to lead my family in adopting new recycling habits, including knowing what items our city or county accepts for recycling.</h4>
          <h4 [hidden]="adultPledge"> I pledge to lead my family and friends in adopting new recycling habits, including knowing what items our city or county accepts for recycling.</h4>
    </div> 

   <p [hidden] = "kidPledge"> 
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      What items do you currently recycle that you should not be recycling? What items will you now start recycling?
      <ion-row>
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 1030 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
   </p>


   <p [hidden] = "teenPledge">
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      What items do you currently recycle that you should not be recycling? What items will you now start recycling?
      <ion-row>
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 1030 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
</p>


<p [hidden] = "adultPledge">
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      What items do you currently recycle that you should not be recycling? What items will you now start recycling?
      <ion-row>
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 1030 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
</p>

  <ion-card [hidden]  ="pledgeSubmittedCard">
    <ion-card-header>
      <ion-card-title>
        Thank you for taking the pledge! 
      </ion-card-title>
      <ion-card-content>
        <p [hidden] = "pledgeIsPending">Your pledge submission is currently pending.</p>
        <p [hidden] = "pledgeIsApproved">Your pledge submission has been approved!</p><br [hidden] = "hideYourSubmissionHeading"><br [hidden] = "hideYourSubmissionHeading">
        <p [hidden] = "hideYourSubmissionHeading">Your submission: </p>
        <p>
          <em>{{this.pledgeContent}}</em>
        </p>
      </ion-card-content>
    </ion-card-header>  
  </ion-card>

</ion-grid>
</ion-content>
