<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/transportation"></ion-back-button>
    </ion-buttons>
    <ion-title>Waste Not Want Not</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">
  <ion-grid>

     <p [hidden] = "kidPledge">   

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>

            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>

          </ion-card-header>
         
          <ion-card-content>
           <p> Food waste does just what it says in the name: waste our world’s <strong class="vocabulary">natural resources!</strong> Food 
            we all throw away uses up 19% of our fertilizer, 21% of our freshwater, 21% of our landfills, and 18% of the land we grow fruits 
            and vegetables on. Every year, our country spends about $220 billion growing, harvesting, and transporting 70 million tons of food 
            that goes to waste. That’s a lot of money, and the land that goes into producing all of our food could cover ¾ of California!  </p>
             <br> 
             <p> All of the food we throw away also produces a lot of <strong class="vocabulary">methane</strong> while decomposing.
              <strong class="vocabulary">Methane</strong> is a powerful greenhouse gas that has 21 times the ability to trap heat 
              underneath the layers of our atmosphere of <strong class="vocabulary">carbon dioxide.</strong> All the food we grow, eat, 
              and throw away contributes to 1/3 of human-caused greenhouse gas emissions. Even though it sounds a little crazy, food is 
              one of the top contributors to global warming!</p>
          </ion-card-content>
        </ion-card>
  
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Waste Not Want Not</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
              <p> The information above can help you understand the effects that the food you throw away can have on your 
                wallet and the environment. Lead your family in a discussion about the changes that you will make in your
                 home to waste less food. Pick a strategy that works best for you and your family to make your home more
                  sustainable and free of food waste!. The information below can help guide you and your family on your journey. </p> 
              <br>
              <p> To start, plan your meals ahead of time. Don’t buy anything that you aren’t going to eat or that you won’t use. Think 
                about how much of the things on your shopping list you need to avoid buying more of than you are going to eat. Having food
                 go bad is more of a pressing issue with fruit, vegetables, eggs, and other perishable goods. Over half of the fruits and 
                 vegetables in our country are wasted. You can help to reduce this number by canning fruits and vegetables that are about
                  to go bad, storing fruits by themselves so they ripen more slowly, and only buying perishable goods only in the amounts you need.  </p>
              <br>
              <p> You should also try to use up what’s in your fridge before going out to buy new ingredients. Try mixing new ingredients and find a 
                new favorite dish!  If you have food you know will go to waste in your home that is fresh or a nonperishable good, donate it to your 
                local food rescue or food bank (<a href="https://www.hungerfreecolorado.org/network/?gclid=EAIaIQobChMI26i0x5fz6AIVA__jBx0hugVDEAAYASAAEgKp1PD_BwE" target = "_blank">Colorado Food Pantry Network website</a>).
                If you have food that is expired or rotting, try starting a compost pile at your home to give all of those nutrients back to the soil. 
                Go to <a href="https://www.goodhousekeeping.com/home/gardening/advice/a23945/start-composting/" target = "_blank">Good Housekeeping’s guide for first-time composters</a> if you want to learn how to compost. 
                If you don’t want the responsibility 
                and commitment of having a compost pile at home, send it to a local composting company like <a href="https://www.compostqueenstx.com/" target = "_blank">Compost Queens</a> or <a href="https://www.commongoodcompost.org/" target = "_blank">Common Good Good Compost LLC</a>. Have fun, and waste less! </p>
          </ion-card-content>
        </ion-card>


        <br>
      </p> 
    

            <p [hidden] = "teenPledge">
              
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p> Food waste does just what it says in the name: waste our world’s <strong class="vocabulary">natural resources!</strong> Food 
              we all throw away uses up 19% of our fertilizer, 21% of our freshwater, 21% of our landfills, and 18% of the land we grow fruits 
              and vegetables on. Every year, our country spends about $220 billion growing, harvesting, and transporting 70 million tons of food 
              that goes to waste. That’s a lot of money, and the land that goes into producing all of our food could cover ¾ of California!  </p>
               <br> 
               <p> All of the food we throw away also produces a lot of <strong class="vocabulary">methane</strong> while decomposing.
                <strong class="vocabulary">Methane</strong> is a powerful greenhouse gas that has 21 times the ability to trap heat 
                underneath the layers of our atmosphere of <strong class="vocabulary">carbon dioxide.</strong> All the food we grow, eat, 
                and throw away contributes to 1/3 of human-caused greenhouse gas emissions. Even though it sounds a little crazy, food is 
                one of the top contributors to global warming!</p>
          </ion-card-content>
        </ion-card>
    
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Waste Not Want Not</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
            <p> The information above can help you understand the effects that the food you throw away can have on your 
              wallet and the environment. Lead your family in a discussion about the changes that you will make in your
               home to waste less food. Pick a strategy that works best for you and your family to make your home more
                sustainable and free of food waste!. The information below can help guide you and your family on your journey. </p> 
            <br>
            <p> To start, plan your meals ahead of time. Don’t buy anything that you aren’t going to eat or that you won’t use. Think 
              about how much of the things on your shopping list you need to avoid buying more of than you are going to eat. Having food
               go bad is more of a pressing issue with fruit, vegetables, eggs, and other perishable goods. Over half of the fruits and 
               vegetables in our country are wasted. You can help to reduce this number by canning fruits and vegetables that are about
                to go bad, storing fruits by themselves so they ripen more slowly, and only buying perishable goods only in the amounts you need.  </p>
            <br>
                          <p> You should also try to use up what’s in your fridge before going out to buy new ingredients. Try mixing new ingredients and find a 
                new favorite dish!  If you have food you know will go to waste in your home that is fresh or a nonperishable good, donate it to your 
                local food rescue or food bank (<a href="https://www.hungerfreecolorado.org/network/?gclid=EAIaIQobChMI26i0x5fz6AIVA__jBx0hugVDEAAYASAAEgKp1PD_BwE" target = "_blank">Colorado Food Pantry Network website</a>).
                If you have food that is expired or rotting, try starting a compost pile at your home to give all of those nutrients back to the soil. 
                Go to <a href="https://www.goodhousekeeping.com/home/gardening/advice/a23945/start-composting/" target = "_blank">Good Housekeeping’s guide for first-time composters</a> if you want to learn how to compost. 
                If you don’t want the responsibility 
                and commitment of having a compost pile at home, send it to a local composting company like <a href="https://www.compostqueenstx.com/" target = "_blank">Compost Queens</a> or <a href="https://www.commongoodcompost.org/" target = "_blank">Common Good Good Compost LLC</a>. Have fun, and waste less! </p>
          </ion-card-content>
        </ion-card>
        
        <br>
     </p> 
    
            <p [hidden] = "adultPledge">
              
        
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p> Food waste does just what it says in the name: waste our world’s <strong class="vocabulary">natural resources!</strong> Food 
              we all throw away uses up 19% of our fertilizer, 21% of our freshwater, 21% of our landfills, and 18% of the land we grow fruits 
              and vegetables on. Every year, our country spends about $220 billion growing, harvesting, and transporting 70 million tons of food 
              that goes to waste. That’s a lot of money, and the land that goes into producing all of our food could cover ¾ of California!  </p>
               <br> 
               <p> All of the food we throw away also produces a lot of <strong class="vocabulary">methane</strong> while decomposing.
                <strong class="vocabulary">Methane</strong> is a powerful greenhouse gas that has 21 times the ability to trap heat 
                underneath the layers of our atmosphere of <strong class="vocabulary">carbon dioxide.</strong> All the food we grow, eat, 
                and throw away contributes to 1/3 of human-caused greenhouse gas emissions. Even though it sounds a little crazy, food is 
                one of the top contributors to global warming!</p>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Waste Not Want Not</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
            <p> The information above can help you understand the effects that the food you throw away can have on your 
              wallet and the environment. Lead your family in a discussion about the changes that you will make in your
               home to waste less food. Pick a strategy that works best for you and your family to make your home more
                sustainable and free of food waste!. The information below can help guide you and your family on your journey. </p> 
            <br>
            <p> To start, plan your meals ahead of time. Don’t buy anything that you aren’t going to eat or that you won’t use. Think 
              about how much of the things on your shopping list you need to avoid buying more of than you are going to eat. Having food
               go bad is more of a pressing issue with fruit, vegetables, eggs, and other perishable goods. Over half of the fruits and 
               vegetables in our country are wasted. You can help to reduce this number by canning fruits and vegetables that are about
                to go bad, storing fruits by themselves so they ripen more slowly, and only buying perishable goods only in the amounts you need.  </p>
            <br>
                          <p> You should also try to use up what’s in your fridge before going out to buy new ingredients. Try mixing new ingredients and find a 
                new favorite dish!  If you have food you know will go to waste in your home that is fresh or a nonperishable good, donate it to your 
                local food rescue or food bank (<a href="https://www.hungerfreecolorado.org/network/?gclid=EAIaIQobChMI26i0x5fz6AIVA__jBx0hugVDEAAYASAAEgKp1PD_BwE" target = "_blank">Colorado Food Pantry Network website</a>).
                If you have food that is expired or rotting, try starting a compost pile at your home to give all of those nutrients back to the soil. 
                Go to <a href="https://www.goodhousekeeping.com/home/gardening/advice/a23945/start-composting/" target = "_blank">Good Housekeeping’s guide for first-time composters</a> if you want to learn how to compost. 
                If you don’t want the responsibility 
                and commitment of having a compost pile at home, send it to a local composting company like <a href="https://www.compostqueenstx.com/" target = "_blank">Compost Queens</a> or <a href="https://www.commongoodcompost.org/" target = "_blank">Common Good Good Compost LLC</a>. Have fun, and waste less! </p>
          </ion-card-content>
        </ion-card>
        
           <br>   
         </p>

  
    
         <div class = "ion-text-center" [hidden] = "hideVerfCard">
          <h4 [hidden]="kidPledge"> I pledge to try a new method of reducing food waste in my home.  </h4>
          <h4 [hidden]="teenPledge"> I pledge to try a new method of reducing food waste in my home.  </h4>
          <h4 [hidden]="adultPledge"> I pledge to try a new method of reducing food waste in my home. </h4>
    </div> 

   <p [hidden] = "kidPledge"> 
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      What did you do to reduce food waste in your home? Do you see a difference in the amount of food you throw away? Is it working for your family?
      <ion-row [hidden] = "useCamera">
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3" [hidden] = "useCamera">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
        
        <ion-row [hidden] = "dontUseCamera">
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>
       </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 40 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
   </p>


   <p [hidden] = "teenPledge">
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      What did you do to reduce food waste in your home? Do you see a difference in the amount of food you throw away? Is it working for your family?
      <ion-row [hidden] = "useCamera">
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3" [hidden] = "useCamera">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
        
        <ion-row [hidden] = "dontUseCamera">
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>
       </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 40 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
</p>


<p [hidden] = "adultPledge">
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      What did you do to reduce food waste in your home? Do you see a difference in the amount of food you throw away?
      <ion-row [hidden] = "useCamera">
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3" [hidden] = "useCamera">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
        
        <ion-row [hidden] = "dontUseCamera">
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>
       </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 40 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
</p>

  <ion-card [hidden]  ="pledgeSubmittedCard">
    <ion-card-header>
      <ion-card-title>
        Thank you for taking the pledge! 
      </ion-card-title>
      <ion-card-content>
        <p [hidden] = "pledgeIsPending">Your pledge submission is currently pending.</p>
        <p [hidden] = "pledgeIsApproved">Your pledge submission has been approved!</p><br [hidden] = "hideYourSubmissionHeading"><br [hidden] = "hideYourSubmissionHeading">
        <p [hidden] = "hideYourSubmissionHeading">Your submission: </p>
        <p>
          <em>{{this.pledgeContent}}</em>
        </p>
      </ion-card-content>
    </ion-card-header>  
  </ion-card>

</ion-grid>
</ion-content>
