<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/transportation"></ion-back-button>
    </ion-buttons>
    <ion-title>Sayonara Single-Use</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">
  <ion-grid>

     <p [hidden] = "kidPledge">   

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>

            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>

          </ion-card-header>
         
          <ion-card-content>
           <p> Plastic covers every inch of our world. It can even be found in the guts of animals; 90% of our world’s sea birds, more 
             than half of our sea turtles, and even our whales ingest this harmful plastic. Upwards of 180 species have been documented
              to have ingested some type of plastic. It’s predicted that by 2050 the amount of plastic in our oceans will exceed the amount
               of fish in our oceans. Plastic clogs the animal’s digestive system and releases chemicals that are extremely harmful and in 
               most cases life threatening. Some of these chemicals are even transferred into food chains as larger animals eat the prey 
               that have already ingested poisonous plastic. </p>
             <br> 
             <p>Creating plastic also takes an enormous toll on our environment and on our fossil fuel supply. Up to 8% of the world’s oil goes 
               into the manufacturing of plastics. On top of this, a large amount of pollutants are produced in the manufacturing of plastic.
                These pollutants are toxic byproducts of plastic production that pollute our air, water, and soil. The plastic problem isn't 
                going away anytime soon either without action from our communities. According to researchers, the volume of plastic production 
                has grown by 9% per year making it more difficult to reverse and solve the issue.</p>
          </ion-card-content>
        </ion-card>
  
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Sayonara Single-Use</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
              <p>Lead your family with a goal of stopping all use of single-use plastics. You can start right 
                now by making the transition with three items. If it is absolutely necessary to use a single use plastic,
                 try going for a biodegradable option. Otherwise switch to a reusable item;</p> <br>
                 <p>instead of using a single 
                 use coffee cup straight from the shop, use a reusable mug (some locations even offer discounts for 
                 environmentally friendly customers). </p> 
              <br>
              <p> Do you find yourself buying a lot of plastic water bottles? Switch to a reusable water bottle to
                 save money and prevent plastic pollution.</p> <br>
                 <p>It may sound like a cliche, but using a metal straw can
                  really help save the turtles by replacing up to 540 harmful plastic straws per year. </p> <br>
                  <p>When you grocery 
                  shop, bring reusable bags to replace the plastic ones stores provide.</p> <br>
                  <p>Do you like to pack meals? Try 
                  using a beeswax cloth to replace your ziplock bags and plastic wrap, glass or food grade silicone
                   instead of tupperware, and stainless steel utensils instead of plastic to pack your lunches. </p>
          </ion-card-content>
        </ion-card>

        <br>
      </p> 
    

            <p [hidden] = "teenPledge">
              
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p> Plastic covers every inch of our world. It can even be found in the guts of animals; 90% of our world’s sea birds, more 
              than half of our sea turtles, and even our whales ingest this harmful plastic. Upwards of 180 species have been documented
               to have ingested some type of plastic. It’s predicted that by 2050 the amount of plastic in our oceans will exceed the amount
                of fish in our oceans. Plastic clogs the animal’s digestive system and releases chemicals that are extremely harmful and in 
                most cases life threatening. Some of these chemicals are even transferred into food chains as larger animals eat the prey 
                that have already ingested poisonous plastic. </p>
              <br> 
              <p>Creating plastic also takes an enormous toll on our environment and on our fossil fuel supply. Up to 8% of the world’s oil goes 
                into the manufacturing of plastics. On top of this, a large amount of pollutants are produced in the manufacturing of plastic.
                 These pollutants are toxic byproducts of plastic production that pollute our air, water, and soil. The plastic problem isn't 
                 going away anytime soon either without action from our communities. According to researchers, the volume of plastic production 
                 has grown by 9% per year making it more difficult to reverse and solve the issue.</p>
          </ion-card-content>
        </ion-card>
    
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Sayonara Single-Use</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
            <p>Lead your family with a goal of stopping all use of single-use plastics. You can start right 
              now by making the transition with three items. If it is absolutely necessary to use a single use plastic,
               try going for a biodegradable option. Otherwise switch to a reusable item; </p> <br>
               <p>instead of using a single 
               use coffee cup straight from the shop, use a reusable mug (some locations even offer discounts for 
               environmentally friendly customers). </p> 
            <br>
            <p> Do you find yourself buying a lot of plastic water bottles? Switch to a reusable water bottle to
               save money and prevent plastic pollution. </p> <br>
               <p>It may sound like a cliche, but using a metal straw can
                really help save the turtles by replacing up to 540 harmful plastic straws per year.</p> <br>
                <p> When you grocery 
                shop, bring reusable bags to replace the plastic ones stores provide. </p> <br>
                <p>Do you like to pack meals? Try 
                using a beeswax cloth to replace your ziplock bags and plastic wrap, glass or food grade silicone
                 instead of tupperware, and stainless steel utensils instead of plastic to pack your lunches. </p>
          </ion-card-content>
        </ion-card>
        
        <br>
     </p> 
    
            <p [hidden] = "adultPledge">
              
        
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p> Plastic covers every inch of our world. It can even be found in the guts of animals; 90% of our world’s sea birds, more 
              than half of our sea turtles, and even our whales ingest this harmful plastic. Upwards of 180 species have been documented
               to have ingested some type of plastic. It’s predicted that by 2050 the amount of plastic in our oceans will exceed the amount
                of fish in our oceans. Plastic clogs the animal’s digestive system and releases chemicals that are extremely harmful and in 
                most cases life threatening. Some of these chemicals are even transferred into food chains as larger animals eat the prey 
                that have already ingested poisonous plastic. </p>
              <br> 
              <p>Creating plastic also takes an enormous toll on our environment and on our fossil fuel supply. Up to 8% of the world’s oil goes 
                into the manufacturing of plastics. On top of this, a large amount of pollutants are produced in the manufacturing of plastic.
                 These pollutants are toxic byproducts of plastic production that pollute our air, water, and soil. The plastic problem isn't 
                 going away anytime soon either without action from our communities. According to researchers, the volume of plastic production 
                 has grown by 9% per year making it more difficult to reverse and solve the issue.</p>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Sayonara Single-Use</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
            <p>Set a goal to stop using all single-use plastics. You can start right 
              now by making the transition with three items. If it is absolutely necessary to use a single use plastic,
               try going for a biodegradable option. Otherwise switch to a reusable item; </p> <br>
               <p>instead of using a single 
               use coffee cup straight from the shop, use a reusable mug (some locations even offer discounts for 
               environmentally friendly customers). </p> 
            <br>
            <p> Do you find yourself buying a lot of plastic water bottles? Switch to a reusable water bottle to
               save money and prevent plastic pollution.</p><br> 
               <p>It may sound like a cliche, but using a metal straw can
                really help save the turtles by replacing up to 540 harmful plastic straws per year.</p> <br>
                <p>When you grocery 
                shop, bring reusable bags to replace the plastic ones stores provide. </p> <br>
                <p>Do you like to pack meals? Try 
                using a beeswax cloth to replace your ziplock bags and plastic wrap, glass or food grade silicone
                 instead of tupperware, and stainless steel utensils instead of plastic to pack your lunches. </p>
          </ion-card-content>
        </ion-card>
        
           <br>   
         </p>

  
         <div class = "ion-text-center" [hidden] = "hideVerfCard">
          <h4 [hidden]="kidPledge"> I pledge to switch three single-use items that I use in my life to reusable ones. </h4>
          <h4 [hidden]="teenPledge"> I pledge to switch three single-use items that I use in my life to reusable ones.  </h4>
          <h4 [hidden]="adultPledge"> I pledge to switch three single-use items that I use in my life to reusable ones.</h4>
    </div> 

   <p [hidden] = "kidPledge"> 
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      Which three items did you choose and what did you replace these with?
      <ion-row>
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 220 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
   </p>


   <p [hidden] = "teenPledge">
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      Which three items did you choose and what did you replace these with?
      <ion-row>
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 220 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
</p>


<p [hidden] = "adultPledge">
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      Which three items did you choose and what did you replace these with?
      <ion-row>
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 220 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
</p>

  <ion-card [hidden]  ="pledgeSubmittedCard">
    <ion-card-header>
      <ion-card-title>
        Thank you for taking the pledge! 
      </ion-card-title>
      <ion-card-content>
        <p [hidden] = "pledgeIsPending">Your pledge submission is currently pending.</p>
        <p [hidden] = "pledgeIsApproved">Your pledge submission has been approved!</p><br [hidden] = "hideYourSubmissionHeading"><br [hidden] = "hideYourSubmissionHeading">
        <p [hidden] = "hideYourSubmissionHeading">Your submission: </p>
        <p>
          <em>{{this.pledgeContent}}</em>
        </p>
      </ion-card-content>
    </ion-card-header>  
  </ion-card>

</ion-grid>
</ion-content>
