<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/transportation"></ion-back-button>
    </ion-buttons>
    <ion-title>Sustainable Flight = Environmental Might</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">
  <ion-grid>

     <p [hidden] = "kidPledge">   

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>

            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>

          </ion-card-header>
         
          <ion-card-content>
           <p> Jets and planes use a lot of energy, which means they emit a lot of carbon dioxide. A single flight across the United States can produce 
             the equivalent of about 1 metric ton of carbon dioxide per capita! That alone is 1/16 of the air traveling American’s carbon production for 
             a whole year. Air travel around the globe contributes around 1 gigaton of carbon dioxide per year. Approximately 8% of the world’s greenhouse
              gas emissions are due to air travel.  U.S. citizens fly the most miles, and 1/3 of the world’s air traffic takes place in the United States. </p>
             <br> 
             <p>If you do choose to fly, try to take a nonstop flight. Flying nonstop is more sustainable because planes require significantly less energy
                when cruising than when taking off and landing. When choosing a flight, try not to choose business or first class, which encourages airlines 
                to install more business and first class spaces. Choose coach and make flying more energy efficient because it transports more people with the same amound of fuel!  
                Business class is 2 to 3 times less efficient
                 than an economy seat, and first class is up to 4 times less efficient than flying coach. </p>
            <br>
            <p>When you and your family do fly, consider buying carbon offsets through airlines, such as United Airlines and JetBlue. Here is information to make it happen:
              <br>
              <a href="https://www.united.com/ual/en/us/fly/company/global-citizenship/environment/carbon-offset-program.html" target = "_blank">United Airlines</a>
              <br>
              <a href="https://www.jetblue.com/sustainability/sustainable-operations" target = "_blank">JetBlue Airlines</a>
            </p>
          </ion-card-content>
        </ion-card>
  
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Sustainable Flight = Environmental Might</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
              <p> When your family and friends plan to fly, talk to them about choosing other travel options, 
                taking steps to make flying more sustainable, and offsetting the carbon emissions of air travel.
                 Look through the “Should I Fly Checklist” to determine whether you should fly or choose an alternate
                  form of travel. </p> 
          </ion-card-content>
        </ion-card>
        <br>

        <ion-button expand = "full" routerLink = "/tdocs" routerDirection = "root">
          Should I Fly Checklist 
        </ion-button>

        <br>
      </p> 
    

            <p [hidden] = "teenPledge">
              
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>Jets and planes use a lot of energy, which means they emit a lot of carbon dioxide. A single flight across 
              the United States can produce the equivalent of about 1 metric ton of carbon dioxide per capita! That alone
               is 1/16 of the air traveling American’s carbon production for a whole year. Air travel around the globe contributes
                around 1 gigaton of carbon dioxide per year. Approximately 8% of the world’s greenhouse gas emissions are due to air 
                travel.  U.S. citizens fly the most miles, and 1/3 of the world’s air traffic takes place in the United States.</p>
              <br> 
              <p> If you do choose to fly, try to take a nonstop flight. Flying nonstop is more sustainable because planes require
                 significantly less energy when cruising than when taking off and landing. When choosing a flight, try not to choose 
                 business or first class, which encourages airlines to install more business and first class spaces. Choose coach and make 
                 flying more energy efficient because it transports more people with the same amound of fuel!! 
                 Business class is 2 to 3 times less efficient than an economy seat, and first class is up to 4 
                 times less efficient than flying coach.</p>
              <br>
              <p>When you and your family do fly, consider buying carbon offsets through airlines, such as United Airlines and JetBlue. Here is information to make it happen:
                <br>
                <a href="https://www.united.com/ual/en/us/fly/company/global-citizenship/environment/carbon-offset-program.html" target = "_blank">United Airlines</a>
              <br>
              <a href="https://www.jetblue.com/sustainability/sustainable-operations" target = "_blank">JetBlue Airlines</a>
              </p>
          </ion-card-content>
        </ion-card>
    
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Sustainable Flight = Environmental Might</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
              <p> When your family and friends plan to fly, talk to them about choosing other travel options, 
                taking steps to make flying more sustainable, and offsetting the carbon emissions of air travel.
                 Look through the “Should I Fly Checklist” to determine whether you should fly or choose an alternate
                  form of travel. </p> 
          </ion-card-content>
        </ion-card>
        <br>

        <ion-button expand = "full" routerLink = "/tdocs" routerDirection = "root">
          Should I Fly Checklist 
        </ion-button>
        
        <br>
     </p> 
    
            <p [hidden] = "adultPledge">
              
        
        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Let's Learn!</ion-card-title>
            <ion-card-subtitle>Information to Get Started</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>Jets and planes use a lot of energy, which means they emit a lot of carbon dioxide. A single flight across 
              the United States can produce the equivalent of about 1 metric ton of carbon dioxide per capita! That alone
               is 1/16 of the air traveling American’s carbon production for a whole year. Air travel around the globe contributes
                around 1 gigaton of carbon dioxide per year. Approximately 8% of the world’s greenhouse gas emissions are due to air 
                travel.  U.S. citizens fly the most miles, and 1/3 of the world’s air traffic takes place in the United States.</p>
              <br> 
              <p> If you do choose to fly, try to take a nonstop flight. Flying nonstop is more sustainable because planes require
                 significantly less energy when cruising than when taking off and landing. When choosing a flight, try not to choose 
                 business or first class, which encourages airlines to install more business and first class spaces. Choose coach and make 
                 flying more energy efficient because it transports more people with the same amound of fuel!!!
                 Business class is 2 to 3 times less efficient than an economy seat, and first class is up to 4 
                 times less efficient than flying coach.</p>
              <br>
              <p>When you do fly, consider buying carbon offsets through airlines, such as United Airlines and JetBlue. Here is information to make it happen:
                <br>
                <a href="https://www.united.com/ual/en/us/fly/company/global-citizenship/environment/carbon-offset-program.html" target = "_blank">United Airlines</a>
              <br>
              <a href="https://www.jetblue.com/sustainability/sustainable-operations" target = "_blank">JetBlue Airlines</a>
              </p>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-title class = "content-heading">Take the Pledge</ion-card-title>
            
            <ion-card-subtitle>Sustainable Flight = Environmental Might</ion-card-subtitle>
          </ion-card-header>
    
           <ion-card-content>
            <p> When your family and friends plan to fly, talk to them about choosing other travel options, 
              taking steps to make flying more sustainable, and offsetting the carbon emissions of air travel.
               Look through the “Should I Fly Checklist” to determine whether you should fly or choose an alternate
                form of travel. </p> 
          </ion-card-content>
        </ion-card>
        <br>

        <ion-button expand = "full" routerLink = "/tdocs" routerDirection = "root">
          Should I Fly Checklist 
        </ion-button>
        
           <br>   
         </p>

  
    
         <div class = "ion-text-center" [hidden] = "hideVerfCard">
          <h4 [hidden]="kidPledge"> I pledge to fly only if it is a necessary means of travel.</h4>
          <h4 [hidden]="teenPledge">  I pledge to fly only if it is a necessary means of travel. </h4>
          <h4 [hidden]="adultPledge"> I pledge to fly only if it is a necessary means of travel.</h4>
    </div> 

   <p [hidden] = "kidPledge"> 
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      What other methods of travel or communication can you or will you use when you can't fly? In what ways can you make this alternative turn out to be a great success?
      <ion-row>
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 590 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
   </p>


   <p [hidden] = "teenPledge">
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      What other methods of travel or communication can you or will you use when you can't fly? In what ways can you make this alternative turn out to be a great success?
      <ion-row>
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 590 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
</p>


<p [hidden] = "adultPledge">
  <ion-card class="verifyPledgeForm" [hidden] = "hideVerfCard">
    <ion-card-header> Verify your impact. </ion-card-header>
    <ion-card-content>
      What other methods of travel or communication can you or will you use when you can't fly? In what ways can you make this alternative turn out to be a great success?
      <ion-row>
        <ion-col size="9">
          <ion-item>
            <ion-label position="stacked">Completion Details:</ion-label>
            <ion-textarea [(ngModel)]="verification" type="text" 
            placeholder="Type your response here!"></ion-textarea>
          </ion-item>
        </ion-col>

        <ion-col size="3">
          <ion-button (click)="takePicture()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <span *ngIf="pledgePicture">Picture taken!</span>

      <ion-button color="secondary" expand="block" (click)="verifyPledge(verification)" [disabled]="!verification">
        Earn 590 Points
      </ion-button>
    </ion-card-content>
  </ion-card>
</p>

  <ion-card [hidden]  ="pledgeSubmittedCard">
    <ion-card-header>
      <ion-card-title>
        Thank you for taking the pledge! 
      </ion-card-title>
      <ion-card-content>
        <p [hidden] = "pledgeIsPending">Your pledge submission is currently pending.</p>
        <p [hidden] = "pledgeIsApproved">Your pledge submission has been approved!</p><br [hidden] = "hideYourSubmissionHeading"><br [hidden] = "hideYourSubmissionHeading">
        <p [hidden] = "hideYourSubmissionHeading">Your submission: </p>
        <p>
          <em>{{this.pledgeContent}}</em>
        </p>
      </ion-card-content>
    </ion-card-header>  
  </ion-card>

</ion-grid>
</ion-content>
